swagger: "2.0"
info:
  version: 1.0.0
  title: Beyond REST API
host: api-shop.beyondshop.cloud
basePath: /api
schemes:
- https
paths:
  /:
    get:
      summary: Index unauthorized
      description: ""
      operationId: index-unauthorized
      produces:
      - application/json
      responses:
        401:
          description: ""
          examples:
            application/json: '{"errorId":"unauthorized","details":{},"message":"Full
              authentication is required to access this resource","traceId":null}'
  /carts:
    post:
      tags:
      - carts
      summary: Create cart
      description: Creates a cart.
      operationId: cart-create
      produces:
      - application/hal+json
      responses:
        201:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "32f131d1-e60a-4768-b6e7-a6b1eb115a29",
                "lineItems" : [ ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "fbd28ab6-1719-403f-b5cb-32fa973fb607",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/045c7c21-2c6c-4d30-92bb-a00322e7afc4/shipping-methods/fbd28ab6-1719-403f-b5cb-32fa973fb607"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "821e37d3-059b-4727-93ad-5b7cfaf561b4",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/821e37d3-059b-4727-93ad-5b7cfaf561b4"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/821e37d3-059b-4727-93ad-5b7cfaf561b4"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/821e37d3-059b-4727-93ad-5b7cfaf561b4/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/821e37d3-059b-4727-93ad-5b7cfaf561b4/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 0,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/32f131d1-e60a-4768-b6e7-a6b1eb115a29"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/32f131d1-e60a-4768-b6e7-a6b1eb115a29/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/32f131d1-e60a-4768-b6e7-a6b1eb115a29/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/32f131d1-e60a-4768-b6e7-a6b1eb115a29/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/32f131d1-e60a-4768-b6e7-a6b1eb115a29/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/32f131d1-e60a-4768-b6e7-a6b1eb115a29/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/32f131d1-e60a-4768-b6e7-a6b1eb115a29/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/32f131d1-e60a-4768-b6e7-a6b1eb115a29/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/32f131d1-e60a-4768-b6e7-a6b1eb115a29/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/32f131d1-e60a-4768-b6e7-a6b1eb115a29/shipping-address"
                  }
                }
              }
  /carts/{cartId}:
    get:
      tags:
      - carts
      summary: Show cart details
      description: Returns the details of the cart identified by {cartId}.
      operationId: cart-get
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "7b8469d1-dc71-49ae-a934-ba551ef98fee",
                "lineItems" : [ {
                  "_type" : "PRODUCT",
                  "_id" : "3f41ca6f-c7e8-4d33-8733-4b30dc02eeca",
                  "_ref" : "0ee306f7-5a45-4121-a590-ca7e94cc0ced",
                  "name" : "Power & Vanilla Coconut Protein Bar (Pack of 5)",
                  "quantity" : 1,
                  "singleItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemTax" : {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.19,
                    "currency" : "EUR",
                    "amount" : 0.9405
                  },
                  "_embedded" : {
                    "product" : {
                      "_id" : "0ee306f7-5a45-4121-a590-ca7e94cc0ced",
                      "sku" : "EB001",
                      "essentialFeatures" : "Preservative-free. No added sweeteners. Vegan.",
                      "_links" : {
                        "product" : {
                          "href" : "https://yourshop.api.urn/product-view/products/0ee306f7-5a45-4121-a590-ca7e94cc0ced?locale=de-DE"
                        },
                        "default-image-data" : {
                          "href" : "https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png"
                        }
                      }
                    }
                  },
                  "_links" : {
                    "self" : {
                      "href" : "https://yourshop.api.urn/carts/7b8469d1-dc71-49ae-a934-ba551ef98fee/line-items/3f41ca6f-c7e8-4d33-8733-4b30dc02eeca"
                    }
                  }
                } ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "85e0bd3b-830d-4773-85a0-42e21746ff16",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/2386244f-39f5-4517-93b6-f2ff5270c7ff/shipping-methods/85e0bd3b-830d-4773-85a0-42e21746ff16"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "f8a8d1d8-c68e-4aee-bd4e-0dd8fd5952ff",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/f8a8d1d8-c68e-4aee-bd4e-0dd8fd5952ff"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/f8a8d1d8-c68e-4aee-bd4e-0dd8fd5952ff"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/f8a8d1d8-c68e-4aee-bd4e-0dd8fd5952ff/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/f8a8d1d8-c68e-4aee-bd4e-0dd8fd5952ff/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : {
                  "salutation" : "Mrs",
                  "gender" : "FEMALE",
                  "company" : null,
                  "title" : "",
                  "firstName" : "Astrid",
                  "middleName" : "Agnes",
                  "lastName" : "Alster",
                  "street" : "Alsterwasserweg",
                  "houseNumber" : "2",
                  "street2" : "Erdgeschoss",
                  "addressExtension" : "Hinterhof",
                  "postalCode" : "20999",
                  "city" : "Alsterwasser",
                  "country" : "DE",
                  "state" : "Hamburg",
                  "email" : "a.alsterh@example.com",
                  "phone" : "(800) 555-0102",
                  "mobile" : "(800) 555-0103",
                  "displayAddressLines" : [ "Astrid Agnes Alster", "Alsterwasserweg 2", "Erdgeschoss", "Hinterhof", "20999 Alsterwasser", "DEUTSCHLAND" ],
                  "vatId" : "123456789",
                  "taxNumber" : "123-34-6789",
                  "birthDate" : "1985-03-20"
                },
                "shippingAddress" : {
                  "salutation" : "Mrs",
                  "gender" : "FEMALE",
                  "company" : null,
                  "title" : "",
                  "firstName" : "Astrid",
                  "middleName" : "Agnes",
                  "lastName" : "Alster",
                  "street" : "Alsterwasserweg",
                  "houseNumber" : "2",
                  "street2" : "Erdgeschoss",
                  "addressExtension" : "Hinterhof",
                  "postalCode" : "20999",
                  "city" : "Alsterwasser",
                  "country" : "DE",
                  "state" : "Hamburg",
                  "email" : "a.alsterh@example.com",
                  "phone" : "(800) 555-0102",
                  "mobile" : "(800) 555-0103",
                  "displayAddressLines" : [ "Astrid Agnes Alster", "Alsterwasserweg 2", "Erdgeschoss", "Hinterhof", "20999 Alsterwasser", "DEUTSCHLAND" ],
                  "doorCode" : "0185"
                },
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 4.95
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ {
                  "taxClass" : "REGULAR",
                  "taxRate" : 0.0,
                  "currency" : "EUR",
                  "amount" : 0
                } ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 190,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : true,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : true
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/7b8469d1-dc71-49ae-a934-ba551ef98fee"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/7b8469d1-dc71-49ae-a934-ba551ef98fee/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/7b8469d1-dc71-49ae-a934-ba551ef98fee/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/7b8469d1-dc71-49ae-a934-ba551ef98fee/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/7b8469d1-dc71-49ae-a934-ba551ef98fee/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/7b8469d1-dc71-49ae-a934-ba551ef98fee/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/7b8469d1-dc71-49ae-a934-ba551ef98fee/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/7b8469d1-dc71-49ae-a934-ba551ef98fee/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/7b8469d1-dc71-49ae-a934-ba551ef98fee/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/7b8469d1-dc71-49ae-a934-ba551ef98fee/shipping-address"
                  },
                  "place-order" : {
                    "href" : "https://yourshop.api.urn/carts/7b8469d1-dc71-49ae-a934-ba551ef98fee/order"
                  }
                }
              }
          schema:
            $ref: '#/definitions/carts_cartId831072946'
    delete:
      tags:
      - carts
      summary: Delete cart
      description: Deletes the cart identified by {cartId}.
      operationId: cart-delete
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        204:
          description: ""
          examples: {}
  /carts/{cartId}/billing-address:
    put:
      tags:
      - carts
      summary: Set cart billing address
      description: Sets the billing address of the cart identified by {cartId}. The
        billing address is mandatory for a cart being ready to order.
      operationId: cart-set-billing-address
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_billing-address-427724040'
        x-examples:
          application/json: '{"salutation":"Mrs","gender":"FEMALE","title":"","firstName":"Astrid","middleName":"Agnes","lastName":"Alster","street":"Alsterwasserweg","houseNumber":"2","street2":"Erdgeschoss","doorCode":"0185","addressExtension":"Hinterhof","postalCode":"20999","city":"Alsterwasser","country":"DE","state":"Hamburg","email":"a.alsterh@example.com","phone":"(800)
            555-0102","mobile":"(800) 555-0103","vatId":"123456789","taxNumber":"123-34-6789","birthDate":"1985-03-20"}'
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "c16a40d7-c43d-43f0-99f7-9c729d9cdd2d",
                "lineItems" : [ ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "41800b2c-e21d-4fce-8856-3608c64396b9",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/8f3dae99-a83b-4d5f-904e-ae2ce37378a1/shipping-methods/41800b2c-e21d-4fce-8856-3608c64396b9"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "9c64720a-1e05-4933-a011-661f09d19759",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/9c64720a-1e05-4933-a011-661f09d19759"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/9c64720a-1e05-4933-a011-661f09d19759"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/9c64720a-1e05-4933-a011-661f09d19759/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/9c64720a-1e05-4933-a011-661f09d19759/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : {
                  "salutation" : "Mrs",
                  "gender" : "FEMALE",
                  "company" : null,
                  "title" : "",
                  "firstName" : "Astrid",
                  "middleName" : "Agnes",
                  "lastName" : "Alster",
                  "street" : "Alsterwasserweg",
                  "houseNumber" : "2",
                  "street2" : "Erdgeschoss",
                  "addressExtension" : "Hinterhof",
                  "postalCode" : "20999",
                  "city" : "Alsterwasser",
                  "country" : "DE",
                  "state" : "Hamburg",
                  "email" : "a.alsterh@example.com",
                  "phone" : "(800) 555-0102",
                  "mobile" : "(800) 555-0103",
                  "displayAddressLines" : [ "Astrid Agnes Alster", "Alsterwasserweg 2", "Erdgeschoss", "Hinterhof", "20999 Alsterwasser", "DEUTSCHLAND" ],
                  "vatId" : "123456789",
                  "taxNumber" : "123-34-6789",
                  "birthDate" : "1985-03-20"
                },
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 0,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : true,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : true
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/c16a40d7-c43d-43f0-99f7-9c729d9cdd2d"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/c16a40d7-c43d-43f0-99f7-9c729d9cdd2d/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/c16a40d7-c43d-43f0-99f7-9c729d9cdd2d/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/c16a40d7-c43d-43f0-99f7-9c729d9cdd2d/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/c16a40d7-c43d-43f0-99f7-9c729d9cdd2d/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/c16a40d7-c43d-43f0-99f7-9c729d9cdd2d/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/c16a40d7-c43d-43f0-99f7-9c729d9cdd2d/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/c16a40d7-c43d-43f0-99f7-9c729d9cdd2d/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/c16a40d7-c43d-43f0-99f7-9c729d9cdd2d/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/c16a40d7-c43d-43f0-99f7-9c729d9cdd2d/shipping-address"
                  },
                  "place-order" : {
                    "href" : "https://yourshop.api.urn/carts/c16a40d7-c43d-43f0-99f7-9c729d9cdd2d/order"
                  }
                }
              }
  /carts/{cartId}/create-payment:
    post:
      tags:
      - carts
      summary: Create payment
      description: Creates a payment for the cart identified by {cartId}.
      operationId: cart-create-payment
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_create-payment1879371795'
        x-examples:
          application/json: |-
            {
              "returnUri" : "http://some.com/return",
              "cancelUri" : "http://some.com/cancel"
            }
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "approvalUri" : "http://some.com/approval",
                "embeddedApprovalUri" : null
              }
          schema:
            $ref: '#/definitions/carts_cartId_create-payment1629403420'
  /carts/{cartId}/create-payment-and-order:
    post:
      tags:
      - carts
      summary: Create payment and order
      description: If the payment method's flow is `PAYMENT_ON_BUY`, initiates payment
        and order for the cart identified by {cartId} with a single request. Not possible
        with `PAYMENT_ON_SELECTION`.
      operationId: cart-create-payment-and-order
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_create-payment-and-order1431792943'
        x-examples:
          application/json: |-
            {
              "returnUri" : "http://some.com/return",
              "cancelUri" : "http://some.com/cancel",
              "customerComment" : "Send it fast please!",
              "salesChannel" : "Storefront",
              "marketingChannel" : "Google",
              "marketingSubchannel" : "Search page 2",
              "testOrder" : false
            }
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "approvalUri" : "http://some.com/approval",
                "embeddedApprovalUri" : null
              }
          schema:
            $ref: '#/definitions/carts_cartId_create-payment1629403420'
  /carts/{cartId}/line-items:
    post:
      tags:
      - carts
      summary: Add single line item to cart
      description: Adds a line item to the cart identified by {cartId}. Currently
        only product line items are supported.
      operationId: cart-add-line-item
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_line-items-671521061'
        x-examples:
          application/json: '{"_type":"PRODUCT","_ref":"143617e2-1622-4634-934c-52f5dee4ac57","quantity":1}'
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "b4b43bb8-a95e-41c4-806a-3d07261c703e",
                "lineItems" : [ {
                  "_type" : "PRODUCT",
                  "_id" : "ad2d8e2b-c80f-4c8c-b9da-8d6d9bb401b9",
                  "_ref" : "143617e2-1622-4634-934c-52f5dee4ac57",
                  "name" : "Power & Vanilla Coconut Protein Bar (Pack of 5)",
                  "quantity" : 1,
                  "singleItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemTax" : {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.19,
                    "currency" : "EUR",
                    "amount" : 0.9405
                  },
                  "_embedded" : {
                    "product" : {
                      "_id" : "143617e2-1622-4634-934c-52f5dee4ac57",
                      "sku" : "EB001",
                      "essentialFeatures" : "Preservative-free. No added sweeteners. Vegan.",
                      "_links" : {
                        "product" : {
                          "href" : "https://yourshop.api.urn/product-view/products/143617e2-1622-4634-934c-52f5dee4ac57?locale=de-DE"
                        },
                        "default-image-data" : {
                          "href" : "https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png"
                        }
                      }
                    }
                  },
                  "_links" : {
                    "self" : {
                      "href" : "https://yourshop.api.urn/carts/b4b43bb8-a95e-41c4-806a-3d07261c703e/line-items/ad2d8e2b-c80f-4c8c-b9da-8d6d9bb401b9"
                    }
                  }
                } ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "f677e07e-997e-4227-b275-f7e976db888e",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/09d86a46-c5c7-4617-bd2e-f35fd4b65e6e/shipping-methods/f677e07e-997e-4227-b275-f7e976db888e"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "4296abcc-5ad6-4d52-a16b-d1785f2bd855",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/4296abcc-5ad6-4d52-a16b-d1785f2bd855"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/4296abcc-5ad6-4d52-a16b-d1785f2bd855"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/4296abcc-5ad6-4d52-a16b-d1785f2bd855/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/4296abcc-5ad6-4d52-a16b-d1785f2bd855/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 4.95
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ {
                  "taxClass" : "REGULAR",
                  "taxRate" : 0.0,
                  "currency" : "EUR",
                  "amount" : 0
                } ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 190,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/b4b43bb8-a95e-41c4-806a-3d07261c703e"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/b4b43bb8-a95e-41c4-806a-3d07261c703e/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/b4b43bb8-a95e-41c4-806a-3d07261c703e/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/b4b43bb8-a95e-41c4-806a-3d07261c703e/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/b4b43bb8-a95e-41c4-806a-3d07261c703e/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/b4b43bb8-a95e-41c4-806a-3d07261c703e/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/b4b43bb8-a95e-41c4-806a-3d07261c703e/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/b4b43bb8-a95e-41c4-806a-3d07261c703e/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/b4b43bb8-a95e-41c4-806a-3d07261c703e/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/b4b43bb8-a95e-41c4-806a-3d07261c703e/shipping-address"
                  }
                }
              }
    put:
      tags:
      - carts
      summary: Set line items
      description: Adds line items to the cart identified by {cartId}. Currently only
        product line items are supported.
      operationId: cart-set-line-items
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_line-items1202954402'
        x-examples:
          application/json: '[{"_type":"PRODUCT","_ref":"2a7db220-0878-4e09-a834-0c0d541efd84","quantity":1}]'
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "77830a56-5b7b-4732-b1a4-3d860b682fb3",
                "lineItems" : [ {
                  "_type" : "PRODUCT",
                  "_id" : "5cdd42d9-8d89-41e5-9dcf-905c9e9bb21e",
                  "_ref" : "2a7db220-0878-4e09-a834-0c0d541efd84",
                  "name" : "Power & Vanilla Coconut Protein Bar (Pack of 5)",
                  "quantity" : 1,
                  "singleItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemTax" : {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.19,
                    "currency" : "EUR",
                    "amount" : 0.9405
                  },
                  "_embedded" : {
                    "product" : {
                      "_id" : "2a7db220-0878-4e09-a834-0c0d541efd84",
                      "sku" : "EB001",
                      "essentialFeatures" : "Preservative-free. No added sweeteners. Vegan.",
                      "_links" : {
                        "product" : {
                          "href" : "https://yourshop.api.urn/product-view/products/2a7db220-0878-4e09-a834-0c0d541efd84?locale=de-DE"
                        },
                        "default-image-data" : {
                          "href" : "https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png"
                        }
                      }
                    }
                  },
                  "_links" : {
                    "self" : {
                      "href" : "https://yourshop.api.urn/carts/77830a56-5b7b-4732-b1a4-3d860b682fb3/line-items/5cdd42d9-8d89-41e5-9dcf-905c9e9bb21e"
                    }
                  }
                } ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "05a67b3d-fdee-471b-895c-e35a4fb7f921",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/71fe8534-b3bf-489c-bdd7-2a5249f8b35e/shipping-methods/05a67b3d-fdee-471b-895c-e35a4fb7f921"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "e37d8710-c089-48ca-8935-83f138e7ba8d",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/e37d8710-c089-48ca-8935-83f138e7ba8d"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/e37d8710-c089-48ca-8935-83f138e7ba8d"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/e37d8710-c089-48ca-8935-83f138e7ba8d/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/e37d8710-c089-48ca-8935-83f138e7ba8d/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 4.95
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ {
                  "taxClass" : "REGULAR",
                  "taxRate" : 0.0,
                  "currency" : "EUR",
                  "amount" : 0
                } ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 190,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/77830a56-5b7b-4732-b1a4-3d860b682fb3"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/77830a56-5b7b-4732-b1a4-3d860b682fb3/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/77830a56-5b7b-4732-b1a4-3d860b682fb3/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/77830a56-5b7b-4732-b1a4-3d860b682fb3/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/77830a56-5b7b-4732-b1a4-3d860b682fb3/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/77830a56-5b7b-4732-b1a4-3d860b682fb3/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/77830a56-5b7b-4732-b1a4-3d860b682fb3/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/77830a56-5b7b-4732-b1a4-3d860b682fb3/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/77830a56-5b7b-4732-b1a4-3d860b682fb3/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/77830a56-5b7b-4732-b1a4-3d860b682fb3/shipping-address"
                  }
                }
              }
  /carts/{cartId}/order:
    post:
      tags:
      - carts
      summary: Create order from cart
      description: |-
        Creates an order from the cart identified by {cartId}.

        This endpoint can only be used on a cart with `checkoutState.readyToOrder == true`. The `readyToOrder` does not include the availability check, so this might still fail if stock-managed products are not available.

        The response contains a location header with a link to the order. Note that the order is created asynchronously and is not available immediately.
      operationId: cart-order
      consumes:
      - application/json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_order1787038009'
        x-examples:
          application/json: |-
            {"customerComment": "send it fast please",
              "salesChannel": "DifferentChannel",
              "marketingChannel": "Google",
              "marketingSubchannel": "Search page 2",
              "testOrder": false,
              "termsAndConditionsExplicitlyAccepted": true
            }
      responses:
        202:
          description: ""
          examples: {}
          headers:
            Location:
              type: string
              description: the link to access the order once it is created
  /carts/{cartId}/payment-methods:
    get:
      tags:
      - carts
      summary: List payment methods of cart
      description: |-
        Returns a list of the applicable payment methods of the cart identified by {cartId}. The payment method type is documented [here](https://beyond-rest-api.docs.stoplight.io/beyond-rest-api/api-reference/payment-methods/payment-method-percentage-get).

        The `selectable` field indicates if a payment method is currently selectable. Non-selectable payment methods are currently restricted because of rules that apply to a cart. Trying to set such a payment method as the current one of the cart will fail.
      operationId: cart-get-payment-methods
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_embedded" : {
                  "payment-methods" : [ {
                    "lineItemPrice" : {
                      "taxModel" : "GROSS",
                      "currency" : "EUR",
                      "amount" : 2
                    },
                    "selectable" : true,
                    "_embedded" : {
                      "payment-method" : {
                        "_id" : "5112d9bf-ce1e-47a6-960b-e8085f7f9c1f",
                        "name" : "Converge",
                        "description" : "Pay with Converge",
                        "officialName" : "Converge",
                        "officialDescription" : "Pay with Converge",
                        "taxClass" : "REGULAR",
                        "discountOrFee" : {
                          "type" : "ABSOLUTE",
                          "absoluteValue" : {
                            "taxModel" : "GROSS",
                            "currency" : "EUR",
                            "amount" : 2
                          },
                          "percentageValue" : null
                        },
                        "position" : 1,
                        "serviceableCountries" : [ "DE" ],
                        "minimumOrderValue" : null,
                        "activated" : true,
                        "activeLogoSet" : null,
                        "onlinePayment" : false,
                        "_links" : {
                          "self" : {
                            "href" : "https://yourshop.api.urn/payment-methods/5112d9bf-ce1e-47a6-960b-e8085f7f9c1f"
                          },
                          "payment-method" : {
                            "href" : "https://yourshop.api.urn/payment-methods/5112d9bf-ce1e-47a6-960b-e8085f7f9c1f"
                          },
                          "deactivate-payment-method" : {
                            "href" : "https://yourshop.api.urn/payment-methods/5112d9bf-ce1e-47a6-960b-e8085f7f9c1f/deactivate"
                          },
                          "payment-method-definition" : {
                            "href" : "https://yourshop.api.urn/payment-methods/5112d9bf-ce1e-47a6-960b-e8085f7f9c1f/payment-method-definition"
                          }
                        }
                      }
                    }
                  } ]
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/ed524cb0-c33f-4481-a320-dba3d3d9455e/payment-methods"
                  }
                }
              }
          schema:
            $ref: '#/definitions/carts_cartId_payment-methods-663923302'
  /carts/{cartId}/shipping-address:
    put:
      tags:
      - carts
      summary: Set current cart shipping address
      description: Sets the shipping address of the cart identified by {cartId}. If
        a shipping address is not set, it will default to the billing address.
      operationId: cart-set-shipping-address
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_shipping-address-100376831'
        x-examples:
          application/json: '{"salutation":"Mrs","gender":"FEMALE","title":"","firstName":"Astrid","middleName":"Agnes","lastName":"Alster","street":"Alsterwasserweg","houseNumber":"2","street2":"Erdgeschoss","doorCode":"0185","addressExtension":"Hinterhof","postalCode":"20999","city":"Alsterwasser","country":"DE","state":"Hamburg","email":"a.alsterh@example.com","phone":"(800)
            555-0102","mobile":"(800) 555-0103"}'
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "f6a044b6-9cee-4255-add6-0520bd42efc2",
                "lineItems" : [ ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "54c0c066-08df-4f3c-94da-b123652cd583",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/da68a02f-1661-4684-bbac-6631478cfff8/shipping-methods/54c0c066-08df-4f3c-94da-b123652cd583"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "4ddfdadc-9ee0-4008-8ece-c04bed1b948a",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/4ddfdadc-9ee0-4008-8ece-c04bed1b948a"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/4ddfdadc-9ee0-4008-8ece-c04bed1b948a"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/4ddfdadc-9ee0-4008-8ece-c04bed1b948a/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/4ddfdadc-9ee0-4008-8ece-c04bed1b948a/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : {
                  "salutation" : "Mrs",
                  "gender" : "FEMALE",
                  "company" : null,
                  "title" : "",
                  "firstName" : "Astrid",
                  "middleName" : "Agnes",
                  "lastName" : "Alster",
                  "street" : "Alsterwasserweg",
                  "houseNumber" : "2",
                  "street2" : "Erdgeschoss",
                  "addressExtension" : "Hinterhof",
                  "postalCode" : "20999",
                  "city" : "Alsterwasser",
                  "country" : "DE",
                  "state" : "Hamburg",
                  "email" : "a.alsterh@example.com",
                  "phone" : "(800) 555-0102",
                  "mobile" : "(800) 555-0103",
                  "displayAddressLines" : [ "Astrid Agnes Alster", "Alsterwasserweg 2", "Erdgeschoss", "Hinterhof", "20999 Alsterwasser", "DEUTSCHLAND" ],
                  "doorCode" : "0185"
                },
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 0,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/f6a044b6-9cee-4255-add6-0520bd42efc2"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/f6a044b6-9cee-4255-add6-0520bd42efc2/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/f6a044b6-9cee-4255-add6-0520bd42efc2/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/f6a044b6-9cee-4255-add6-0520bd42efc2/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/f6a044b6-9cee-4255-add6-0520bd42efc2/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/f6a044b6-9cee-4255-add6-0520bd42efc2/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/f6a044b6-9cee-4255-add6-0520bd42efc2/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/f6a044b6-9cee-4255-add6-0520bd42efc2/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/f6a044b6-9cee-4255-add6-0520bd42efc2/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/f6a044b6-9cee-4255-add6-0520bd42efc2/shipping-address"
                  }
                }
              }
    delete:
      tags:
      - carts
      summary: Delete shipping address
      description: Deletes the shipping address of the cart identified by {cartId}.
        After deletion, the shipping address will default to the billing address.
      operationId: cart-remove-shipping-address
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "d7d1ddbd-01aa-4430-adfa-016bf81f28fb",
                "lineItems" : [ ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "29a94fe1-051f-46df-a1ac-29f72d365db0",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/f934543c-0877-4b29-aa9b-82472ce14ff5/shipping-methods/29a94fe1-051f-46df-a1ac-29f72d365db0"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "03e288e2-8a31-484e-bd39-b084e0645f51",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/03e288e2-8a31-484e-bd39-b084e0645f51"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/03e288e2-8a31-484e-bd39-b084e0645f51"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/03e288e2-8a31-484e-bd39-b084e0645f51/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/03e288e2-8a31-484e-bd39-b084e0645f51/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 0,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/d7d1ddbd-01aa-4430-adfa-016bf81f28fb"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/d7d1ddbd-01aa-4430-adfa-016bf81f28fb/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/d7d1ddbd-01aa-4430-adfa-016bf81f28fb/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/d7d1ddbd-01aa-4430-adfa-016bf81f28fb/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/d7d1ddbd-01aa-4430-adfa-016bf81f28fb/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/d7d1ddbd-01aa-4430-adfa-016bf81f28fb/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/d7d1ddbd-01aa-4430-adfa-016bf81f28fb/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/d7d1ddbd-01aa-4430-adfa-016bf81f28fb/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/d7d1ddbd-01aa-4430-adfa-016bf81f28fb/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/d7d1ddbd-01aa-4430-adfa-016bf81f28fb/shipping-address"
                  }
                }
              }
  /carts/{cartId}/shipping-methods:
    get:
      tags:
      - carts
      summary: Show applicable cart shipping method details
      description: |-
        Returns the applicable shipping method of the cart identified by {cartId}.

        The `selectable` field indicates if a shipping method is currently selectable. Non-selectable shipping methods are currently restricted because of rules that apply to a cart. Trying to set such a shipping method as the current one of the cart will fail.
      operationId: cart-get-shipping-methods
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_embedded" : {
                  "shipping-methods" : [ {
                    "lineItemPrice" : {
                      "taxModel" : "GROSS",
                      "currency" : "EUR",
                      "amount" : 19.99
                    },
                    "selectable" : true,
                    "_embedded" : {
                      "shipping-method" : {
                        "_id" : "a83dc0ef-737a-4753-b9cc-10c7b6db4e03",
                        "name" : "Standard Shipping 2",
                        "description" : "Standard Shipping",
                        "taxClass" : "REGULAR",
                        "position" : 0,
                        "freeShippingValue" : null,
                        "fixedPrice" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 19.99
                        },
                        "weightBasedPrice" : null,
                        "_links" : {
                          "self" : {
                            "href" : "https://yourshop.api.urn/shipping-zones/37c65673-4439-46b9-8b62-ba404e0227a8/shipping-methods/a83dc0ef-737a-4753-b9cc-10c7b6db4e03"
                          }
                        }
                      }
                    }
                  } ]
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/5ab1dff4-6aa6-4212-be87-76309e13838f/shipping-methods"
                  }
                }
              }
          schema:
            $ref: '#/definitions/orders_order-id_processes-309252030'
  /carts/{cartId}/line-items/{lineItemId}:
    put:
      tags:
      - carts
      summary: Replace single line item
      description: Replaces only one line item in the cart identified by {cartId}.
      operationId: cart-replace-line-item
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - name: lineItemId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_line-items_lineItemId-1250123650'
        x-examples:
          application/json: '{"_type":"PRODUCT","_ref":"8b0f1e54-c064-4421-b9cb-df95aa24afe9","quantity":2}'
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "1e6041f7-50c2-4066-8735-59d2a5f039f0",
                "lineItems" : [ {
                  "_type" : "PRODUCT",
                  "_id" : "e067024b-ddae-47e7-b45e-06cb0e977b26",
                  "_ref" : "8b0f1e54-c064-4421-b9cb-df95aa24afe9",
                  "name" : "Power & Vanilla Coconut Protein Bar (Pack of 5)",
                  "quantity" : 2,
                  "singleItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 9.9
                  },
                  "lineItemTax" : {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.19,
                    "currency" : "EUR",
                    "amount" : 1.881
                  },
                  "_embedded" : {
                    "product" : {
                      "_id" : "8b0f1e54-c064-4421-b9cb-df95aa24afe9",
                      "sku" : "EB001",
                      "essentialFeatures" : "Preservative-free. No added sweeteners. Vegan.",
                      "_links" : {
                        "product" : {
                          "href" : "https://yourshop.api.urn/product-view/products/8b0f1e54-c064-4421-b9cb-df95aa24afe9?locale=de-DE"
                        },
                        "default-image-data" : {
                          "href" : "https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png"
                        }
                      }
                    }
                  },
                  "_links" : {
                    "self" : {
                      "href" : "https://yourshop.api.urn/carts/1e6041f7-50c2-4066-8735-59d2a5f039f0/line-items/e067024b-ddae-47e7-b45e-06cb0e977b26"
                    }
                  }
                } ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "931818e9-1f41-4f6d-beab-4a2df538093f",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/7054b1fb-c487-4a57-9027-da0802537c54/shipping-methods/931818e9-1f41-4f6d-beab-4a2df538093f"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "77e7916e-6272-45b1-8bb2-41357360545e",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/77e7916e-6272-45b1-8bb2-41357360545e"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/77e7916e-6272-45b1-8bb2-41357360545e"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/77e7916e-6272-45b1-8bb2-41357360545e/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/77e7916e-6272-45b1-8bb2-41357360545e/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 9.9
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 31.89
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 31.89
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 31.89
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ {
                  "taxClass" : "REGULAR",
                  "taxRate" : 0.0,
                  "currency" : "EUR",
                  "amount" : 0
                } ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 380,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/1e6041f7-50c2-4066-8735-59d2a5f039f0"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/1e6041f7-50c2-4066-8735-59d2a5f039f0/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/1e6041f7-50c2-4066-8735-59d2a5f039f0/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/1e6041f7-50c2-4066-8735-59d2a5f039f0/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/1e6041f7-50c2-4066-8735-59d2a5f039f0/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/1e6041f7-50c2-4066-8735-59d2a5f039f0/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/1e6041f7-50c2-4066-8735-59d2a5f039f0/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/1e6041f7-50c2-4066-8735-59d2a5f039f0/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/1e6041f7-50c2-4066-8735-59d2a5f039f0/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/1e6041f7-50c2-4066-8735-59d2a5f039f0/shipping-address"
                  }
                }
              }
    delete:
      tags:
      - carts
      summary: Delete line item
      description: Deletes the line item identified by {lineItemId} from the cart
        identified by {cartId}.
      operationId: cart-delete-line-item
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - name: lineItemId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "e841475a-3525-4b61-9c59-b655a8394711",
                "lineItems" : [ ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "7fd3adc3-09a7-4a5a-aceb-7a79bd69c2a7",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/62869619-d5b4-4d4d-9668-fb8b279cfd84/shipping-methods/7fd3adc3-09a7-4a5a-aceb-7a79bd69c2a7"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "5ca68ff4-8cd6-4d18-b91e-2e788d6cd5cc",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/5ca68ff4-8cd6-4d18-b91e-2e788d6cd5cc"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/5ca68ff4-8cd6-4d18-b91e-2e788d6cd5cc"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/5ca68ff4-8cd6-4d18-b91e-2e788d6cd5cc/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/5ca68ff4-8cd6-4d18-b91e-2e788d6cd5cc/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 0,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/e841475a-3525-4b61-9c59-b655a8394711"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/e841475a-3525-4b61-9c59-b655a8394711/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/e841475a-3525-4b61-9c59-b655a8394711/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/e841475a-3525-4b61-9c59-b655a8394711/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/e841475a-3525-4b61-9c59-b655a8394711/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/e841475a-3525-4b61-9c59-b655a8394711/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/e841475a-3525-4b61-9c59-b655a8394711/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/e841475a-3525-4b61-9c59-b655a8394711/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/e841475a-3525-4b61-9c59-b655a8394711/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/e841475a-3525-4b61-9c59-b655a8394711/shipping-address"
                  }
                }
              }
  /carts/{cartId}/payment-methods/current:
    get:
      tags:
      - carts
      summary: Show current cart payment method details
      description: Returns the current payment method of the cart identified by {cartId}.
        The payment method type is documented [here](https://beyond-rest-api.docs.stoplight.io/beyond-rest-api/api-reference/payment-methods/payment-method-percentage-get).
      operationId: cart-get-payment-methods-current
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "36fd15cd-1068-4d60-900a-895ef8585f1f",
                "name" : "Converge",
                "description" : "Pay with Converge",
                "officialName" : "Converge",
                "officialDescription" : "Pay with Converge",
                "taxClass" : "REGULAR",
                "discountOrFee" : {
                  "type" : "ABSOLUTE",
                  "absoluteValue" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "percentageValue" : null
                },
                "position" : 1,
                "serviceableCountries" : [ "DE" ],
                "minimumOrderValue" : null,
                "activated" : true,
                "activeLogoSet" : null,
                "onlinePayment" : false,
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/payment-methods/36fd15cd-1068-4d60-900a-895ef8585f1f"
                  },
                  "payment-method" : {
                    "href" : "https://yourshop.api.urn/payment-methods/36fd15cd-1068-4d60-900a-895ef8585f1f"
                  },
                  "deactivate-payment-method" : {
                    "href" : "https://yourshop.api.urn/payment-methods/36fd15cd-1068-4d60-900a-895ef8585f1f/deactivate"
                  },
                  "payment-method-definition" : {
                    "href" : "https://yourshop.api.urn/payment-methods/36fd15cd-1068-4d60-900a-895ef8585f1f/payment-method-definition"
                  }
                }
              }
    put:
      tags:
      - carts
      summary: Set current cart payment method
      description: Sets the current payment method of the cart identified by {cartId}.
      operationId: cart-set-payment-methods-current
      consumes:
      - text/uri-list
      produces:
      - application/json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_payment-methods_current809754608'
        x-examples:
          text/uri-list: https://yourshop.api.urn/payment-methods/cd626fdc-ffa6-46d9-a4f7-edc7951b39e8
      responses:
        200:
          description: ""
          examples:
            application/json: |-
              {
                "_id" : "b3371733-0678-40ce-ad98-cc99e914bb04",
                "lineItems" : [ {
                  "_type" : "PRODUCT",
                  "_id" : "038ab173-7f22-49a6-a355-7df3149c80a8",
                  "_ref" : "043cdb12-b2e2-4201-b4bd-90629ec77d01",
                  "name" : "Power & Vanilla Coconut Protein Bar (Pack of 5)",
                  "quantity" : 1,
                  "singleItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemTax" : {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.19,
                    "currency" : "EUR",
                    "amount" : 0.9405
                  },
                  "_embedded" : {
                    "product" : {
                      "_id" : "043cdb12-b2e2-4201-b4bd-90629ec77d01",
                      "sku" : "EB001",
                      "essentialFeatures" : "Preservative-free. No added sweeteners. Vegan.",
                      "_links" : {
                        "product" : {
                          "href" : "https://yourshop.api.urn/product-view/products/043cdb12-b2e2-4201-b4bd-90629ec77d01?locale=de-DE"
                        },
                        "default-image-data" : {
                          "href" : "https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png"
                        }
                      }
                    }
                  },
                  "_links" : {
                    "self" : {
                      "href" : "https://yourshop.api.urn/carts/b3371733-0678-40ce-ad98-cc99e914bb04/line-items/038ab173-7f22-49a6-a355-7df3149c80a8"
                    }
                  }
                } ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
[...]
