---
swagger: "2.0"
info:
  version: "1.0.0"
  title: "Beyond REST API"
host: "api-shop.beyondshop.cloud"
basePath: "/api"
schemes:
- "https"
paths:
  /:
    get:
      summary: "Index Unauthorized"
      description: ""
      operationId: "index-unauthorized"
      produces:
      - "application/json"
      responses:
        401:
          description: ""
          examples:
            application/json: "{\"errorId\":\"unauthorized\",\"details\":{},\"message\"\
              :\"Full authentication is required to access this resource\",\"traceId\"\
              :null}"
  /amazon-marketplace/access-data:
    get:
      tags:
      - "amazon-marketplace"
      summary: "/amazon-marketplace/access-data"
      description: ""
      operationId: "access-data-get"
      produces:
      - "application/hal+json"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"sellerId\" : \"123456\",\n  \"_links\" :\
              \ {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/amazon-marketplace/access-data/50dbf2db-b215-4ad0-9532-d85d066c1e82\"\
              \n    },\n    \"access-data\" : {\n      \"href\" : \"https://yourshop.api.urn/amazon-marketplace/access-data{?page,size,sort}\"\
              ,\n      \"templated\" : true\n    }\n  }\n}"
          schema:
            $ref: "#/definitions/amazon-marketplace_access-data1639420137"
      security:
      - oauth2_accessCode:
        - "amad:r"
      - oauth2_application:
        - "amad:r"
    post:
      tags:
      - "amazon-marketplace"
      summary: "/amazon-marketplace/access-data"
      description: ""
      operationId: "access-data-create"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/amazon-marketplace_access-data-1529372953"
        x-examples:
          application/json: "{\n  \"sellerId\" : \"1234567\",\n  \"mwsAuthToken\"\
            \ : \"mwsAuthToken\"\n}"
      responses:
        201:
          description: ""
          examples:
            application/hal+json: "{\n  \"sellerId\" : \"1234567\",\n  \"_links\"\
              \ : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/amazon-marketplace/access-data/4c28d500-63c0-44ad-adce-f946c4d4979c\"\
              \n    },\n    \"access-data\" : {\n      \"href\" : \"https://yourshop.api.urn/amazon-marketplace/access-data{?page,size,sort}\"\
              ,\n      \"templated\" : true\n    }\n  }\n}"
          schema:
            $ref: "#/definitions/amazon-marketplace_access-data1639420137"
      security:
      - oauth2_accessCode:
        - "amad:c"
      - oauth2_application:
        - "amad:c"
    put:
      tags:
      - "amazon-marketplace"
      summary: "/amazon-marketplace/access-data"
      description: ""
      operationId: "access-data-put"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/amazon-marketplace_access-data-1529372953"
        x-examples:
          application/json: "{\n  \"sellerId\" : \"1234567\",\n  \"mwsAuthToken\"\
            \ : \"mwsAuthToken\"\n}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"sellerId\" : \"1234567\",\n  \"_links\"\
              \ : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/amazon-marketplace/access-data/c3adfea4-7099-49bd-ae58-9392a1c89a36\"\
              \n    },\n    \"access-data\" : {\n      \"href\" : \"https://yourshop.api.urn/amazon-marketplace/access-data{?page,size,sort}\"\
              ,\n      \"templated\" : true\n    }\n  }\n}"
          schema:
            $ref: "#/definitions/amazon-marketplace_access-data1639420137"
      security:
      - oauth2_accessCode:
        - "amad:u"
      - oauth2_application:
        - "amad:u"
    delete:
      tags:
      - "amazon-marketplace"
      summary: "/amazon-marketplace/access-data"
      description: ""
      operationId: "access-data-delete"
      responses:
        204:
          description: ""
          examples: {}
      security:
      - oauth2_accessCode:
        - "amad:d"
      - oauth2_application:
        - "amad:d"
  /amazon-marketplace/products:
    get:
      tags:
      - "amazon-marketplace"
      summary: "/amazon-marketplace/products"
      description: ""
      operationId: "amazon-product-list"
      produces:
      - "application/hal+json"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"products\" : [ {\n\
              \      \"asin\" : null,\n      \"marketplaceId\" : null,\n      \"price\"\
              \ : null,\n      \"status\" : {\n        \"type\" : \"ASSIGNED\",\n\
              \        \"errorMessage\" : null\n      },\n      \"_id\" : \"105f99c6-a8f4-46c4-8705-f10d96e2dce9\"\
              ,\n      \"parentId\" : \"e988d932-0e6a-4137-b1d8-21458957a160\",\n\
              \      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"\
              https://yourshop.api.urn/amazon-marketplace/products/105f99c6-a8f4-46c4-8705-f10d96e2dce9\"\
              \n        },\n        \"products\" : {\n          \"href\" : \"https://yourshop.api.urn/amazon-marketplace/products{?page,size,sort}\"\
              ,\n          \"templated\" : true\n        },\n        \"product\" :\
              \ {\n          \"href\" : \"https://yourshop.api.urn/products/e988d932-0e6a-4137-b1d8-21458957a160\"\
              \n        }\n      }\n    }, {\n      \"asin\" : null,\n      \"marketplaceId\"\
              \ : null,\n      \"price\" : null,\n      \"status\" : {\n        \"\
              type\" : \"ASSIGNED\",\n        \"errorMessage\" : null\n      },\n\
              \      \"_id\" : \"9ccc7206-6bc2-4ee7-9679-cbf3ef7b813f\",\n      \"\
              parentId\" : \"a861c1c6-d4b3-42b6-8fbb-a1763506fd46\",\n      \"_links\"\
              \ : {\n        \"self\" : {\n          \"href\" : \"https://yourshop.api.urn/amazon-marketplace/products/9ccc7206-6bc2-4ee7-9679-cbf3ef7b813f\"\
              \n        },\n        \"products\" : {\n          \"href\" : \"https://yourshop.api.urn/amazon-marketplace/products{?page,size,sort}\"\
              ,\n          \"templated\" : true\n        },\n        \"product\" :\
              \ {\n          \"href\" : \"https://yourshop.api.urn/products/a861c1c6-d4b3-42b6-8fbb-a1763506fd46\"\
              \n        }\n      }\n    }, {\n      \"asin\" : null,\n      \"marketplaceId\"\
              \ : null,\n      \"price\" : null,\n      \"status\" : {\n        \"\
              type\" : \"ASSIGNED\",\n        \"errorMessage\" : null\n      },\n\
              \      \"_id\" : \"a9fbef97-1464-4584-ac92-2d54c3ec6515\",\n      \"\
              parentId\" : \"1f979d31-db71-4f27-a110-0bc97604e72c\",\n      \"_links\"\
              \ : {\n        \"self\" : {\n          \"href\" : \"https://yourshop.api.urn/amazon-marketplace/products/a9fbef97-1464-4584-ac92-2d54c3ec6515\"\
              \n        },\n        \"products\" : {\n          \"href\" : \"https://yourshop.api.urn/amazon-marketplace/products{?page,size,sort}\"\
              ,\n          \"templated\" : true\n        },\n        \"product\" :\
              \ {\n          \"href\" : \"https://yourshop.api.urn/products/1f979d31-db71-4f27-a110-0bc97604e72c\"\
              \n        }\n      }\n    }, {\n      \"asin\" : null,\n      \"marketplaceId\"\
              \ : null,\n      \"price\" : null,\n      \"status\" : {\n        \"\
              type\" : \"ASSIGNED\",\n        \"errorMessage\" : null\n      },\n\
              \      \"_id\" : \"bd78874d-2b12-4c9f-b28c-2c31fe75c5a0\",\n      \"\
              parentId\" : \"ec101310-7a86-4283-9289-dcd7d779d10e\",\n      \"_links\"\
              \ : {\n        \"self\" : {\n          \"href\" : \"https://yourshop.api.urn/amazon-marketplace/products/bd78874d-2b12-4c9f-b28c-2c31fe75c5a0\"\
              \n        },\n        \"products\" : {\n          \"href\" : \"https://yourshop.api.urn/amazon-marketplace/products{?page,size,sort}\"\
              ,\n          \"templated\" : true\n        },\n        \"product\" :\
              \ {\n          \"href\" : \"https://yourshop.api.urn/products/ec101310-7a86-4283-9289-dcd7d779d10e\"\
              \n        }\n      }\n    }, {\n      \"asin\" : null,\n      \"marketplaceId\"\
              \ : null,\n      \"price\" : null,\n      \"status\" : {\n        \"\
              type\" : \"ASSIGNED\",\n        \"errorMessage\" : null\n      },\n\
              \      \"_id\" : \"c107e59a-d020-4f18-a2ae-703dac45ac86\",\n      \"\
              parentId\" : \"5e85045a-2998-4055-ba22-b13a97207e6a\",\n      \"_links\"\
              \ : {\n        \"self\" : {\n          \"href\" : \"https://yourshop.api.urn/amazon-marketplace/products/c107e59a-d020-4f18-a2ae-703dac45ac86\"\
              \n        },\n        \"products\" : {\n          \"href\" : \"https://yourshop.api.urn/amazon-marketplace/products{?page,size,sort}\"\
              ,\n          \"templated\" : true\n        },\n        \"product\" :\
              \ {\n          \"href\" : \"https://yourshop.api.urn/products/5e85045a-2998-4055-ba22-b13a97207e6a\"\
              \n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/products{?page,size,sort}\"\
              ,\n      \"templated\" : true\n    }\n  },\n  \"page\" : {\n    \"size\"\
              \ : 20,\n    \"totalElements\" : 5,\n    \"totalPages\" : 1,\n    \"\
              number\" : 0\n  }\n}"
          schema:
            $ref: "#/definitions/webhook-subscriptions-1206450827"
      security:
      - oauth2_accessCode:
        - "amzp:r"
      - oauth2_application:
        - "amzp:r"
    post:
      tags:
      - "amazon-marketplace"
      summary: "/amazon-marketplace/products"
      description: ""
      operationId: "amazon-product-post"
      consumes:
      - "text/uri-list"
      parameters:
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/amazon-marketplace_products475137901"
        x-examples:
          text/uri-list: "https://yourshop.api.urn/products/5c06cb5e-94f1-4c8f-86d6-c10d1ea2ee01\n\
            https://yourshop.api.urn/products/3348b2f0-15d5-4abc-ac20-777ea760d63f\n\
            https://yourshop.api.urn/products/54af8e29-654e-41f4-b554-da447d4a7d5e\n\
            https://yourshop.api.urn/products/407b5e8a-1075-4591-a186-240a2abce1d7\n\
            https://yourshop.api.urn/products/b68341b1-cd3b-41bd-ae73-6768cecae314\n"
      responses:
        201:
          description: ""
          examples: {}
      security:
      - oauth2_accessCode:
        - "amzp:c"
      - oauth2_application:
        - "amzp:c"
  /amazon-marketplace/products/publish:
    post:
      tags:
      - "amazon-marketplace"
      summary: "/amazon-marketplace/products/publish"
      description: ""
      operationId: "amazon-marketplace-products-publish-list"
      consumes:
      - "text/uri-list"
      parameters:
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/amazon-marketplace_products_publish860504529"
        x-examples:
          text/uri-list: "https:/yourshop.api.urn/amazon-marketplace/products/c40e5685-2ae8-4ebb-a04b-897f40a03ef5\n\
            https:/yourshop.api.urn/amazon-marketplace/products/bd8c9ebc-cf0b-47dc-946e-b7838290b567\n\
            https:/yourshop.api.urn/amazon-marketplace/products/31d3c714-d1c4-46ea-94a1-9daad7c969ff\n\
            https:/yourshop.api.urn/amazon-marketplace/products/4672e7f9-f4a0-4fdf-87f3-49843522f17b\n\
            https:/yourshop.api.urn/amazon-marketplace/products/86729ae9-312e-4329-ad34-e49f9c159aad\n"
      responses:
        202:
          description: ""
          examples: {}
      security:
      - oauth2_accessCode:
        - "amzp:u"
      - oauth2_application:
        - "amzp:u"
  /amazon-marketplace/products/{id}:
    get:
      tags:
      - "amazon-marketplace"
      summary: "/amazon-marketplace/products/{id}"
      description: ""
      operationId: "amazon-product-get"
      produces:
      - "application/hal+json"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"asin\" : null,\n  \"marketplaceId\" : null,\n\
              \  \"price\" : null,\n  \"status\" : {\n    \"type\" : \"ASSIGNED\"\
              ,\n    \"errorMessage\" : null\n  },\n  \"_id\" : \"37106c03-e65c-44b0-90c1-d5db351fad99\"\
              ,\n  \"parentId\" : \"4303b379-fa16-42e5-b2de-aa3db0d5a213\",\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/amazon-marketplace/products/37106c03-e65c-44b0-90c1-d5db351fad99\"\
              \n    },\n    \"products\" : {\n      \"href\" : \"https://yourshop.api.urn/amazon-marketplace/products{?page,size,sort}\"\
              ,\n      \"templated\" : true\n    },\n    \"product\" : {\n      \"\
              href\" : \"https://yourshop.api.urn/products/4303b379-fa16-42e5-b2de-aa3db0d5a213\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/amazon-marketplace_products_id-1446382770"
      security:
      - oauth2_accessCode:
        - "amzp:r"
      - oauth2_application:
        - "amzp:r"
    put:
      tags:
      - "amazon-marketplace"
      summary: "/amazon-marketplace/products/{id}"
      description: ""
      operationId: "amazon-product-put"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/amazon-marketplace_products_id838601022"
        x-examples:
          application/json: "{\n  \"marketplaceId\" : \"A1PA6795UKMFR9\",\n  \"asin\"\
            \ : \"B0018M993S\",\n  \"price\" : {\n    \"amount\" : 3.99,\n    \"currency\"\
            \ : \"EUR\"\n  }\n}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"asin\" : \"B0018M993S\",\n  \"marketplaceId\"\
              \ : \"A1PA6795UKMFR9\",\n  \"price\" : {\n    \"amount\" : 3.99,\n \
              \   \"currency\" : \"EUR\"\n  },\n  \"status\" : {\n    \"type\" : \"\
              ASSIGNED\",\n    \"errorMessage\" : null\n  },\n  \"_id\" : \"e78f2ab9-6883-4ad0-be6a-d3c353b17d90\"\
              ,\n  \"parentId\" : \"e6448b35-4d32-499a-a543-358202a2356b\",\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/amazon-marketplace/products/e78f2ab9-6883-4ad0-be6a-d3c353b17d90\"\
              \n    },\n    \"products\" : {\n      \"href\" : \"https://yourshop.api.urn/amazon-marketplace/products{?page,size,sort}\"\
              ,\n      \"templated\" : true\n    },\n    \"product\" : {\n      \"\
              href\" : \"https://yourshop.api.urn/products/e6448b35-4d32-499a-a543-358202a2356b\"\
              \n    },\n    \"amazon-product-listing\" : {\n      \"href\" : \"https://www.amazon.de/dp/B0018M993S\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/amazon-marketplace_products_id1800128114"
      security:
      - oauth2_accessCode:
        - "amzp:u"
      - oauth2_application:
        - "amzp:u"
    delete:
      tags:
      - "amazon-marketplace"
      summary: "/amazon-marketplace/products/{id}"
      description: ""
      operationId: "amazon-product-delete"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        204:
          description: ""
          examples: {}
      security:
      - oauth2_accessCode:
        - "amzp:d"
      - oauth2_application:
        - "amzp:d"
  /amazon-marketplace/search/find-product:
    get:
      tags:
      - "amazon-marketplace"
      summary: "/amazon-marketplace/search/find-product?marketplace-id=A1PA6795UKMFR9&identifier-type=EAN&identifier=5702015535571"
      description: ""
      operationId: "search-product"
      produces:
      - "application/json"
      responses:
        200:
          description: ""
          examples:
            application/json: "{\n  \"marketplaceId\" : \"A1PA6795UKMFR9\",\n  \"\
              identifierType\" : \"EAN\",\n  \"identifier\" : \"5702015535571\",\n\
              \  \"asin\" : \"B0018M993S\"\n}"
          schema:
            $ref: "#/definitions/amazon-marketplace_search_find-product721630217"
      security:
      - oauth2_accessCode:
        - "amzs:r"
      - oauth2_application:
        - "amzs:r"
  /app-types:
    get:
      tags:
      - "app-types"
      summary: "Get available app types"
      description: ""
      operationId: "app-types-get"
      produces:
      - "application/json"
      parameters:
      - name: "Authorization"
        in: "header"
        description: "Basic"
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/json: "[ \"SHIPPING\", \"LEGAL\", \"NEWSLETTER\", \"STOREFRONT\"\
              , \"PRODUCT_IMAGE\", \"PAYMENT\", \"ORDER\" ]"
  /apps:
    get:
      tags:
      - "apps"
      summary: "List apps with language"
      description: ""
      operationId: "localized-apps-get-all"
      produces:
      - "application/hal+json"
      parameters:
      - name: "locale"
        in: "query"
        description: "The 5 digit locale code for the required country and language."
        required: true
        type: "string"
      - name: "type"
        in: "query"
        description: "The type name of the app used to categorize apps. Optional field."
        required: true
        type: "string"
      - name: "installationStatus"
        in: "query"
        description: "The installation status of this app in the current shop. Supported\
          \ values are `INSTALLED` or `AVAILABLE`. Optional field."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"apps\" : [ {\n  \
              \    \"name\" : \"Simple + Secure Payment\",\n      \"price\" : \"19\
              \ USD per month\",\n      \"description\" : \"A payment method for simple\
              \ and secure payments in online shops.\",\n      \"images\" : [ \"http://example.com/image1.png\"\
              \ ],\n      \"developer\" : \"Mr D. Veloper\",\n      \"supportEmail\"\
              \ : \"support@example.com\",\n      \"iconUrl\" : \"http://example.com/icon.png\"\
              ,\n      \"appUrl\" : \"http://example.com/login\",\n      \"logoUrl\"\
              \ : \"http://example.com/logo.png\",\n      \"videoUrl\" : \"http://example.com/video.mpg\"\
              ,\n      \"infoWebsite\" : \"http://example.com/info.html\",\n     \
              \ \"supportWebsite\" : \"http://example.com/support.html\",\n      \"\
              clientId\" : \"client_id\",\n      \"scopes\" : [ \"ordr:u\", \"ordr:r\"\
              \ ],\n      \"callbackUrl\" : \"http://example.com/callback\",\n   \
              \   \"additionalConfiguration\" : \"{\\n  \\\"productionConfiguration\\\
              \" : {\\n    \\\"name\\\" : \\\"my-payment-integration\\\",\\n    \\\
              \"referralUriTemplate\\\" : \\\"http://example.com/referral\\\",\\n\
              \    \\\"integrationStatusUri\\\" : \\\"http://example.com/merchant-account-status/{shopId}\\\
              \",\\n    \\\"disconnectUri\\\" : \\\"http://example.com/merchant-account-status/{shopId}\\\
              \",\\n    \\\"createPaymentUri\\\" : \\\"http://example.com/payments\\\
              \",\\n    \\\"capturePaymentUri\\\" : \\\"http://example.com/payments/{id}/capture\\\
              \",\\n    \\\"refundPaymentUri\\\" : \\\"http://example.com/payments/{id}/refund\\\
              \",\\n    \\\"workflow\\\" : \\\"PAYMENT_ON_SELECTION\\\",\\n    \\\"\
              logos\\\" : [ {\\n      \\\"setName\\\" : \\\"official\\\",\\n     \
              \ \\\"variant\\\" : \\\"DETAILS\\\",\\n      \\\"uri\\\" : \\\"http://example.com/details.png\\\
              \"\\n    }, {\\n      \\\"setName\\\" : \\\"official\\\",\\n      \\\
              \"variant\\\" : \\\"LIST\\\",\\n      \\\"uri\\\" : \\\"http://example.com/list.png\\\
              \"\\n    }, {\\n      \\\"setName\\\" : \\\"official\\\",\\n      \\\
              \"variant\\\" : \\\"TILE\\\",\\n      \\\"uri\\\" : \\\"http://example.com/tile.png\\\
              \"\\n    }, {\\n      \\\"setName\\\" : \\\"official\\\",\\n      \\\
              \"variant\\\" : \\\"STOREFRONT\\\",\\n      \\\"uri\\\" : \\\"http://example.com/storefront.png\\\
              \"\\n    } ]\\n  }\\n}\",\n      \"createdAt\" : \"2018-10-18T06:54:18.608\"\
              ,\n      \"feature\" : \"app.another-test-app\",\n      \"type\" : \"\
              PAYMENT\",\n      \"_id\" : \"004e2cfa-4929-4ac6-8bcd-1edf2a580eb8\"\
              ,\n      \"installationStatus\" : \"INSTALLED\",\n      \"_links\" :\
              \ {\n        \"self\" : {\n          \"href\" : \"https://yourshop.api.urn/apps/004e2cfa-4929-4ac6-8bcd-1edf2a580eb8\"\
              \n        },\n        \"uninstall\" : {\n          \"href\" : \"https://yourshop.api.urn/apps/004e2cfa-4929-4ac6-8bcd-1edf2a580eb8/uninstall\"\
              \n        }\n      }\n    }, {\n      \"name\" : \"Simple + Secure Payment\"\
              ,\n      \"price\" : \"19 USD per month\",\n      \"description\" :\
              \ \"A payment method for simple and secure payments in online shops.\"\
              ,\n      \"images\" : [ \"http://example.com/image1.png\" ],\n     \
              \ \"developer\" : \"Mr D. Veloper\",\n      \"supportEmail\" : \"support@example.com\"\
              ,\n      \"iconUrl\" : \"http://example.com/icon.png\",\n      \"appUrl\"\
              \ : \"http://example.com/login\",\n      \"logoUrl\" : \"http://example.com/logo.png\"\
              ,\n      \"videoUrl\" : \"http://example.com/video.mpg\",\n      \"\
              infoWebsite\" : \"http://example.com/info.html\",\n      \"supportWebsite\"\
              \ : \"http://example.com/support.html\",\n      \"clientId\" : \"client_id\"\
              ,\n      \"scopes\" : [ \"ordr:u\", \"ordr:r\" ],\n      \"callbackUrl\"\
              \ : \"http://example.com/callback\",\n      \"additionalConfiguration\"\
              \ : \"{\\n  \\\"productionConfiguration\\\" : {\\n    \\\"name\\\" :\
              \ \\\"my-payment-integration\\\",\\n    \\\"referralUriTemplate\\\"\
              \ : \\\"http://example.com/referral\\\",\\n    \\\"integrationStatusUri\\\
              \" : \\\"http://example.com/merchant-account-status/{shopId}\\\",\\\
              n    \\\"disconnectUri\\\" : \\\"http://example.com/merchant-account-status/{shopId}\\\
              \",\\n    \\\"createPaymentUri\\\" : \\\"http://example.com/payments\\\
              \",\\n    \\\"capturePaymentUri\\\" : \\\"http://example.com/payments/{id}/capture\\\
              \",\\n    \\\"refundPaymentUri\\\" : \\\"http://example.com/payments/{id}/refund\\\
              \",\\n    \\\"workflow\\\" : \\\"PAYMENT_ON_SELECTION\\\",\\n    \\\"\
              logos\\\" : [ {\\n      \\\"setName\\\" : \\\"official\\\",\\n     \
              \ \\\"variant\\\" : \\\"DETAILS\\\",\\n      \\\"uri\\\" : \\\"http://example.com/details.png\\\
              \"\\n    }, {\\n      \\\"setName\\\" : \\\"official\\\",\\n      \\\
              \"variant\\\" : \\\"LIST\\\",\\n      \\\"uri\\\" : \\\"http://example.com/list.png\\\
              \"\\n    }, {\\n      \\\"setName\\\" : \\\"official\\\",\\n      \\\
              \"variant\\\" : \\\"TILE\\\",\\n      \\\"uri\\\" : \\\"http://example.com/tile.png\\\
              \"\\n    }, {\\n      \\\"setName\\\" : \\\"official\\\",\\n      \\\
              \"variant\\\" : \\\"STOREFRONT\\\",\\n      \\\"uri\\\" : \\\"http://example.com/storefront.png\\\
              \"\\n    } ]\\n  }\\n}\",\n      \"createdAt\" : \"2018-10-18T06:54:18.379\"\
              ,\n      \"feature\" : \"app.test-app\",\n      \"type\" : \"PAYMENT\"\
              ,\n      \"_id\" : \"ed668045-f1f7-400d-899e-2630c046d744\",\n     \
              \ \"installationStatus\" : \"INSTALLED\",\n      \"_links\" : {\n  \
              \      \"self\" : {\n          \"href\" : \"https://yourshop.api.urn/apps/ed668045-f1f7-400d-899e-2630c046d744\"\
              \n        },\n        \"uninstall\" : {\n          \"href\" : \"https://yourshop.api.urn/apps/ed668045-f1f7-400d-899e-2630c046d744/uninstall\"\
              \n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/apps\"\n    }\n \
              \ },\n  \"page\" : {\n    \"size\" : 20,\n    \"totalElements\" : 2,\n\
              \    \"totalPages\" : 1,\n    \"number\" : 0\n  }\n}"
          schema:
            $ref: "#/definitions/carts_cartId_payment-methods-663923302"
      security:
      - oauth2_accessCode:
        - "aapp:r"
      - oauth2_application:
        - "aapp:r"
  /apps/{appId}:
    get:
      tags:
      - "apps"
      summary: "Get app with language"
      description: ""
      operationId: "localized-apps-get"
      produces:
      - "application/hal+json"
      parameters:
      - name: "appId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - name: "locale"
        in: "query"
        description: "The 5 digit locale code for the required country and language."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"name\" : \"Simple + Secure Payment\",\n\
              \  \"price\" : \"19 USD per month\",\n  \"description\" : \"A payment\
              \ method for simple and secure payments in online shops.\",\n  \"images\"\
              \ : [ \"http://example.com/image1.png\" ],\n  \"developer\" : \"Mr D.\
              \ Veloper\",\n  \"supportEmail\" : \"support@example.com\",\n  \"iconUrl\"\
              \ : \"http://example.com/icon.png\",\n  \"appUrl\" : \"http://example.com/login\"\
              ,\n  \"logoUrl\" : \"http://example.com/logo.png\",\n  \"videoUrl\"\
              \ : \"http://example.com/video.mpg\",\n  \"infoWebsite\" : \"http://example.com/info.html\"\
              ,\n  \"supportWebsite\" : \"http://example.com/support.html\",\n  \"\
              clientId\" : \"client_id\",\n  \"scopes\" : [ \"ordr:u\", \"ordr:r\"\
              \ ],\n  \"callbackUrl\" : \"http://example.com/callback\",\n  \"additionalConfiguration\"\
              \ : \"{\\n  \\\"productionConfiguration\\\" : {\\n    \\\"name\\\" :\
              \ \\\"my-payment-integration\\\",\\n    \\\"referralUriTemplate\\\"\
              \ : \\\"http://example.com/referral\\\",\\n    \\\"integrationStatusUri\\\
              \" : \\\"http://example.com/merchant-account-status/{shopId}\\\",\\\
              n    \\\"disconnectUri\\\" : \\\"http://example.com/merchant-account-status/{shopId}\\\
              \",\\n    \\\"createPaymentUri\\\" : \\\"http://example.com/payments\\\
              \",\\n    \\\"capturePaymentUri\\\" : \\\"http://example.com/payments/{id}/capture\\\
              \",\\n    \\\"refundPaymentUri\\\" : \\\"http://example.com/payments/{id}/refund\\\
              \",\\n    \\\"workflow\\\" : \\\"PAYMENT_ON_SELECTION\\\",\\n    \\\"\
              logos\\\" : [ {\\n      \\\"setName\\\" : \\\"official\\\",\\n     \
              \ \\\"variant\\\" : \\\"DETAILS\\\",\\n      \\\"uri\\\" : \\\"http://example.com/details.png\\\
              \"\\n    }, {\\n      \\\"setName\\\" : \\\"official\\\",\\n      \\\
              \"variant\\\" : \\\"LIST\\\",\\n      \\\"uri\\\" : \\\"http://example.com/list.png\\\
              \"\\n    }, {\\n      \\\"setName\\\" : \\\"official\\\",\\n      \\\
              \"variant\\\" : \\\"TILE\\\",\\n      \\\"uri\\\" : \\\"http://example.com/tile.png\\\
              \"\\n    }, {\\n      \\\"setName\\\" : \\\"official\\\",\\n      \\\
              \"variant\\\" : \\\"STOREFRONT\\\",\\n      \\\"uri\\\" : \\\"http://example.com/storefront.png\\\
              \"\\n    } ]\\n  }\\n}\",\n  \"createdAt\" : \"2018-10-18T06:54:15.498\"\
              ,\n  \"feature\" : \"app.test-app\",\n  \"type\" : \"PAYMENT\",\n  \"\
              _id\" : \"70d5ba7d-67d7-4bac-aa27-aa367d066bec\",\n  \"installationStatus\"\
              \ : \"AVAILABLE\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\"\
              \ : \"https://yourshop.api.urn/apps/70d5ba7d-67d7-4bac-aa27-aa367d066bec\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/apps_appId-847214231"
      security:
      - oauth2_accessCode:
        - "aapp:r"
      - oauth2_application:
        - "aapp:r"
  /apps/{appId}/uninstall:
    post:
      tags:
      - "apps"
      summary: "Uninstall app"
      description: ""
      operationId: "localized-apps-uninstall"
      produces:
      - "application/hal+json"
      parameters:
      - name: "appId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"name\" : \"Simple + Secure Payment\",\n\
              \  \"price\" : \"19 USD per month\",\n  \"description\" : \"A payment\
              \ method for simple and secure payments in online shops.\",\n  \"images\"\
              \ : [ \"http://example.com/image1.png\" ],\n  \"developer\" : \"Mr D.\
              \ Veloper\",\n  \"supportEmail\" : \"support@example.com\",\n  \"iconUrl\"\
              \ : \"http://example.com/icon.png\",\n  \"appUrl\" : \"http://example.com/login\"\
              ,\n  \"logoUrl\" : \"http://example.com/logo.png\",\n  \"videoUrl\"\
              \ : \"http://example.com/video.mpg\",\n  \"infoWebsite\" : \"http://example.com/info.html\"\
              ,\n  \"supportWebsite\" : \"http://example.com/support.html\",\n  \"\
              clientId\" : \"client_id\",\n  \"scopes\" : [ \"ordr:u\", \"ordr:r\"\
              \ ],\n  \"callbackUrl\" : \"http://example.com/callback\",\n  \"additionalConfiguration\"\
              \ : \"{\\n  \\\"productionConfiguration\\\" : {\\n    \\\"name\\\" :\
              \ \\\"my-payment-integration\\\",\\n    \\\"referralUriTemplate\\\"\
              \ : \\\"http://example.com/referral\\\",\\n    \\\"integrationStatusUri\\\
              \" : \\\"http://example.com/merchant-account-status/{shopId}\\\",\\\
              n    \\\"disconnectUri\\\" : \\\"http://example.com/merchant-account-status/{shopId}\\\
              \",\\n    \\\"createPaymentUri\\\" : \\\"http://example.com/payments\\\
              \",\\n    \\\"capturePaymentUri\\\" : \\\"http://example.com/payments/{id}/capture\\\
              \",\\n    \\\"refundPaymentUri\\\" : \\\"http://example.com/payments/{id}/refund\\\
              \",\\n    \\\"workflow\\\" : \\\"PAYMENT_ON_SELECTION\\\",\\n    \\\"\
              logos\\\" : [ {\\n      \\\"setName\\\" : \\\"official\\\",\\n     \
              \ \\\"variant\\\" : \\\"DETAILS\\\",\\n      \\\"uri\\\" : \\\"http://example.com/details.png\\\
              \"\\n    }, {\\n      \\\"setName\\\" : \\\"official\\\",\\n      \\\
              \"variant\\\" : \\\"LIST\\\",\\n      \\\"uri\\\" : \\\"http://example.com/list.png\\\
              \"\\n    }, {\\n      \\\"setName\\\" : \\\"official\\\",\\n      \\\
              \"variant\\\" : \\\"TILE\\\",\\n      \\\"uri\\\" : \\\"http://example.com/tile.png\\\
              \"\\n    }, {\\n      \\\"setName\\\" : \\\"official\\\",\\n      \\\
              \"variant\\\" : \\\"STOREFRONT\\\",\\n      \\\"uri\\\" : \\\"http://example.com/storefront.png\\\
              \"\\n    } ]\\n  }\\n}\",\n  \"createdAt\" : \"2018-10-18T06:54:19.403\"\
              ,\n  \"feature\" : \"app.test-app\",\n  \"type\" : \"PAYMENT\",\n  \"\
              _id\" : \"68328882-4dad-4eec-b9d3-1d71337ac0e5\",\n  \"installationStatus\"\
              \ : \"AVAILABLE\",\n  \"_links\" : {\n    \"self\" : {\n      \"href\"\
              \ : \"https://yourshop.api.urn/apps/68328882-4dad-4eec-b9d3-1d71337ac0e5\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/apps_appId-847214231"
      security:
      - oauth2_accessCode:
        - "aapu:u"
      - oauth2_application:
        - "aapu:u"
  /carts:
    post:
      tags:
      - "carts"
      summary: "Create Cart"
      description: ""
      operationId: "cart-create"
      produces:
      - "application/hal+json"
      responses:
        201:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ ],\n  \"shippingLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n \
              \   \"lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"shipping-method\"\
              \ : {\n        \"name\" : \"Standard Shipping 2\",\n        \"description\"\
              \ : \"Standard Shipping\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"position\" : 0,\n        \"freeShippingValue\" : null,\n  \
              \      \"fixedPrice\" : {\n          \"taxModel\" : \"GROSS\",\n   \
              \       \"currency\" : \"EUR\",\n          \"amount\" : 19.99\n    \
              \    },\n        \"weightBasedPrice\" : null,\n        \"_id\" : \"\
              e189d3a8-59e4-4d10-a5b6-9aa5f8496692\",\n        \"_links\" : {\n  \
              \        \"self\" : {\n            \"href\" : \"https://yourshop.api.urn/shipping-zones/bdf35b18-403e-4341-9ad5-907d0e79ae26/shipping-methods/e189d3a8-59e4-4d10-a5b6-9aa5f8496692\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"payment-method\"\
              \ : {\n        \"name\" : \"Converge\",\n        \"description\" : \"\
              Pay with Converge\",\n        \"officialName\" : \"Converge\",\n   \
              \     \"officialDescription\" : \"Pay with Converge\",\n        \"taxClass\"\
              \ : \"REGULAR\",\n        \"discountOrFee\" : {\n          \"type\"\
              \ : \"ABSOLUTE\",\n          \"absoluteValue\" : {\n            \"taxModel\"\
              \ : \"GROSS\",\n            \"currency\" : \"EUR\",\n            \"\
              amount\" : 2\n          },\n          \"percentageValue\" : null\n \
              \       },\n        \"position\" : 1,\n        \"serviceableCountries\"\
              \ : [ \"DE\" ],\n        \"minimumOrderValue\" : null,\n        \"activated\"\
              \ : true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/f0dcf10b-78b1-420d-acfb-99d8bd655109\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/f0dcf10b-78b1-420d-acfb-99d8bd655109\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/f0dcf10b-78b1-420d-acfb-99d8bd655109/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/f0dcf10b-78b1-420d-acfb-99d8bd655109/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"f0dcf10b-78b1-420d-acfb-99d8bd655109\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 0\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n   \
              \ \"amount\" : 21.99\n  },\n  \"balanceDue\" : {\n    \"currency\" :\
              \ \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"netTotal\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ ],\n  \"taxable\" : true,\n  \"minimumOrderValue\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\"\
              \ : false,\n  \"weight\" : 0,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/0491c118-695a-4051-b6ce-6d4401647336\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/0491c118-695a-4051-b6ce-6d4401647336/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/0491c118-695a-4051-b6ce-6d4401647336/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/0491c118-695a-4051-b6ce-6d4401647336/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/0491c118-695a-4051-b6ce-6d4401647336/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/0491c118-695a-4051-b6ce-6d4401647336/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/0491c118-695a-4051-b6ce-6d4401647336/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/0491c118-695a-4051-b6ce-6d4401647336/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/0491c118-695a-4051-b6ce-6d4401647336/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/0491c118-695a-4051-b6ce-6d4401647336/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"0491c118-695a-4051-b6ce-6d4401647336\"\n\
              }"
  /carts/{cartId}:
    get:
      tags:
      - "carts"
      summary: "Get Cart"
      description: ""
      operationId: "cart-get"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ {\n    \"_type\" : \"PRODUCT\"\
              ,\n    \"_id\" : \"eb0590cc-1478-4110-a1f3-ec638c8b7b03\",\n    \"_ref\"\
              \ : \"b25378a0-90d6-42fe-b591-c3ac5d8282b9\",\n    \"name\" : \"Power\
              \ & Vanilla Coconut Protein Bar (Pack of 5)\",\n    \"quantity\" : {\n\
              \      \"value\" : 1,\n      \"unit\" : \"PIECE\"\n    },\n    \"singleItemPrice\"\
              \ : {\n      \"taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n\
              \      \"amount\" : 4.95\n    },\n    \"lineItemPrice\" : {\n      \"\
              taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 4.95\n    },\n    \"_embedded\" : {\n      \"product\" : {\n   \
              \     \"_id\" : \"b25378a0-90d6-42fe-b591-c3ac5d8282b9\",\n        \"\
              sku\" : \"EB001\",\n        \"essentialFeatures\" : \"Preservative-free.\
              \ No added sweeteners. Vegan.\",\n        \"_links\" : {\n         \
              \ \"product\" : {\n            \"href\" : \"https://yourshop.api.urn/product-view/products/b25378a0-90d6-42fe-b591-c3ac5d8282b9?locale=de-DE\"\
              \n          },\n          \"default-image-data\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n          }\n        }\n      }\n    },\n    \"quantityInt\" : 1,\n\
              \    \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 0.9405\n    },\n    \"_links\" : {\n      \"self\" : {\n        \"\
              href\" : \"https://yourshop.api.urn/carts/19943590-fb36-48c3-900e-aeaa3fa6a20e/line-items/eb0590cc-1478-4110-a1f3-ec638c8b7b03\"\
              \n      }\n    }\n  } ],\n  \"shippingLineItem\" : {\n    \"lineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 19.99\n    },\n    \"lineItemTaxes\" : [ {\n \
              \     \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.0,\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 0\n    } ],\n    \"_embedded\"\
              \ : {\n      \"shipping-method\" : {\n        \"name\" : \"Standard\
              \ Shipping 2\",\n        \"description\" : \"Standard Shipping\",\n\
              \        \"taxClass\" : \"REGULAR\",\n        \"position\" : 0,\n  \
              \      \"freeShippingValue\" : null,\n        \"fixedPrice\" : {\n \
              \         \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\"\
              ,\n          \"amount\" : 19.99\n        },\n        \"weightBasedPrice\"\
              \ : null,\n        \"_id\" : \"c4a7d49f-bdc8-4050-bd7e-5922a30a9ca7\"\
              ,\n        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/shipping-zones/a7b9940d-582b-4e83-a219-298497b31d4c/shipping-methods/c4a7d49f-bdc8-4050-bd7e-5922a30a9ca7\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ {\n      \"taxClass\" : \"REGULAR\",\n      \"taxRate\"\
              \ : 0.0,\n      \"currency\" : \"EUR\",\n      \"amount\" : 0\n    }\
              \ ],\n    \"_embedded\" : {\n      \"payment-method\" : {\n        \"\
              name\" : \"Converge\",\n        \"description\" : \"Pay with Converge\"\
              ,\n        \"officialName\" : \"Converge\",\n        \"officialDescription\"\
              \ : \"Pay with Converge\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"discountOrFee\" : {\n          \"type\" : \"ABSOLUTE\",\n \
              \         \"absoluteValue\" : {\n            \"taxModel\" : \"GROSS\"\
              ,\n            \"currency\" : \"EUR\",\n            \"amount\" : 2\n\
              \          },\n          \"percentageValue\" : null\n        },\n  \
              \      \"position\" : 1,\n        \"serviceableCountries\" : [ \"DE\"\
              \ ],\n        \"minimumOrderValue\" : null,\n        \"activated\" :\
              \ true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/8cd453a3-ecaa-432f-8aa8-bc749e57ed82\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/8cd453a3-ecaa-432f-8aa8-bc749e57ed82\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/8cd453a3-ecaa-432f-8aa8-bc749e57ed82/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/8cd453a3-ecaa-432f-8aa8-bc749e57ed82/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"8cd453a3-ecaa-432f-8aa8-bc749e57ed82\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : {\n    \"salutation\"\
              \ : \"Mrs\",\n    \"gender\" : \"FEMALE\",\n    \"company\" : null,\n\
              \    \"title\" : \"\",\n    \"firstName\" : \"Astrid\",\n    \"middleName\"\
              \ : \"Agnes\",\n    \"lastName\" : \"Alster\",\n    \"street\" : \"\
              Alsterwasserweg\",\n    \"houseNumber\" : \"2\",\n    \"street2\" :\
              \ \"Erdgeschoss\",\n    \"addressExtension\" : \"Hinterhof\",\n    \"\
              postalCode\" : \"20999\",\n    \"city\" : \"Alsterwasser\",\n    \"\
              country\" : \"DE\",\n    \"state\" : \"Hamburg\",\n    \"email\" : \"\
              a.alsterh@example.com\",\n    \"phone\" : \"(800) 555-0102\",\n    \"\
              mobile\" : \"(800) 555-0103\",\n    \"displayAddressLines\" : [ \"Astrid\
              \ Agnes Alster\", \"Alsterwasserweg 2\", \"Erdgeschoss\", \"Hinterhof\"\
              , \"20999 Alsterwasser\", \"DEUTSCHLAND\" ],\n    \"vatId\" : \"123456789\"\
              ,\n    \"taxNumber\" : \"123-34-6789\",\n    \"birthDate\" : \"1985-03-20\"\
              \n  },\n  \"shippingAddress\" : {\n    \"salutation\" : \"Mrs\",\n \
              \   \"gender\" : \"FEMALE\",\n    \"company\" : null,\n    \"title\"\
              \ : \"\",\n    \"firstName\" : \"Astrid\",\n    \"middleName\" : \"\
              Agnes\",\n    \"lastName\" : \"Alster\",\n    \"street\" : \"Alsterwasserweg\"\
              ,\n    \"houseNumber\" : \"2\",\n    \"street2\" : \"Erdgeschoss\",\n\
              \    \"addressExtension\" : \"Hinterhof\",\n    \"postalCode\" : \"\
              20999\",\n    \"city\" : \"Alsterwasser\",\n    \"country\" : \"DE\"\
              ,\n    \"state\" : \"Hamburg\",\n    \"email\" : \"a.alsterh@example.com\"\
              ,\n    \"phone\" : \"(800) 555-0102\",\n    \"mobile\" : \"(800) 555-0103\"\
              ,\n    \"displayAddressLines\" : [ \"Astrid Agnes Alster\", \"Alsterwasserweg\
              \ 2\", \"Erdgeschoss\", \"Hinterhof\", \"20999 Alsterwasser\", \"DEUTSCHLAND\"\
              \ ],\n    \"doorCode\" : \"0185\"\n  },\n  \"subtotal\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 4.95\n  },\n  \"grandTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 26.94\n  },\n \
              \ \"balanceDue\" : {\n    \"currency\" : \"EUR\",\n    \"amount\" :\
              \ 26.94\n  },\n  \"netTotal\" : {\n    \"currency\" : \"EUR\",\n   \
              \ \"amount\" : 26.94\n  },\n  \"taxTotal\" : {\n    \"currency\" : \"\
              EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\" : [ {\n    \"taxClass\"\
              \ : \"REGULAR\",\n    \"taxRate\" : 0.0,\n    \"currency\" : \"EUR\"\
              ,\n    \"amount\" : 0\n  } ],\n  \"taxable\" : true,\n  \"minimumOrderValue\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"\
              mustAcceptTermsAndConditions\" : false,\n  \"weight\" : 190,\n  \"checkoutState\"\
              \ : {\n    \"shippingMethodValid\" : true,\n    \"shippingMethodSelectable\"\
              \ : true,\n    \"paymentMethodValid\" : true,\n    \"paymentMethodSelectable\"\
              \ : true,\n    \"billingAddressSet\" : true,\n    \"priceValidToOrder\"\
              \ : true,\n    \"paymentTransactionStatus\" : \"NO_APPROVAL_NEEDED\"\
              ,\n    \"readyToOrder\" : true\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/carts/19943590-fb36-48c3-900e-aeaa3fa6a20e\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/19943590-fb36-48c3-900e-aeaa3fa6a20e/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/19943590-fb36-48c3-900e-aeaa3fa6a20e/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/19943590-fb36-48c3-900e-aeaa3fa6a20e/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/19943590-fb36-48c3-900e-aeaa3fa6a20e/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/19943590-fb36-48c3-900e-aeaa3fa6a20e/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/19943590-fb36-48c3-900e-aeaa3fa6a20e/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/19943590-fb36-48c3-900e-aeaa3fa6a20e/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/19943590-fb36-48c3-900e-aeaa3fa6a20e/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/19943590-fb36-48c3-900e-aeaa3fa6a20e/shipping-address\"\
              \n    },\n    \"place-order\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/19943590-fb36-48c3-900e-aeaa3fa6a20e/order\"\
              \n    }\n  },\n  \"_id\" : \"19943590-fb36-48c3-900e-aeaa3fa6a20e\"\n\
              }"
          schema:
            $ref: "#/definitions/carts_cartId476401674"
    delete:
      tags:
      - "carts"
      summary: "Delete Cart"
      description: ""
      operationId: "cart-delete"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        204:
          description: ""
          examples: {}
  /carts/{cartId}/billing-address:
    put:
      tags:
      - "carts"
      summary: "Set Billing Address"
      description: ""
      operationId: "cart-set-billing-address"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_billing-address-1946356074"
        x-examples:
          application/json: "{\"salutation\":\"Mrs\",\"gender\":\"FEMALE\",\"title\"\
            :\"\",\"firstName\":\"Astrid\",\"middleName\":\"Agnes\",\"lastName\":\"\
            Alster\",\"street\":\"Alsterwasserweg\",\"houseNumber\":\"2\",\"street2\"\
            :\"Erdgeschoss\",\"doorCode\":\"0185\",\"addressExtension\":\"Hinterhof\"\
            ,\"postalCode\":\"20999\",\"city\":\"Alsterwasser\",\"country\":\"DE\"\
            ,\"state\":\"Hamburg\",\"email\":\"a.alsterh@example.com\",\"phone\":\"\
            (800) 555-0102\",\"mobile\":\"(800) 555-0103\",\"vatId\":\"123456789\"\
            ,\"taxNumber\":\"123-34-6789\",\"birthDate\":\"1985-03-20\"}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ ],\n  \"shippingLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n \
              \   \"lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"shipping-method\"\
              \ : {\n        \"name\" : \"Standard Shipping 2\",\n        \"description\"\
              \ : \"Standard Shipping\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"position\" : 0,\n        \"freeShippingValue\" : null,\n  \
              \      \"fixedPrice\" : {\n          \"taxModel\" : \"GROSS\",\n   \
              \       \"currency\" : \"EUR\",\n          \"amount\" : 19.99\n    \
              \    },\n        \"weightBasedPrice\" : null,\n        \"_id\" : \"\
              bcb70e66-1ab9-4bab-805d-6e527862bd61\",\n        \"_links\" : {\n  \
              \        \"self\" : {\n            \"href\" : \"https://yourshop.api.urn/shipping-zones/b41b177e-8def-4868-ae0e-bdd68429bbdf/shipping-methods/bcb70e66-1ab9-4bab-805d-6e527862bd61\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"payment-method\"\
              \ : {\n        \"name\" : \"Converge\",\n        \"description\" : \"\
              Pay with Converge\",\n        \"officialName\" : \"Converge\",\n   \
              \     \"officialDescription\" : \"Pay with Converge\",\n        \"taxClass\"\
              \ : \"REGULAR\",\n        \"discountOrFee\" : {\n          \"type\"\
              \ : \"ABSOLUTE\",\n          \"absoluteValue\" : {\n            \"taxModel\"\
              \ : \"GROSS\",\n            \"currency\" : \"EUR\",\n            \"\
              amount\" : 2\n          },\n          \"percentageValue\" : null\n \
              \       },\n        \"position\" : 1,\n        \"serviceableCountries\"\
              \ : [ \"DE\" ],\n        \"minimumOrderValue\" : null,\n        \"activated\"\
              \ : true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/914c4b64-ca03-4ce7-addd-a430f89f0a5a\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/914c4b64-ca03-4ce7-addd-a430f89f0a5a\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/914c4b64-ca03-4ce7-addd-a430f89f0a5a/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/914c4b64-ca03-4ce7-addd-a430f89f0a5a/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"914c4b64-ca03-4ce7-addd-a430f89f0a5a\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : {\n    \"salutation\"\
              \ : \"Mrs\",\n    \"gender\" : \"FEMALE\",\n    \"company\" : null,\n\
              \    \"title\" : \"\",\n    \"firstName\" : \"Astrid\",\n    \"middleName\"\
              \ : \"Agnes\",\n    \"lastName\" : \"Alster\",\n    \"street\" : \"\
              Alsterwasserweg\",\n    \"houseNumber\" : \"2\",\n    \"street2\" :\
              \ \"Erdgeschoss\",\n    \"addressExtension\" : \"Hinterhof\",\n    \"\
              postalCode\" : \"20999\",\n    \"city\" : \"Alsterwasser\",\n    \"\
              country\" : \"DE\",\n    \"state\" : \"Hamburg\",\n    \"email\" : \"\
              a.alsterh@example.com\",\n    \"phone\" : \"(800) 555-0102\",\n    \"\
              mobile\" : \"(800) 555-0103\",\n    \"displayAddressLines\" : [ \"Astrid\
              \ Agnes Alster\", \"Alsterwasserweg 2\", \"Erdgeschoss\", \"Hinterhof\"\
              , \"20999 Alsterwasser\", \"DEUTSCHLAND\" ],\n    \"vatId\" : \"123456789\"\
              ,\n    \"taxNumber\" : \"123-34-6789\",\n    \"birthDate\" : \"1985-03-20\"\
              \n  },\n  \"shippingAddress\" : null,\n  \"subtotal\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 0\n  },\n  \"grandTotal\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"balanceDue\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n \
              \ \"netTotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 21.99\n\
              \  },\n  \"taxTotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 0\n  },\n  \"taxes\" : [ ],\n  \"taxable\" : true,\n  \"minimumOrderValue\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"\
              mustAcceptTermsAndConditions\" : false,\n  \"weight\" : 0,\n  \"checkoutState\"\
              \ : {\n    \"shippingMethodValid\" : true,\n    \"shippingMethodSelectable\"\
              \ : true,\n    \"paymentMethodValid\" : true,\n    \"paymentMethodSelectable\"\
              \ : true,\n    \"billingAddressSet\" : true,\n    \"priceValidToOrder\"\
              \ : true,\n    \"paymentTransactionStatus\" : \"NO_APPROVAL_NEEDED\"\
              ,\n    \"readyToOrder\" : true\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/carts/cf8427fd-79b8-4252-8b7f-d6eb701142b1\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cf8427fd-79b8-4252-8b7f-d6eb701142b1/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/cf8427fd-79b8-4252-8b7f-d6eb701142b1/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cf8427fd-79b8-4252-8b7f-d6eb701142b1/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cf8427fd-79b8-4252-8b7f-d6eb701142b1/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/cf8427fd-79b8-4252-8b7f-d6eb701142b1/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cf8427fd-79b8-4252-8b7f-d6eb701142b1/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cf8427fd-79b8-4252-8b7f-d6eb701142b1/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cf8427fd-79b8-4252-8b7f-d6eb701142b1/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cf8427fd-79b8-4252-8b7f-d6eb701142b1/shipping-address\"\
              \n    },\n    \"place-order\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cf8427fd-79b8-4252-8b7f-d6eb701142b1/order\"\
              \n    }\n  },\n  \"_id\" : \"cf8427fd-79b8-4252-8b7f-d6eb701142b1\"\n\
              }"
  /carts/{cartId}/create-payment:
    post:
      tags:
      - "carts"
      summary: "Create Payment"
      description: ""
      operationId: "cart-create-payment"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_create-payment2079035476"
        x-examples:
          application/json: "{\n  \"returnUri\" : \"http://some.com/return\",\n  \"\
            cancelUri\" : \"http://some.com/cancel\"\n}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"approvalUri\" : \"http://some.com/approval\"\
              \n}"
          schema:
            $ref: "#/definitions/carts_cartId_create-payment1985146425"
  /carts/{cartId}/create-payment-and-order:
    post:
      tags:
      - "carts"
      summary: "Create Payment and Order"
      description: ""
      operationId: "cart-create-payment-and-order"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_create-payment-and-order1631456624"
        x-examples:
          application/json: "{\n  \"returnUri\" : \"http://some.com/return\",\n  \"\
            cancelUri\" : \"http://some.com/cancel\",\n  \"customerComment\" : \"\
            Send it fast please!\",\n  \"salesChannel\" : \"Storefront\",\n  \"marketingChannel\"\
            \ : \"Google\",\n  \"marketingSubchannel\" : \"Search page 2\",\n  \"\
            testOrder\" : false\n}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"approvalUri\" : \"http://some.com/approval\"\
              \n}"
          schema:
            $ref: "#/definitions/carts_cartId_create-payment1985146425"
  /carts/{cartId}/line-items:
    post:
      tags:
      - "carts"
      summary: "Add Line Item"
      description: ""
      operationId: "cart-add-line-item"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_line-items-347979640"
        x-examples:
          application/json: "{\"_type\":\"PRODUCT\",\"_ref\":\"d368cf1c-257d-4664-b3fe-9e53a3fbbd00\"\
            ,\"quantityInt\":1}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ {\n    \"_type\" : \"PRODUCT\"\
              ,\n    \"_id\" : \"0705e024-4082-49b8-b68a-8352e515e9e6\",\n    \"_ref\"\
              \ : \"d368cf1c-257d-4664-b3fe-9e53a3fbbd00\",\n    \"name\" : \"Power\
              \ & Vanilla Coconut Protein Bar (Pack of 5)\",\n    \"quantity\" : {\n\
              \      \"value\" : 1,\n      \"unit\" : \"PIECE\"\n    },\n    \"singleItemPrice\"\
              \ : {\n      \"taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n\
              \      \"amount\" : 4.95\n    },\n    \"lineItemPrice\" : {\n      \"\
              taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 4.95\n    },\n    \"_embedded\" : {\n      \"product\" : {\n   \
              \     \"_id\" : \"d368cf1c-257d-4664-b3fe-9e53a3fbbd00\",\n        \"\
              sku\" : \"EB001\",\n        \"essentialFeatures\" : \"Preservative-free.\
              \ No added sweeteners. Vegan.\",\n        \"_links\" : {\n         \
              \ \"product\" : {\n            \"href\" : \"https://yourshop.api.urn/product-view/products/d368cf1c-257d-4664-b3fe-9e53a3fbbd00?locale=de-DE\"\
              \n          },\n          \"default-image-data\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n          }\n        }\n      }\n    },\n    \"quantityInt\" : 1,\n\
              \    \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 0.9405\n    },\n    \"_links\" : {\n      \"self\" : {\n        \"\
              href\" : \"https://yourshop.api.urn/carts/e990eacb-3ce0-4a23-a8f1-bea2199b99c1/line-items/0705e024-4082-49b8-b68a-8352e515e9e6\"\
              \n      }\n    }\n  } ],\n  \"shippingLineItem\" : {\n    \"lineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 19.99\n    },\n    \"lineItemTaxes\" : [ {\n \
              \     \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.0,\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 0\n    } ],\n    \"_embedded\"\
              \ : {\n      \"shipping-method\" : {\n        \"name\" : \"Standard\
              \ Shipping 2\",\n        \"description\" : \"Standard Shipping\",\n\
              \        \"taxClass\" : \"REGULAR\",\n        \"position\" : 0,\n  \
              \      \"freeShippingValue\" : null,\n        \"fixedPrice\" : {\n \
              \         \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\"\
              ,\n          \"amount\" : 19.99\n        },\n        \"weightBasedPrice\"\
              \ : null,\n        \"_id\" : \"4a3a1e39-f870-4e64-a77b-623a2062eac8\"\
              ,\n        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/shipping-zones/ae23ded7-245c-43ce-9d83-018f7ad7cc7b/shipping-methods/4a3a1e39-f870-4e64-a77b-623a2062eac8\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ {\n      \"taxClass\" : \"REGULAR\",\n      \"taxRate\"\
              \ : 0.0,\n      \"currency\" : \"EUR\",\n      \"amount\" : 0\n    }\
              \ ],\n    \"_embedded\" : {\n      \"payment-method\" : {\n        \"\
              name\" : \"Converge\",\n        \"description\" : \"Pay with Converge\"\
              ,\n        \"officialName\" : \"Converge\",\n        \"officialDescription\"\
              \ : \"Pay with Converge\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"discountOrFee\" : {\n          \"type\" : \"ABSOLUTE\",\n \
              \         \"absoluteValue\" : {\n            \"taxModel\" : \"GROSS\"\
              ,\n            \"currency\" : \"EUR\",\n            \"amount\" : 2\n\
              \          },\n          \"percentageValue\" : null\n        },\n  \
              \      \"position\" : 1,\n        \"serviceableCountries\" : [ \"DE\"\
              \ ],\n        \"minimumOrderValue\" : null,\n        \"activated\" :\
              \ true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/c2b06cb0-8cb8-49bd-92cb-579b5fd1936c\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/c2b06cb0-8cb8-49bd-92cb-579b5fd1936c\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/c2b06cb0-8cb8-49bd-92cb-579b5fd1936c/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/c2b06cb0-8cb8-49bd-92cb-579b5fd1936c/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"c2b06cb0-8cb8-49bd-92cb-579b5fd1936c\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 4.95\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 26.94\n  },\n  \"balanceDue\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 26.94\n  },\n  \"netTotal\" : {\n   \
              \ \"currency\" : \"EUR\",\n    \"amount\" : 26.94\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ {\n    \"taxClass\" : \"REGULAR\",\n    \"taxRate\" : 0.0,\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 0\n  } ],\n  \"taxable\"\
              \ : true,\n  \"minimumOrderValue\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\" : false,\n\
              \  \"weight\" : 190,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e990eacb-3ce0-4a23-a8f1-bea2199b99c1\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e990eacb-3ce0-4a23-a8f1-bea2199b99c1/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/e990eacb-3ce0-4a23-a8f1-bea2199b99c1/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e990eacb-3ce0-4a23-a8f1-bea2199b99c1/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e990eacb-3ce0-4a23-a8f1-bea2199b99c1/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/e990eacb-3ce0-4a23-a8f1-bea2199b99c1/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e990eacb-3ce0-4a23-a8f1-bea2199b99c1/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e990eacb-3ce0-4a23-a8f1-bea2199b99c1/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e990eacb-3ce0-4a23-a8f1-bea2199b99c1/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e990eacb-3ce0-4a23-a8f1-bea2199b99c1/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"e990eacb-3ce0-4a23-a8f1-bea2199b99c1\"\n\
              }"
    put:
      tags:
      - "carts"
      summary: "Set Line Items"
      description: ""
      operationId: "cart-set-line-items"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_line-items-1587419209"
        x-examples:
          application/json: "[{\"_type\":\"PRODUCT\",\"_ref\":\"9058be45-fca3-4a59-ae49-d6893e1df9d9\"\
            ,\"quantityInt\":1}]"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ {\n    \"_type\" : \"PRODUCT\"\
              ,\n    \"_id\" : \"d5e13786-042c-4adc-9582-3419c721ca56\",\n    \"_ref\"\
              \ : \"9058be45-fca3-4a59-ae49-d6893e1df9d9\",\n    \"name\" : \"Power\
              \ & Vanilla Coconut Protein Bar (Pack of 5)\",\n    \"quantity\" : {\n\
              \      \"value\" : 1,\n      \"unit\" : \"PIECE\"\n    },\n    \"singleItemPrice\"\
              \ : {\n      \"taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n\
              \      \"amount\" : 4.95\n    },\n    \"lineItemPrice\" : {\n      \"\
              taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 4.95\n    },\n    \"_embedded\" : {\n      \"product\" : {\n   \
              \     \"_id\" : \"9058be45-fca3-4a59-ae49-d6893e1df9d9\",\n        \"\
              sku\" : \"EB001\",\n        \"essentialFeatures\" : \"Preservative-free.\
              \ No added sweeteners. Vegan.\",\n        \"_links\" : {\n         \
              \ \"product\" : {\n            \"href\" : \"https://yourshop.api.urn/product-view/products/9058be45-fca3-4a59-ae49-d6893e1df9d9?locale=de-DE\"\
              \n          },\n          \"default-image-data\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n          }\n        }\n      }\n    },\n    \"quantityInt\" : 1,\n\
              \    \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 0.9405\n    },\n    \"_links\" : {\n      \"self\" : {\n        \"\
              href\" : \"https://yourshop.api.urn/carts/cdfb1b6d-cc50-4be5-8ba4-3502a5172251/line-items/d5e13786-042c-4adc-9582-3419c721ca56\"\
              \n      }\n    }\n  } ],\n  \"shippingLineItem\" : {\n    \"lineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 19.99\n    },\n    \"lineItemTaxes\" : [ {\n \
              \     \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.0,\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 0\n    } ],\n    \"_embedded\"\
              \ : {\n      \"shipping-method\" : {\n        \"name\" : \"Standard\
              \ Shipping 2\",\n        \"description\" : \"Standard Shipping\",\n\
              \        \"taxClass\" : \"REGULAR\",\n        \"position\" : 0,\n  \
              \      \"freeShippingValue\" : null,\n        \"fixedPrice\" : {\n \
              \         \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\"\
              ,\n          \"amount\" : 19.99\n        },\n        \"weightBasedPrice\"\
              \ : null,\n        \"_id\" : \"2b6eb42d-4330-47b3-b10f-e7affb45f6c1\"\
              ,\n        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/shipping-zones/d874b7c7-2aa2-4fe0-b97f-c2f7100db606/shipping-methods/2b6eb42d-4330-47b3-b10f-e7affb45f6c1\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ {\n      \"taxClass\" : \"REGULAR\",\n      \"taxRate\"\
              \ : 0.0,\n      \"currency\" : \"EUR\",\n      \"amount\" : 0\n    }\
              \ ],\n    \"_embedded\" : {\n      \"payment-method\" : {\n        \"\
              name\" : \"Converge\",\n        \"description\" : \"Pay with Converge\"\
              ,\n        \"officialName\" : \"Converge\",\n        \"officialDescription\"\
              \ : \"Pay with Converge\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"discountOrFee\" : {\n          \"type\" : \"ABSOLUTE\",\n \
              \         \"absoluteValue\" : {\n            \"taxModel\" : \"GROSS\"\
              ,\n            \"currency\" : \"EUR\",\n            \"amount\" : 2\n\
              \          },\n          \"percentageValue\" : null\n        },\n  \
              \      \"position\" : 1,\n        \"serviceableCountries\" : [ \"DE\"\
              \ ],\n        \"minimumOrderValue\" : null,\n        \"activated\" :\
              \ true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/6da6dbd2-fb74-4e7d-a7a2-195ea2fa55ab\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/6da6dbd2-fb74-4e7d-a7a2-195ea2fa55ab\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/6da6dbd2-fb74-4e7d-a7a2-195ea2fa55ab/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/6da6dbd2-fb74-4e7d-a7a2-195ea2fa55ab/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"6da6dbd2-fb74-4e7d-a7a2-195ea2fa55ab\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 4.95\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 26.94\n  },\n  \"balanceDue\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 26.94\n  },\n  \"netTotal\" : {\n   \
              \ \"currency\" : \"EUR\",\n    \"amount\" : 26.94\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ {\n    \"taxClass\" : \"REGULAR\",\n    \"taxRate\" : 0.0,\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 0\n  } ],\n  \"taxable\"\
              \ : true,\n  \"minimumOrderValue\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\" : false,\n\
              \  \"weight\" : 190,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cdfb1b6d-cc50-4be5-8ba4-3502a5172251\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cdfb1b6d-cc50-4be5-8ba4-3502a5172251/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/cdfb1b6d-cc50-4be5-8ba4-3502a5172251/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cdfb1b6d-cc50-4be5-8ba4-3502a5172251/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cdfb1b6d-cc50-4be5-8ba4-3502a5172251/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/cdfb1b6d-cc50-4be5-8ba4-3502a5172251/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cdfb1b6d-cc50-4be5-8ba4-3502a5172251/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cdfb1b6d-cc50-4be5-8ba4-3502a5172251/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cdfb1b6d-cc50-4be5-8ba4-3502a5172251/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/cdfb1b6d-cc50-4be5-8ba4-3502a5172251/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"cdfb1b6d-cc50-4be5-8ba4-3502a5172251\"\n\
              }"
  /carts/{cartId}/order:
    post:
      tags:
      - "carts"
      summary: "Order Cart"
      description: ""
      operationId: "cart-order"
      consumes:
      - "application/json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_order1787038009"
        x-examples:
          application/json: "{\"customerComment\": \"send it fast please\",\n  \"\
            salesChannel\": \"DifferentChannel\",\n  \"marketingChannel\": \"Google\"\
            ,\n  \"marketingSubchannel\": \"Search page 2\",\n  \"testOrder\": false,\n\
            \  \"termsAndConditionsExplicitlyAccepted\": true\n}"
      responses:
        202:
          description: ""
          examples: {}
          headers:
            Location:
              type: "string"
              description: "the link to access the order once it is created"
  /carts/{cartId}/payment-methods:
    get:
      tags:
      - "carts"
      summary: "Get Payment Methods of Cart"
      description: ""
      operationId: "cart-get-payment-methods"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"payment-methods\"\
              \ : [ {\n      \"lineItemPrice\" : {\n        \"taxModel\" : \"GROSS\"\
              ,\n        \"currency\" : \"EUR\",\n        \"amount\" : 2\n      },\n\
              \      \"selectable\" : true,\n      \"_embedded\" : {\n        \"payment-method\"\
              \ : {\n          \"name\" : \"Converge\",\n          \"description\"\
              \ : \"Pay with Converge\",\n          \"officialName\" : \"Converge\"\
              ,\n          \"officialDescription\" : \"Pay with Converge\",\n    \
              \      \"taxClass\" : \"REGULAR\",\n          \"discountOrFee\" : {\n\
              \            \"type\" : \"ABSOLUTE\",\n            \"absoluteValue\"\
              \ : {\n              \"taxModel\" : \"GROSS\",\n              \"currency\"\
              \ : \"EUR\",\n              \"amount\" : 2\n            },\n       \
              \     \"percentageValue\" : null\n          },\n          \"position\"\
              \ : 1,\n          \"serviceableCountries\" : [ \"DE\" ],\n         \
              \ \"minimumOrderValue\" : null,\n          \"activated\" : true,\n \
              \         \"activeLogoSet\" : null,\n          \"onlinePayment\" : false,\n\
              \          \"_links\" : {\n            \"self\" : {\n              \"\
              href\" : \"https://yourshop.api.urn/payment-methods/111efad0-fa9a-4fb7-9b57-438261bed77b\"\
              \n            },\n            \"payment-method\" : {\n             \
              \ \"href\" : \"https://yourshop.api.urn/payment-methods/111efad0-fa9a-4fb7-9b57-438261bed77b\"\
              \n            },\n            \"deactivate-payment-method\" : {\n  \
              \            \"href\" : \"https://yourshop.api.urn/payment-methods/111efad0-fa9a-4fb7-9b57-438261bed77b/deactivate\"\
              \n            },\n            \"payment-integration\" : {\n        \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/111efad0-fa9a-4fb7-9b57-438261bed77b/payment-integration\"\
              \n            }\n          },\n          \"_id\" : \"111efad0-fa9a-4fb7-9b57-438261bed77b\"\
              \n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/carts/f5c40d99-2b24-4970-8a3a-fd6128026a0a/payment-methods\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/carts_cartId_payment-methods-663923302"
  /carts/{cartId}/shipping-address:
    put:
      tags:
      - "carts"
      summary: "Set Shipping Address"
      description: ""
      operationId: "cart-set-shipping-address"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_shipping-address-1619008865"
        x-examples:
          application/json: "{\"salutation\":\"Mrs\",\"gender\":\"FEMALE\",\"title\"\
            :\"\",\"firstName\":\"Astrid\",\"middleName\":\"Agnes\",\"lastName\":\"\
            Alster\",\"street\":\"Alsterwasserweg\",\"houseNumber\":\"2\",\"street2\"\
            :\"Erdgeschoss\",\"doorCode\":\"0185\",\"addressExtension\":\"Hinterhof\"\
            ,\"postalCode\":\"20999\",\"city\":\"Alsterwasser\",\"country\":\"DE\"\
            ,\"state\":\"Hamburg\",\"email\":\"a.alsterh@example.com\",\"phone\":\"\
            (800) 555-0102\",\"mobile\":\"(800) 555-0103\"}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ ],\n  \"shippingLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n \
              \   \"lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"shipping-method\"\
              \ : {\n        \"name\" : \"Standard Shipping 2\",\n        \"description\"\
              \ : \"Standard Shipping\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"position\" : 0,\n        \"freeShippingValue\" : null,\n  \
              \      \"fixedPrice\" : {\n          \"taxModel\" : \"GROSS\",\n   \
              \       \"currency\" : \"EUR\",\n          \"amount\" : 19.99\n    \
              \    },\n        \"weightBasedPrice\" : null,\n        \"_id\" : \"\
              a455f007-d3a2-400b-9493-6a3ae2066257\",\n        \"_links\" : {\n  \
              \        \"self\" : {\n            \"href\" : \"https://yourshop.api.urn/shipping-zones/23062a2a-e373-4a0c-af3d-defdc6e6d1a7/shipping-methods/a455f007-d3a2-400b-9493-6a3ae2066257\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"payment-method\"\
              \ : {\n        \"name\" : \"Converge\",\n        \"description\" : \"\
              Pay with Converge\",\n        \"officialName\" : \"Converge\",\n   \
              \     \"officialDescription\" : \"Pay with Converge\",\n        \"taxClass\"\
              \ : \"REGULAR\",\n        \"discountOrFee\" : {\n          \"type\"\
              \ : \"ABSOLUTE\",\n          \"absoluteValue\" : {\n            \"taxModel\"\
              \ : \"GROSS\",\n            \"currency\" : \"EUR\",\n            \"\
              amount\" : 2\n          },\n          \"percentageValue\" : null\n \
              \       },\n        \"position\" : 1,\n        \"serviceableCountries\"\
              \ : [ \"DE\" ],\n        \"minimumOrderValue\" : null,\n        \"activated\"\
              \ : true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/9442ce50-83bd-413d-8865-a3aadb04b47d\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/9442ce50-83bd-413d-8865-a3aadb04b47d\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/9442ce50-83bd-413d-8865-a3aadb04b47d/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/9442ce50-83bd-413d-8865-a3aadb04b47d/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"9442ce50-83bd-413d-8865-a3aadb04b47d\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : {\n    \"salutation\" : \"Mrs\",\n    \"gender\" : \"FEMALE\",\n\
              \    \"company\" : null,\n    \"title\" : \"\",\n    \"firstName\" :\
              \ \"Astrid\",\n    \"middleName\" : \"Agnes\",\n    \"lastName\" : \"\
              Alster\",\n    \"street\" : \"Alsterwasserweg\",\n    \"houseNumber\"\
              \ : \"2\",\n    \"street2\" : \"Erdgeschoss\",\n    \"addressExtension\"\
              \ : \"Hinterhof\",\n    \"postalCode\" : \"20999\",\n    \"city\" :\
              \ \"Alsterwasser\",\n    \"country\" : \"DE\",\n    \"state\" : \"Hamburg\"\
              ,\n    \"email\" : \"a.alsterh@example.com\",\n    \"phone\" : \"(800)\
              \ 555-0102\",\n    \"mobile\" : \"(800) 555-0103\",\n    \"displayAddressLines\"\
              \ : [ \"Astrid Agnes Alster\", \"Alsterwasserweg 2\", \"Erdgeschoss\"\
              , \"Hinterhof\", \"20999 Alsterwasser\", \"DEUTSCHLAND\" ],\n    \"\
              doorCode\" : \"0185\"\n  },\n  \"subtotal\" : {\n    \"currency\" :\
              \ \"EUR\",\n    \"amount\" : 0\n  },\n  \"grandTotal\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"balanceDue\" : {\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"netTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n \
              \ \"taxTotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n\
              \  },\n  \"taxes\" : [ ],\n  \"taxable\" : true,\n  \"minimumOrderValue\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"\
              mustAcceptTermsAndConditions\" : false,\n  \"weight\" : 0,\n  \"checkoutState\"\
              \ : {\n    \"shippingMethodValid\" : true,\n    \"shippingMethodSelectable\"\
              \ : true,\n    \"paymentMethodValid\" : true,\n    \"paymentMethodSelectable\"\
              \ : true,\n    \"billingAddressSet\" : false,\n    \"priceValidToOrder\"\
              \ : true,\n    \"paymentTransactionStatus\" : \"NO_APPROVAL_NEEDED\"\
              ,\n    \"readyToOrder\" : false\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/carts/fc9343da-b0ad-4766-bd9a-ad71c53c1a4c\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/fc9343da-b0ad-4766-bd9a-ad71c53c1a4c/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/fc9343da-b0ad-4766-bd9a-ad71c53c1a4c/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/fc9343da-b0ad-4766-bd9a-ad71c53c1a4c/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/fc9343da-b0ad-4766-bd9a-ad71c53c1a4c/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/fc9343da-b0ad-4766-bd9a-ad71c53c1a4c/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/fc9343da-b0ad-4766-bd9a-ad71c53c1a4c/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/fc9343da-b0ad-4766-bd9a-ad71c53c1a4c/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/fc9343da-b0ad-4766-bd9a-ad71c53c1a4c/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/fc9343da-b0ad-4766-bd9a-ad71c53c1a4c/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"fc9343da-b0ad-4766-bd9a-ad71c53c1a4c\"\n\
              }"
  /carts/{cartId}/shipping-methods:
    get:
      tags:
      - "carts"
      summary: "Get Shipping Methods of Cart"
      description: ""
      operationId: "cart-get-shipping-methods"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"shipping-methods\"\
              \ : [ {\n      \"lineItemPrice\" : {\n        \"taxModel\" : \"GROSS\"\
              ,\n        \"currency\" : \"EUR\",\n        \"amount\" : 19.99\n   \
              \   },\n      \"selectable\" : true,\n      \"_embedded\" : {\n    \
              \    \"shipping-method\" : {\n          \"name\" : \"Standard Shipping\
              \ 2\",\n          \"description\" : \"Standard Shipping\",\n       \
              \   \"taxClass\" : \"REGULAR\",\n          \"position\" : 0,\n     \
              \     \"freeShippingValue\" : null,\n          \"fixedPrice\" : {\n\
              \            \"taxModel\" : \"GROSS\",\n            \"currency\" : \"\
              EUR\",\n            \"amount\" : 19.99\n          },\n          \"weightBasedPrice\"\
              \ : null,\n          \"_id\" : \"05d4aaf3-9f42-4953-9ad3-bf436168a4b3\"\
              ,\n          \"_links\" : {\n            \"self\" : {\n            \
              \  \"href\" : \"https://yourshop.api.urn/shipping-zones/5eb9310a-bac5-458e-b538-41d7b23c685c/shipping-methods/05d4aaf3-9f42-4953-9ad3-bf436168a4b3\"\
              \n            }\n          }\n        }\n      }\n    } ]\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/36a505f1-01e6-43f3-8886-8a6fef9dc462/shipping-methods\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/google-shopping_taxonomy-309252030"
  /carts/{cartId}/line-items/{lineItemId}:
    put:
      tags:
      - "carts"
      summary: "Replace Line Items"
      description: ""
      operationId: "cart-replace-line-item"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - name: "lineItemId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_line-items_lineItemId1214402507"
        x-examples:
          application/json: "{\"_type\":\"PRODUCT\",\"_ref\":\"e6fea209-bc2a-422c-a3e0-1b62bc308dab\"\
            ,\"quantityInt\":2}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ {\n    \"_type\" : \"PRODUCT\"\
              ,\n    \"_id\" : \"af5bbc88-58fc-442b-bf01-80ae9425169d\",\n    \"_ref\"\
              \ : \"e6fea209-bc2a-422c-a3e0-1b62bc308dab\",\n    \"name\" : \"Power\
              \ & Vanilla Coconut Protein Bar (Pack of 5)\",\n    \"quantity\" : {\n\
              \      \"value\" : 2,\n      \"unit\" : \"PIECE\"\n    },\n    \"singleItemPrice\"\
              \ : {\n      \"taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n\
              \      \"amount\" : 4.95\n    },\n    \"lineItemPrice\" : {\n      \"\
              taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 9.9\n    },\n    \"_embedded\" : {\n      \"product\" : {\n    \
              \    \"_id\" : \"e6fea209-bc2a-422c-a3e0-1b62bc308dab\",\n        \"\
              sku\" : \"EB001\",\n        \"essentialFeatures\" : \"Preservative-free.\
              \ No added sweeteners. Vegan.\",\n        \"_links\" : {\n         \
              \ \"product\" : {\n            \"href\" : \"https://yourshop.api.urn/product-view/products/e6fea209-bc2a-422c-a3e0-1b62bc308dab?locale=de-DE\"\
              \n          },\n          \"default-image-data\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n          }\n        }\n      }\n    },\n    \"quantityInt\" : 2,\n\
              \    \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 1.881\n    },\n    \"_links\" : {\n      \"self\" : {\n        \"\
              href\" : \"https://yourshop.api.urn/carts/0a6d5d14-80bd-4d3f-8920-59d1f24bd02a/line-items/af5bbc88-58fc-442b-bf01-80ae9425169d\"\
              \n      }\n    }\n  } ],\n  \"shippingLineItem\" : {\n    \"lineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 19.99\n    },\n    \"lineItemTaxes\" : [ {\n \
              \     \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.0,\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 0\n    } ],\n    \"_embedded\"\
              \ : {\n      \"shipping-method\" : {\n        \"name\" : \"Standard\
              \ Shipping 2\",\n        \"description\" : \"Standard Shipping\",\n\
              \        \"taxClass\" : \"REGULAR\",\n        \"position\" : 0,\n  \
              \      \"freeShippingValue\" : null,\n        \"fixedPrice\" : {\n \
              \         \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\"\
              ,\n          \"amount\" : 19.99\n        },\n        \"weightBasedPrice\"\
              \ : null,\n        \"_id\" : \"dbb3b463-4b41-4782-b553-fa56d36c78c4\"\
              ,\n        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/shipping-zones/86bc84b2-4f31-408c-827d-47ac79e3c733/shipping-methods/dbb3b463-4b41-4782-b553-fa56d36c78c4\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ {\n      \"taxClass\" : \"REGULAR\",\n      \"taxRate\"\
              \ : 0.0,\n      \"currency\" : \"EUR\",\n      \"amount\" : 0\n    }\
[...]
