---
swagger: "2.0"
info:
  version: "unspecified"
  title: "Beyond REST API"
host: "api-shop.beyondshop.cloud"
basePath: "/api"
schemes:
- "https"
paths:
  /shipping-zones/search/find-all-serviceable-countries:
    get:
      summary: "Find Shipping Zone by Serviceable Countries"
      description: ""
      produces:
      - "application/hal+json"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"countryCodes\" :\
              \ [ {\n      \"countryCode\" : \"BE\"\n    }, {\n      \"countryCode\"\
              \ : \"LU\"\n    }, {\n      \"countryCode\" : \"NL\"\n    }, {\n   \
              \   \"countryCode\" : \"DE\"\n    } ]\n  },\n  \"_links\" : {\n    \"\
              self\" : {\n      \"href\" : \"https://yourshop.api.urn/shipping-zones/search/find-all-serviceable-countries\"\
              \n    }\n  },\n  \"page\" : {\n    \"size\" : 20,\n    \"totalElements\"\
              \ : 4,\n    \"totalPages\" : 1,\n    \"number\" : 0\n  }\n}"
          schema:
            $ref: "#/definitions/products_productId_attributes_namespace-1206450827"
  /carts/{cartId}:
    get:
      summary: "Get Cart"
      description: ""
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ {\n    \"_type\" : \"PRODUCT\"\
              ,\n    \"_id\" : \"90bf398d-75e8-42de-8292-26f730a87b62\",\n    \"_ref\"\
              \ : \"60f8c553-72c0-4dc9-b5d2-37fef49f29f0\",\n    \"name\" : \"Power\
              \ & Vanilla Coconut Protein Bar (Pack of 5)\",\n    \"quantity\" : {\n\
              \      \"value\" : 1,\n      \"unit\" : \"PIECE\"\n    },\n    \"singleItemPrice\"\
              \ : {\n      \"taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n\
              \      \"amount\" : 4.95\n    },\n    \"lineItemPrice\" : {\n      \"\
              taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 4.95\n    },\n    \"_embedded\" : {\n      \"product\" : {\n   \
              \     \"_id\" : \"60f8c553-72c0-4dc9-b5d2-37fef49f29f0\",\n        \"\
              sku\" : \"EB001\",\n        \"essentialFeatures\" : \"Preservative-free.\
              \ No added sweeteners. Vegan.\",\n        \"_links\" : {\n         \
              \ \"product\" : {\n            \"href\" : \"https://yourshop.api.urn/product-view/products/60f8c553-72c0-4dc9-b5d2-37fef49f29f0?locale=de-DE\"\
              \n          },\n          \"default-image-data\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n          }\n        }\n      }\n    },\n    \"quantityInt\" : 1,\n\
              \    \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 0.9405\n    },\n    \"_links\" : {\n      \"self\" : {\n        \"\
              href\" : \"https://yourshop.api.urn/carts/eb0a042f-99b0-4050-a4d8-062170a77a42/line-items/90bf398d-75e8-42de-8292-26f730a87b62\"\
              \n      }\n    }\n  } ],\n  \"shippingLineItem\" : {\n    \"lineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 19.99\n    },\n    \"lineItemTaxes\" : [ {\n \
              \     \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.0,\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 0\n    } ],\n    \"_embedded\"\
              \ : {\n      \"shipping-method\" : {\n        \"name\" : \"Standard\
              \ Shipping 2\",\n        \"description\" : \"Standard Shipping\",\n\
              \        \"taxClass\" : \"REGULAR\",\n        \"position\" : 0,\n  \
              \      \"freeShippingValue\" : null,\n        \"fixedPrice\" : {\n \
              \         \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\"\
              ,\n          \"amount\" : 19.99\n        },\n        \"weightBasedPrice\"\
              \ : null,\n        \"_id\" : \"9d3c2c08-bcf4-43a3-9b05-bef146dc9111\"\
              ,\n        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/shipping-zones/caf41412-c8e1-489a-b9f8-38ff9f6e1744/shipping-methods/9d3c2c08-bcf4-43a3-9b05-bef146dc9111\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ {\n      \"taxClass\" : \"REGULAR\",\n      \"taxRate\"\
              \ : 0.0,\n      \"currency\" : \"EUR\",\n      \"amount\" : 0\n    }\
              \ ],\n    \"_embedded\" : {\n      \"payment-method\" : {\n        \"\
              name\" : \"Converge\",\n        \"description\" : \"Pay with Converge\"\
              ,\n        \"officialName\" : \"Converge\",\n        \"officialDescription\"\
              \ : \"Pay with Converge\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"discountOrFee\" : {\n          \"type\" : \"ABSOLUTE\",\n \
              \         \"absoluteValue\" : {\n            \"taxModel\" : \"GROSS\"\
              ,\n            \"currency\" : \"EUR\",\n            \"amount\" : 2\n\
              \          },\n          \"percentageValue\" : null\n        },\n  \
              \      \"position\" : 1,\n        \"serviceableCountries\" : [ \"DE\"\
              \ ],\n        \"minimumOrderValue\" : null,\n        \"activated\" :\
              \ true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/d1be2981-b4ba-4581-9517-0b3bdf32ce74\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/d1be2981-b4ba-4581-9517-0b3bdf32ce74\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/d1be2981-b4ba-4581-9517-0b3bdf32ce74/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/d1be2981-b4ba-4581-9517-0b3bdf32ce74/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"d1be2981-b4ba-4581-9517-0b3bdf32ce74\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : {\n    \"salutation\"\
              \ : \"Mrs\",\n    \"gender\" : \"FEMALE\",\n    \"company\" : null,\n\
              \    \"title\" : \"\",\n    \"firstName\" : \"Astrid\",\n    \"middleName\"\
              \ : \"Agnes\",\n    \"lastName\" : \"Alster\",\n    \"street\" : \"\
              Alsterwasserweg\",\n    \"houseNumber\" : \"2\",\n    \"street2\" :\
              \ \"Erdgeschoss\",\n    \"addressExtension\" : \"\",\n    \"postalCode\"\
              \ : \"20999\",\n    \"city\" : \"Alsterwasser\",\n    \"country\" :\
              \ \"DE\",\n    \"state\" : \"Hamburg\",\n    \"email\" : \"a.alsterh@example.com\"\
              ,\n    \"phone\" : \"(800) 555-0102\",\n    \"mobile\" : \"(800) 555-0103\"\
              ,\n    \"displayAddressLines\" : [ \"Astrid Agnes Alster\", \"Alsterwasserweg\
              \ 2\", \"Erdgeschoss\", \"20999 Alsterwasser\" ],\n    \"vatId\" : \"\
              123456789\",\n    \"taxNumber\" : \"123-34-6789\",\n    \"birthDate\"\
              \ : \"1985-03-20\"\n  },\n  \"shippingAddress\" : {\n    \"salutation\"\
              \ : \"Mrs\",\n    \"gender\" : \"FEMALE\",\n    \"company\" : null,\n\
              \    \"title\" : \"\",\n    \"firstName\" : \"Astrid\",\n    \"middleName\"\
              \ : \"Agnes\",\n    \"lastName\" : \"Alster\",\n    \"street\" : \"\
              Alsterwasserweg\",\n    \"houseNumber\" : \"2\",\n    \"street2\" :\
              \ \"Erdgeschoss\",\n    \"addressExtension\" : \"\",\n    \"postalCode\"\
              \ : \"20999\",\n    \"city\" : \"Alsterwasser\",\n    \"country\" :\
              \ \"DE\",\n    \"state\" : \"Hamburg\",\n    \"email\" : \"a.alsterh@example.com\"\
              ,\n    \"phone\" : \"(800) 555-0102\",\n    \"mobile\" : \"(800) 555-0103\"\
              ,\n    \"displayAddressLines\" : [ \"Astrid Agnes Alster\", \"Alsterwasserweg\
              \ 2\", \"Erdgeschoss\", \"20999 Alsterwasser\" ],\n    \"doorCode\"\
              \ : \"0185\"\n  },\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 4.95\n  },\n  \"grandTotal\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 26.94\n  },\n  \"balanceDue\" : {\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 26.94\n  },\n  \"netTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 26.94\n  },\n \
              \ \"taxTotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n\
              \  },\n  \"taxes\" : [ {\n    \"taxClass\" : \"REGULAR\",\n    \"taxRate\"\
              \ : 0.0,\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  } ],\n\
              \  \"taxable\" : true,\n  \"minimumOrderValue\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\"\
              \ : false,\n  \"weight\" : 190,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : true,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : true\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/eb0a042f-99b0-4050-a4d8-062170a77a42\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/eb0a042f-99b0-4050-a4d8-062170a77a42/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/eb0a042f-99b0-4050-a4d8-062170a77a42/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/eb0a042f-99b0-4050-a4d8-062170a77a42/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/eb0a042f-99b0-4050-a4d8-062170a77a42/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/eb0a042f-99b0-4050-a4d8-062170a77a42/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/eb0a042f-99b0-4050-a4d8-062170a77a42/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/eb0a042f-99b0-4050-a4d8-062170a77a42/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/eb0a042f-99b0-4050-a4d8-062170a77a42/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/eb0a042f-99b0-4050-a4d8-062170a77a42/shipping-address\"\
              \n    },\n    \"place-order\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/eb0a042f-99b0-4050-a4d8-062170a77a42/order\"\
              \n    }\n  },\n  \"_id\" : \"eb0a042f-99b0-4050-a4d8-062170a77a42\"\n\
              }"
          schema:
            $ref: "#/definitions/carts_cartId476401674"
    delete:
      summary: "Delete Cart"
      description: ""
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        204:
          description: ""
          examples: {}
  /orders/{order-id}/create-invoice:
    post:
      summary: "Create Invoice"
      description: ""
      produces:
      - "application/hal+json"
      parameters:
      - name: "order-id"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_id\" : \"199ed8f0-ad43-471c-942a-cb5fc3e34cb6\"\
              ,\n  \"createdAt\" : \"2018-08-17T11:52:11.972\",\n  \"cartId\" : \"\
              022bf389-77ea-421a-8a3a-4c2d698fe43c\",\n  \"currency\" : \"EUR\",\n\
              \  \"taxModel\" : \"GROSS\",\n  \"taxable\" : false,\n  \"testOrder\"\
              \ : false,\n  \"termsAndConditionsExplicitlyAccepted\" : false,\n  \"\
              productLineItems\" : [ {\n    \"product\" : {\n      \"sku\" : \"EB001\"\
              ,\n      \"name\" : \"Power & Vanilla Coconut Protein Bar (Pack of 5)\"\
              ,\n      \"essentialFeatures\" : \"Preservative-free. No added sweeteners.\
              \ Vegan.\",\n      \"shippingWeight\" : 190,\n      \"defaultImageDataUri\"\
              \ : \"http://your.image.hoster.com/randomimage.png\",\n      \"_id\"\
              \ : \"46cd6ef0-bef5-4894-b175-67e6848a2ba6\",\n      \"_links\" : {\n\
              \        \"default-image-data\" : {\n          \"href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n        }\n      }\n    },\n    \"quantity\" : {\n      \"value\"\
              \ : 5,\n      \"unit\" : \"PIECE\"\n    },\n    \"quantityInt\" : 5,\n\
              \    \"initialQuantity\" : 5,\n    \"unitPrice\" : {\n      \"taxModel\"\
              \ : \"GROSS\",\n      \"currency\" : \"EUR\",\n      \"amount\" : 9.99\n\
              \    },\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 49.95\n    },\n \
              \   \"initialLineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 49.95\n    },\n \
              \   \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 7.9743\n    },\n    \"unshipped\" : {\n      \"quantity\" : 5,\n \
              \     \"amount\" : null\n    },\n    \"shipped\" : {\n      \"quantity\"\
              \ : 0,\n      \"amount\" : null\n    },\n    \"pending\" : {\n     \
              \ \"quantity\" : 0,\n      \"amount\" : null\n    },\n    \"returned\"\
              \ : {\n      \"quantity\" : 0,\n      \"amount\" : {\n        \"currency\"\
              \ : \"EUR\",\n        \"amount\" : 0\n      }\n    },\n    \"broken\"\
              \ : {\n      \"quantity\" : 0,\n      \"amount\" : {\n        \"currency\"\
              \ : \"EUR\",\n        \"amount\" : 0\n      }\n    },\n    \"canceled\"\
              \ : {\n      \"quantity\" : 0,\n      \"amount\" : {\n        \"currency\"\
              \ : \"EUR\",\n        \"amount\" : 0\n      }\n    },\n    \"_id\" :\
              \ \"520a1b2b-026f-43d4-99fc-f7c1d157ccef\"\n  }, {\n    \"product\"\
              \ : {\n      \"sku\" : \"vino020\",\n      \"name\" : \"Rioja Castillo\
              \ de Puerto (2013)\",\n      \"essentialFeatures\" : \"Dry. 12% alcohol.\
              \ Best vine variety.\",\n      \"shippingWeight\" : 100,\n      \"defaultImageDataUri\"\
              \ : \"http://your.image.hoster.com/randomimage.png\",\n      \"_id\"\
              \ : \"a1113445-ed57-4eee-8a65-2f99002451db\",\n      \"_links\" : {\n\
              \        \"default-image-data\" : {\n          \"href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n        }\n      }\n    },\n    \"quantity\" : {\n      \"value\"\
              \ : 3,\n      \"unit\" : \"PIECE\"\n    },\n    \"quantityInt\" : 3,\n\
              \    \"initialQuantity\" : 3,\n    \"unitPrice\" : {\n      \"taxModel\"\
              \ : \"GROSS\",\n      \"currency\" : \"EUR\",\n      \"amount\" : 2.5\n\
              \    },\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 7.5\n    },\n   \
              \ \"initialLineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n  \
              \    \"currency\" : \"EUR\",\n      \"amount\" : 7.5\n    },\n    \"\
              lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"taxRate\"\
              \ : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" : 1.197\n\
              \    },\n    \"unshipped\" : {\n      \"quantity\" : 3,\n      \"amount\"\
              \ : null\n    },\n    \"shipped\" : {\n      \"quantity\" : 0,\n   \
              \   \"amount\" : null\n    },\n    \"pending\" : {\n      \"quantity\"\
              \ : 0,\n      \"amount\" : null\n    },\n    \"returned\" : {\n    \
              \  \"quantity\" : 0,\n      \"amount\" : {\n        \"currency\" : \"\
              EUR\",\n        \"amount\" : 0\n      }\n    },\n    \"broken\" : {\n\
              \      \"quantity\" : 0,\n      \"amount\" : {\n        \"currency\"\
              \ : \"EUR\",\n        \"amount\" : 0\n      }\n    },\n    \"canceled\"\
              \ : {\n      \"quantity\" : 0,\n      \"amount\" : {\n        \"currency\"\
              \ : \"EUR\",\n        \"amount\" : 0\n      }\n    },\n    \"_id\" :\
              \ \"80f139a7-166b-4079-b242-cadc3a913556\"\n  } ],\n  \"shippingLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n \
              \   \"initialLineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n \
              \   \"taxClass\" : \"REGULAR\",\n    \"shippingMethod\" : {\n      \"\
              name\" : \"Standard Shipping 2\",\n      \"description\" : \"Standard\
              \ Shipping\",\n      \"freeShippingValue\" : {\n        \"currency\"\
              \ : \"EUR\",\n        \"amount\" : 400\n      },\n      \"fixedPrice\"\
              \ : {\n        \"taxModel\" : \"GROSS\",\n        \"currency\" : \"\
              EUR\",\n        \"amount\" : 19.99\n      },\n      \"weightBasedPrice\"\
              \ : null\n    },\n    \"lineItemTaxes\" : [ {\n      \"taxClass\" :\
              \ \"REGULAR\",\n      \"taxRate\" : 0.19,\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 3.192\n    } ]\n  },\n  \"paymentLineItem\" :\
              \ {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n  \
              \    \"currency\" : \"EUR\",\n      \"amount\" : 0\n    },\n    \"initialLineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 0\n    },\n    \"taxClass\" : \"REGULAR\",\n \
              \   \"paymentMethod\" : {\n      \"name\" : \"PayPal\",\n      \"description\"\
              \ : \"Pay with PayPal\",\n      \"discountOrFee\" : {\n        \"type\"\
              \ : \"ABSOLUTE\",\n        \"absoluteValue\" : {\n          \"taxModel\"\
              \ : \"GROSS\",\n          \"currency\" : \"EUR\",\n          \"amount\"\
              \ : 0\n        },\n        \"percentageValue\" : null\n      },\n  \
              \    \"onlinePayment\" : false\n    },\n    \"lineItemTaxes\" : [ {\n\
              \      \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.19,\n    \
              \  \"currency\" : \"EUR\",\n      \"amount\" : 0\n    } ]\n  },\n  \"\
              subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 57.45\n\
              \  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 77.44\n  },\n  \"balanceDue\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 77.44\n  },\n  \"netTotal\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 68.2687\n  },\n  \"taxTotal\" : {\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 9.1713\n  },\n  \"initialSubtotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 57.45\n  },\n \
              \ \"initialGrandTotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 77.44\n  },\n  \"initialBalanceDue\" : {\n    \"currency\" : \"\
              EUR\",\n    \"amount\" : 77.44\n  },\n  \"initialNetTotal\" : {\n  \
              \  \"currency\" : \"EUR\",\n    \"amount\" : 68.2687\n  },\n  \"initialTaxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 9.1713\n  },\n\
              \  \"taxes\" : [ {\n    \"taxClass\" : \"REGULAR\",\n    \"taxRate\"\
              \ : 0.19,\n    \"currency\" : \"EUR\",\n    \"amount\" : 9.1713\n  }\
              \ ],\n  \"shippingAddress\" : {\n    \"salutation\" : \"Mrs\",\n   \
              \ \"gender\" : \"FEMALE\",\n    \"company\" : \"Astrid Alster GmbH\"\
              ,\n    \"title\" : null,\n    \"firstName\" : \"Astrid\",\n    \"middleName\"\
              \ : \"Agnes\",\n    \"lastName\" : \"Alster\",\n    \"street\" : \"\
              Alsterwasserweg\",\n    \"houseNumber\" : \"2\",\n    \"street2\" :\
              \ \"Erdgeschoss\",\n    \"addressExtension\" : \"\",\n    \"postalCode\"\
              \ : \"20999\",\n    \"city\" : \"Alsterwasser\",\n    \"country\" :\
              \ \"DE\",\n    \"state\" : \"Hamburg\",\n    \"email\" : \"a.alsterh@example.com\"\
              ,\n    \"phone\" : \"(800) 555-0102\",\n    \"mobile\" : \"(800) 555-0103\"\
              ,\n    \"doorCode\" : \"456\",\n    \"displayAddressLines\" : [ \"Astrid\
              \ Alster GmbH\", \"Astrid Agnes Alster\", \"Alsterwasserweg 2\", \"\
              Erdgeschoss\", \"20999 Alsterwasser\", \"Germany\" ]\n  },\n  \"billingAddress\"\
              \ : {\n    \"salutation\" : \"Mrs\",\n    \"gender\" : \"FEMALE\",\n\
              \    \"company\" : \"Astrid Alster GmbH\",\n    \"title\" : null,\n\
              \    \"firstName\" : \"Astrid\",\n    \"middleName\" : \"Agnes\",\n\
              \    \"lastName\" : \"Alster\",\n    \"street\" : \"Alsterwasserweg\"\
              ,\n    \"houseNumber\" : \"2\",\n    \"street2\" : \"Erdgeschoss\",\n\
              \    \"addressExtension\" : \"\",\n    \"postalCode\" : \"20999\",\n\
              \    \"city\" : \"Alsterwasser\",\n    \"country\" : \"DE\",\n    \"\
              state\" : \"Hamburg\",\n    \"email\" : \"a.alsterh@example.com\",\n\
              \    \"phone\" : \"(800) 555-0102\",\n    \"mobile\" : \"(800) 555-0103\"\
              ,\n    \"vatId\" : \"DE123456789\",\n    \"taxNumber\" : \"HRE 987654/32123/864516\"\
              ,\n    \"birthDate\" : \"1985-05-11\",\n    \"displayAddressLines\"\
              \ : [ \"Astrid Alster GmbH\", \"Astrid Agnes Alster\", \"Alsterwasserweg\
              \ 2\", \"Erdgeschoss\", \"20999 Alsterwasser\", \"Germany\" ]\n  },\n\
              \  \"paymentStatus\" : \"PENDING\",\n  \"shippingStatus\" : \"UNSHIPPED\"\
              ,\n  \"canceled\" : false,\n  \"orderNumber\" : \"10001\",\n  \"customerComment\"\
              \ : null,\n  \"orderNote\" : \"not paid yet\",\n  \"entryDate\" : \"\
              2018-08-17T11:52:11.972\",\n  \"totalReceived\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 0\n  },\n  \"totalRefunded\" : {\n  \
              \  \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"openAmount\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 77.44\n  },\n \
              \ \"marketingChannel\" : \"Google shopping\",\n  \"marketingSubchannel\"\
              \ : \"Some category\",\n  \"salesChannel\" : \"Storefront\",\n  \"_links\"\
              \ : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/199ed8f0-ad43-471c-942a-cb5fc3e34cb6\"\
              \n    },\n    \"order\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/199ed8f0-ad43-471c-942a-cb5fc3e34cb6\"\
              \n    },\n    \"order-note\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/199ed8f0-ad43-471c-942a-cb5fc3e34cb6/order-note\"\
              \n    },\n    \"processes\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/199ed8f0-ad43-471c-942a-cb5fc3e34cb6/processes\"\
              \n    },\n    \"events\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/199ed8f0-ad43-471c-942a-cb5fc3e34cb6/events\"\
              \n    },\n    \"cancel\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/199ed8f0-ad43-471c-942a-cb5fc3e34cb6/cancel\"\
              \n    },\n    \"retry-create-invoice\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/199ed8f0-ad43-471c-942a-cb5fc3e34cb6/create-invoice\"\
              \n    },\n    \"terms-and-conditions-pdf\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/pdf-storage/attachments/some.pdf?hash=23213\"\
              \n    },\n    \"right-of-withdrawal-pdf\" : {\n      \"href\" : \"https://yourshop.api.urn/pdf-storage/attachments/some.pdf?hash=23213\"\
              \n    }\n  }\n}"
  /shops/{shopId}/deactivate:
    post:
      summary: "/shops/{shopId}/deactivate"
      description: ""
      produces:
      - "application/json"
      parameters:
      - name: "shopId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        204:
          description: ""
          examples:
            application/json: "null"
  /shop/open:
    post:
      summary: "Open Shop"
      description: ""
      produces:
      - "application/json"
      responses:
        204:
          description: ""
          examples:
            application/json: "null"
  /orders/{order-id}/processes/payments/active:
    get:
      summary: "Get sdfdsf Active Payment Process"
      description: ""
      produces:
      - "application/hal+json"
      parameters:
      - name: "order-id"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"amount\" : {\n    \"currency\" : \"EUR\"\
              ,\n    \"amount\" : 77.44\n  },\n  \"status\" : \"PENDING\",\n  \"paymentId\"\
              \ : null,\n  \"completed\" : false,\n  \"_id\" : \"0f0f9786-e7af-42e7-ab16-1defda253d7c\"\
              ,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/e570380b-1528-48a5-9541-eea664b653b1/processes/payments/0f0f9786-e7af-42e7-ab16-1defda253d7c\"\
              \n    },\n    \"payment-process\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/e570380b-1528-48a5-9541-eea664b653b1/processes/payments/0f0f9786-e7af-42e7-ab16-1defda253d7c\"\
              \n    },\n    \"mark-voided\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/e570380b-1528-48a5-9541-eea664b653b1/processes/payments/0f0f9786-e7af-42e7-ab16-1defda253d7c/mark-voided\"\
              \n    },\n    \"mark-paid\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/e570380b-1528-48a5-9541-eea664b653b1/processes/payments/0f0f9786-e7af-42e7-ab16-1defda253d7c/mark-paid\"\
              \n    }\n  }\n}"
  /users/{id}/roles:
    get:
      summary: "List User Roles"
      description: ""
      produces:
      - "application/hal+json"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"roles\" : [ {\n \
              \     \"generated\" : true,\n      \"name\" : \"merchant\",\n      \"\
              _embedded\" : {\n        \"scopes\" : [ {\n          \"name\" : \"adon:m\"\
              ,\n          \"_links\" : {\n            \"self\" : {\n            \
              \  \"href\" : \"https://yourshop.api.urn/scopes/808f96a5-7aac-41ef-b085-856ee3d764a1{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"adon:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/db2e6f91-4b8c-401d-8662-eb88e60bdb57{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"amad:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/1986dd02-6645-406d-85c7-856fb28ffdf6{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"amad:d\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/005c8676-a4ec-4eeb-a5c9-8cf821690d71{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"amad:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/5c8a4b23-0209-4863-b49f-c6404a5cda63{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"amad:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/69c9757d-33ae-4a94-ab9a-281cbc0a7786{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"amzp:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/20b82304-6b79-4d3a-af51-798c98b2be6d{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"amzp:d\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/776196e3-fabc-406f-b62d-b622f47dc2a6{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"amzp:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/b95f3811-da87-41cf-9930-a0bcffb291d3{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"amzp:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/9619994a-e57f-491c-a210-be79bcbdfa50{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"amzs:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/328f2781-3b55-40a3-8027-d36943db8691{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"catg:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/70f56e47-8973-4b85-9e74-4b8839ae1357{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"catg:d\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/170ee2e9-de83-4494-87d9-94acb91f6250{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"catg:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/7d30170f-87f5-41bb-84e7-8fe263dc8cb4{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"catg:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/3a6ede9a-611e-4866-8297-d5acac8d43c7{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"clpr:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/853a1140-143d-4ffb-8964-451ea4447542{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"clpr:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/66a494fb-f0dc-4ff9-bf9e-0e41b4923e19{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"cset:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/86854280-f42b-4d82-8550-4aecc8cef08d{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"cset:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/01b2f809-4ff1-42e7-bc77-2e61f57ba895{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"feat:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/fb3903fc-e7be-406b-a39e-015141f709c4{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"gsad:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/a8fe8308-ff38-4da8-9638-b1a88192e7c4{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"gsad:d\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/4bef303d-83bd-41cc-b4f2-587c2f9c8873{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"gsad:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/0e5e31df-5b07-4900-905c-0d5a89e2553b{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"gsad:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/f4445c17-c54a-4b90-8b8c-b8a0b4b3d7fd{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"gspr:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/3b20581f-d1f7-4d85-a301-90c20a34d06b{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"gspr:d\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/baf4b11a-eb8d-4de7-92f1-6c1117c8feeb{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"gspr:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/b5483e67-0fd8-481a-8568-5403424af981{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"gspr:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/fec13ae0-da15-4fdc-bea8-d6a52b421423{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"lcnt:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/c9d069f1-424b-40e0-9332-9ae2410fe250{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"legl:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/6233340e-62d5-439c-9b0f-c41cd5b47f48{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"legl:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/3797d561-1152-4d23-861a-d9c83327e7a6{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"mtst:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/6c31f7c9-e3e7-4e04-bfb9-8abbd2bcd4d3{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"oapp:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/7ec96122-44c9-496a-9f7d-a109c9e7541d{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"orde:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/0ffd9b6a-f9c7-4a5e-afba-17f070ee9b5a{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"ordn:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/e7feb84b-05a3-4486-be70-9cd14ab49a9b{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"ordn:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/4be453ba-4c6e-4064-ba86-7154ffb66079{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"ordp:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/5c46dc83-74c3-4b6e-9e21-11637fbe26f2{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"ordr:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/b56a9b63-719a-44a1-88ae-48647d37e7ca{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"ordr:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/39c0ae08-21e2-4b50-9722-4080eac86297{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"papp:m\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/9913650a-171b-469d-8ec6-b5317c19f1a2{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"prad:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/0cd11eb4-eb62-4192-9d54-9147177214be{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"prad:d\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/4ef7c8b8-5c60-4f73-b94e-7ea750540ecc{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"prad:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/5c0dcbad-feee-43b0-8fc0-67a3eaa4c74e{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"prad:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/8cfdf146-6962-4c1f-99e1-6d92d9f7af2b{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"prda:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/43063921-1a1f-4745-8abc-74a49cb139eb{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"prda:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/b88ab6f3-8ec7-4d4a-b7a8-25b51d66b886{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"prod:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/e0458a34-fad2-4157-bcdc-651951b315d1{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"prod:d\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/14580a2b-8353-4ab9-b167-b2f378cf8e78{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"prod:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/cc944183-b326-4af3-9e0a-cb300f1fd131{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"prod:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/0868b864-ea27-4cca-a763-e399fbaa873e{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"prst:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/b37ecf28-3efa-40b0-8f40-0201ce8148a8{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"prst:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/62923729-b4b7-4a7c-b1b8-53de28b6145b{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"pymt:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/00c86d2b-a6d2-4659-afff-9380cf91ec77{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"pymt:d\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/70b9474c-24ca-4085-b33f-8fe47d29ad34{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"pymt:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/13fb21b2-0137-4781-9bb2-0ef99a7c777c{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"pymt:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/153c235a-cdee-47f0-8d03-a236e4444b3c{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"pypr:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/00ca2786-3852-4235-839f-7b30d37e8cf3{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"pypr:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/7c99f92a-c45c-4481-bc0d-53eb4c54048a{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"pypr:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/09608980-c9cd-41e9-99bf-7b7019021c18{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"rfpr:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/add2dbfd-af01-4026-960b-3d3b1ace76b9{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"rfpr:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/4038e773-b4b2-441b-8745-399f05964d03{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"ridx:a\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/e38fd025-82b3-42db-8fbb-d8c091e2ef2d{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"ridx:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/6a5e4f1f-1899-494d-b358-905605bc7910{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"ridx:p\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/0ff191eb-d346-4523-89a1-82ce5b17627e{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"rtpr:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/2759583a-fc41-42a2-9d7a-353db4902e18{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"rtpr:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/8a9dcc76-4e8d-47a2-ab87-b7d3313a32a6{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"scop:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/790b873c-b500-4082-9dfb-da0fc47676c6{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shad:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/f3bc71f1-0cec-49a2-bb10-35a5fae5bbb9{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shad:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/561e1398-0fba-4f23-9e2c-223500475124{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shat:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/994ffe72-f304-4bb7-96b7-82f04129f92e{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shat:d\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/fdc7bfe7-1dfc-4e72-af9f-5600f7a6360b{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shat:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/02af37b2-6bd5-4436-99a1-5e235282705e{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shat:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/1ac26bfe-aa7d-409e-a97e-9f1b0157a9a5{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shcl:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/3feaade9-210b-449b-b3e8-748f7b8512a6{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shim:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/6c78b383-380b-43a9-94f0-a2d2d78d549a{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shim:d\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/5b24a1ce-4024-42fb-871c-5030909f8568{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shim:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/1933e481-bf97-4735-9d01-5b05a0444083{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shop:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/2af8d1f6-8528-467d-81fb-ba87e29746f2{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shop:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/df826961-83ba-4c2b-884e-25b47beb9c6c{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shpr:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/dec841ed-57c2-4498-b0e5-16d400289266{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shpr:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/d852d044-f5b4-4c5d-8ac4-ef04fdf8b08c{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shpr:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/b0ba4da6-3191-4f8d-acd7-9eaa398d2c77{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shpz:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/170c400e-251c-4b8f-bc89-26d62827c6c5{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shpz:d\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/0b2a14f9-2126-48b0-ad98-5d33cceee9aa{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shpz:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/a6dd69c4-f5ce-441d-a551-284d88bfbe43{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"shpz:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/965ec8ed-83d3-4b39-8b8a-bc367bf78709{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"user:c\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/7004d994-a477-4990-8a8b-613fc8787f7e{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"user:d\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/0e0a75b8-9473-41a6-8322-a1cf5f30e12a{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"user:r\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/f1cd48a4-c456-4ffd-86c0-f343bdfb87e5{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        }, {\n          \"name\" : \"user:u\",\n          \"_links\"\
              \ : {\n            \"self\" : {\n              \"href\" : \"https://yourshop.api.urn/scopes/32dff7f6-ac03-4b23-93ad-251def256d4a{?projection}\"\
              ,\n              \"templated\" : true\n            }\n          }\n\
              \        } ]\n      },\n      \"_links\" : {\n        \"self\" : {\n\
              \          \"href\" : \"https://yourshop.api.urn/roles/d672412b-4c7e-4252-bd1d-7e3d9c4e0b3a\"\
              \n        },\n        \"role\" : {\n          \"href\" : \"https://yourshop.api.urn/roles/d672412b-4c7e-4252-bd1d-7e3d9c4e0b3a\"\
              \n        },\n        \"scopes\" : {\n          \"href\" : \"https://yourshop.api.urn/roles/d672412b-4c7e-4252-bd1d-7e3d9c4e0b3a/scopes\"\
              \n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/users/47afe311-f433-4b47-b2e8-2438ed533389/roles\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/products_search_find-attribute-string-values-309252030"
    post:
      summary: "Add User Role"
      description: ""
      consumes:
      - "text/uri-list"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/users_id_roles-2030854248"
        x-examples:
          text/uri-list: "https://yourshop.api.urn/roles/5041c91f-3a04-4435-abe3-99c23cd915de"
      responses:
        204:
          description: ""
          examples: {}
    put:
      summary: "Set User Roles"
      description: ""
      consumes:
      - "text/uri-list"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/users_id_roles96243446"
        x-examples:
          text/uri-list: "https://yourshop.api.urn/roles/541449d5-b41b-4e5a-b67a-d4c470da85a4"
      responses:
        204:
          description: ""
          examples: {}
  /orders/{order-id}/processes/cancelations:
    get:
      summary: "List Cancel Processes"
      description: ""
      produces:
      - "application/hal+json"
      parameters:
      - name: "order-id"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"cancel-processes\"\
              \ : [ {\n      \"lineItems\" : [ {\n        \"productLineItemId\" :\
              \ \"2d8ff09f-399f-453c-83b7-b7fbc5102071\",\n        \"quantity\" :\
              \ 3\n      } ],\n      \"_id\" : \"8fb0b38d-bbf1-46b6-bb75-02584bf51450\"\
              ,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" :\
              \ \"https://yourshop.api.urn/orders/aaee3aa4-0981-4e26-bcbe-6afe4a7d3ba3/processes/cancelations/8fb0b38d-bbf1-46b6-bb75-02584bf51450\"\
              \n        },\n        \"cancel-process\" : {\n          \"href\" : \"\
              https://yourshop.api.urn/orders/aaee3aa4-0981-4e26-bcbe-6afe4a7d3ba3/processes/cancelations/8fb0b38d-bbf1-46b6-bb75-02584bf51450\"\
              \n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/orders/aaee3aa4-0981-4e26-bcbe-6afe4a7d3ba3/processes/cancelations?page=0&size=20\"\
              \n    },\n    \"cancel-processes\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/aaee3aa4-0981-4e26-bcbe-6afe4a7d3ba3/processes/cancelations\"\
              \n    }\n  },\n  \"page\" : {\n    \"size\" : 20,\n    \"totalElements\"\
              \ : 1,\n    \"totalPages\" : 1,\n    \"number\" : 0\n  }\n}"
          schema:
            $ref: "#/definitions/products_productId_attributes_namespace-1206450827"
    post:
      summary: "Create Cancel Process"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "order-id"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/orders_order-id_processes_cancelations1032668456"
        x-examples:
          application/json: "{\n  \"comment\" : \"This needs to be done fast!\",\n\
            \  \"lineItems\" : [ {\n    \"quantity\" : 3,\n    \"productLineItemId\"\
            \ : \"3f259987-b6c0-4acf-85cc-9b8b4a046cc6\"\n  } ]\n}"
      responses:
        201:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ {\n    \"productLineItemId\"\
              \ : \"3f259987-b6c0-4acf-85cc-9b8b4a046cc6\",\n    \"quantity\" : 3\n\
              \  } ],\n  \"_id\" : \"e46c9e8b-4592-4f39-abb7-1699c4a3aa42\",\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/bbfa448e-9d5b-4422-a1ab-123d43a9bbe9/processes/cancelations/e46c9e8b-4592-4f39-abb7-1699c4a3aa42\"\
              \n    },\n    \"cancel-process\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/bbfa448e-9d5b-4422-a1ab-123d43a9bbe9/processes/cancelations/e46c9e8b-4592-4f39-abb7-1699c4a3aa42\"\
              \n    }\n  }\n}"
  /product-view/products/{productId}:
    get:
      summary: "Get Enchanced View of Product"
      description: ""
      produces:
      - "application/hal+json"
      parameters:
      - name: "productId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - name: "projection"
        in: "query"
        description: "The projection to apply in order to show an enhanced view of\
          \ product details. Use `enhancedProductProjection`."
        required: false
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_id\" : \"f56ca6c8-19ee-4e94-8c5e-e456d9fb89ca\"\
              ,\n  \"_indexedAt\" : \"2018-08-14T14:35:19.477\",\n  \"sku\" : \"vino020\"\
              ,\n  \"name\" : \"Rioja Castillo de Puerto (2013)\",\n  \"salesPrice\"\
              \ : {\n    \"amount\" : 8.7,\n    \"currency\" : \"EUR\"\n  },\n  \"\
              listPrice\" : {\n    \"amount\" : 10.95,\n    \"currency\" : \"EUR\"\
              \n  },\n  \"manufacturerPrice\" : {\n    \"amount\" : 99.95,\n    \"\
              currency\" : \"EUR\"\n  },\n  \"onSale\" : true,\n  \"listPriceText\"\
              \ : \"Old Price\",\n  \"shippingDimension\" : {\n    \"length\" : 1500,\n\
              \    \"width\" : 1000,\n    \"height\" : 2000\n  },\n  \"refPrice\"\
              \ : {\n    \"refQuantity\" : 1,\n    \"unit\" : \"LITER\",\n    \"quantity\"\
              \ : 0.75,\n    \"price\" : {\n      \"amount\" : 11.6,\n      \"currency\"\
              \ : \"EUR\"\n    }\n  },\n  \"availabilityState\" : \"IN_STOCK\",\n\
              \  \"description\" : \"Spain\\nRioja Tempranillo\",\n  \"manufacturer\"\
              \ : \"Grape Vineyard\",\n  \"essentialFeatures\" : \"Dry. 12% alcohol.\
              \ Best vine variety.\",\n  \"tags\" : [ \"Bestseller\", \"Red Wine\"\
              , \"Sale\" ],\n  \"attributes\" : [ {\n    \"namespace\" : \"custom\"\
              ,\n    \"name\" : \"type\",\n    \"value\" : \"vine\",\n    \"displayName\"\
              \ : \"type\",\n    \"format\" : null,\n    \"formattedValue\" : \"vine\"\
              \n  }, {\n    \"namespace\" : \"mbo\",\n    \"name\" : \"flag\",\n \
              \   \"value\" : \"usa\",\n    \"displayName\" : \"flag\",\n    \"format\"\
              \ : null,\n    \"formattedValue\" : \"usa\"\n  }, {\n    \"namespace\"\
              \ : \"seo\",\n    \"name\" : \"slug\",\n    \"value\" : \"rioja\",\n\
              \    \"displayName\" : \"slug\",\n    \"format\" : null,\n    \"formattedValue\"\
              \ : \"rioja\"\n  } ],\n  \"shippingPeriod\" : {\n    \"minDays\" : null,\n\
              \    \"maxDays\" : 4,\n    \"displayUnit\" : \"WEEKS\"\n  },\n  \"_links\"\
              \ : {\n    \"default-image-data\" : {\n      \"href\" : \"https://yourshop.api.urn/storage-api/images/rioja-01.jpg?hash=e9a1ce5c0c6abfebec8fb1f6faf77dca7e6e7777{&width,height,upscale}\"\
              ,\n      \"templated\" : true\n    },\n    \"self\" : {\n      \"href\"\
              \ : \"https://yourshop.api.urn/product-view/products/f56ca6c8-19ee-4e94-8c5e-e456d9fb89ca\"\
              \n    },\n    \"product\" : {\n      \"href\" : \"https://yourshop.api.urn/product-view/products/f56ca6c8-19ee-4e94-8c5e-e456d9fb89ca{?projection}\"\
              ,\n      \"templated\" : true\n    },\n    \"additional-image-data\"\
              \ : [ {\n      \"href\" : \"https://yourshop.api.urn/storage-api/images/rioja-02.JPG?hash=8a627f655c68f56dfbbf217ab7d5563281225998{&width,height,upscale}\"\
              ,\n      \"templated\" : true\n    }, {\n      \"href\" : \"https://yourshop.api.urn/storage-api/images/rioja-03.JPG?hash=8a627f655c68f56dfbbf217ab7d5563281225999{&width,height,upscale}\"\
              ,\n      \"templated\" : true\n    }, {\n      \"href\" : \"https://yourshop.api.urn/storage-api/images/rioja-04.JPG?hash=8a627f655c68f56dfbbf217ab7d5563281226000{&width,height,upscale}\"\
              ,\n      \"templated\" : true\n    } ]\n  }\n}"
          schema:
            $ref: "#/definitions/product-view_products_productId1752920684"
  /signers:
    get:
      summary: "Get Signer"
      description: ""
      produces:
      - "application/hal+json"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"signers\" : [ {\n\
              \      \"_id\" : \"3d14cfb7-9bd8-4ead-8054-cea858a36937\",\n      \"\
              createdAt\" : \"2018-08-21T06:16:32.795\",\n      \"_links\" : {\n \
              \       \"self\" : {\n          \"href\" : \"https://yourshop.api.urn/signers/3d14cfb7-9bd8-4ead-8054-cea858a36937\"\
              \n        }\n      }\n    }, {\n      \"_id\" : \"6e7d0d2f-2ef4-4097-b842-41c60214fa43\"\
              ,\n      \"createdAt\" : \"2018-08-21T06:16:32.846\",\n      \"_links\"\
              \ : {\n        \"self\" : {\n          \"href\" : \"https://yourshop.api.urn/signers/6e7d0d2f-2ef4-4097-b842-41c60214fa43\"\
              \n        }\n      }\n    } ]\n  }\n}"
          schema:
            $ref: "#/definitions/carts_cartId_shipping-methods-663923302"
    post:
      summary: "Update Signer"
      description: ""
      produces:
      - "application/hal+json"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_id\" : \"1addeffd-493f-436d-9983-f290f276aabd\"\
              ,\n  \"sharedSecret\" : \"t7pnnfvp5uillfhl4tt1a1c5ss\",\n  \"_links\"\
              \ : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/signers/1addeffd-493f-436d-9983-f290f276aabd\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/signers1038188776"
  /shop/features/{featureName}:
    get:
      summary: "Get Shop Feature"
      description: ""
      produces:
      - "application/hal+json"
      parameters:
      - name: "featureName"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"name\" : \"shop-admin.shop.max-products\"\
              ,\n  \"details\" : {\n    \"maxValue\" : 100,\n    \"currentValue\"\
              \ : 0\n  },\n  \"type\" : \"COUNTER\",\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/shop/features/shop-admin.shop.max-products\"\
              \n    },\n    \"owner\" : {\n      \"href\" : \"https://yourshop.api.urn/shop\"\
              \n    },\n    \"feature-definition\" : {\n      \"href\" : \"https://yourshop.api.urn/feature-definitions/shop-admin.shop.max-products\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/shop_features_featureName-647036562"
  /google-shopping/site-verification:
    get:
      summary: "Retrieve Site Verification Token"
      description: ""
      produces:
      - "application/json"
      responses:
        200:
          description: ""
          examples:
            application/json: "{\n  \"token\" : \"<verification token>\"\n}"
          schema:
            $ref: "#/definitions/google-shopping_site-verification-110965904"
  /shop/legal:
    get:
      summary: "Shop legal details"
      description: ""
      produces:
      - "application/hal+json"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"commercialRegister\" : null,\n  \"commercialRegisterNumber\"\
              \ : null,\n  \"vatId\" : null,\n  \"country\" : \"GB\",\n  \"_links\"\
              \ : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/shop/legal\"\
              \n    },\n    \"legal\" : {\n      \"href\" : \"https://yourshop.api.urn/shop/legal\"\
              \n    },\n    \"owner\" : {\n      \"href\" : \"https://yourshop.api.urn/shop\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/shop_legal-709058360"
    patch:
      summary: "Update Legal Resource"
      description: ""
      consumes:
      - "application/json-patch+json"
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/shop_legal-1543943523"
        x-examples:
          application/json-patch+json: "[ {\n  \"op\" : \"add\",\n  \"path\" : \"\
            /vatId\",\n  \"value\" : \"GB 111111111\"\n} ]"
          application/json: "{\n  \"vatId\" : \"GB 111111111\"\n}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"commercialRegister\" : null,\n  \"commercialRegisterNumber\"\
              \ : null,\n  \"vatId\" : \"GB 111111111\",\n  \"country\" : \"GB\",\n\
              \  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/shop/legal\"\
              \n    },\n    \"legal\" : {\n      \"href\" : \"https://yourshop.api.urn/shop/legal\"\
              \n    },\n    \"owner\" : {\n      \"href\" : \"https://yourshop.api.urn/shop\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/shop_legal-163566506"
  /shipping-zones/{shippingZoneId}/shipping-methods:
    get:
      summary: "Sort Shipping Method"
      description: ""
      produces:
      - "application/hal+json"
      parameters:
      - name: "shippingZoneId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"shipping-methods\"\
              \ : [ {\n      \"name\" : \"Standard Shipping 2-3\",\n      \"description\"\
              \ : \"Standard Shipping\",\n      \"taxClass\" : \"REGULAR\",\n    \
              \  \"position\" : 0,\n      \"freeShippingValue\" : {\n        \"currency\"\
              \ : \"EUR\",\n        \"amount\" : 400\n      },\n      \"fixedPrice\"\
              \ : {\n        \"taxModel\" : \"GROSS\",\n        \"currency\" : \"\
              EUR\",\n        \"amount\" : 2\n      },\n      \"weightBasedPrice\"\
              \ : null,\n      \"_id\" : \"1154f94a-276a-4fc0-811e-0c36dfc9aeba\"\
              ,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" :\
              \ \"https://yourshop.api.urn/shipping-zones/ef4b8df2-4972-41ca-95ca-2ce5f4e0af1d/shipping-methods/1154f94a-276a-4fc0-811e-0c36dfc9aeba\"\
              \n        }\n      }\n    }, {\n      \"name\" : \"Standard Shipping\
              \ 2-1\",\n      \"description\" : \"Standard Shipping\",\n      \"taxClass\"\
              \ : \"REGULAR\",\n      \"position\" : 1,\n      \"freeShippingValue\"\
              \ : {\n        \"currency\" : \"EUR\",\n        \"amount\" : 400\n \
              \     },\n      \"fixedPrice\" : {\n        \"taxModel\" : \"GROSS\"\
              ,\n        \"currency\" : \"EUR\",\n        \"amount\" : 2\n      },\n\
              \      \"weightBasedPrice\" : null,\n      \"_id\" : \"5e322b6b-ea1e-4a4d-b51f-9ad5d918baf7\"\
              ,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" :\
              \ \"https://yourshop.api.urn/shipping-zones/ef4b8df2-4972-41ca-95ca-2ce5f4e0af1d/shipping-methods/5e322b6b-ea1e-4a4d-b51f-9ad5d918baf7\"\
              \n        }\n      }\n    }, {\n      \"name\" : \"Standard Shipping\
              \ 2-2\",\n      \"description\" : \"Standard Shipping\",\n      \"taxClass\"\
              \ : \"REGULAR\",\n      \"position\" : 2,\n      \"freeShippingValue\"\
              \ : {\n        \"currency\" : \"EUR\",\n        \"amount\" : 400\n \
              \     },\n      \"fixedPrice\" : {\n        \"taxModel\" : \"GROSS\"\
              ,\n        \"currency\" : \"EUR\",\n        \"amount\" : 2\n      },\n\
              \      \"weightBasedPrice\" : null,\n      \"_id\" : \"743205f8-8af3-49e7-9020-0b846aa2fd23\"\
              ,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" :\
              \ \"https://yourshop.api.urn/shipping-zones/ef4b8df2-4972-41ca-95ca-2ce5f4e0af1d/shipping-methods/743205f8-8af3-49e7-9020-0b846aa2fd23\"\
              \n        }\n      }\n    }, {\n      \"name\" : \"Standard Shipping\
              \ 2-4\",\n      \"description\" : \"Standard Shipping\",\n      \"taxClass\"\
              \ : \"REGULAR\",\n      \"position\" : 3,\n      \"freeShippingValue\"\
              \ : {\n        \"currency\" : \"EUR\",\n        \"amount\" : 400\n \
              \     },\n      \"fixedPrice\" : {\n        \"taxModel\" : \"GROSS\"\
              ,\n        \"currency\" : \"EUR\",\n        \"amount\" : 2\n      },\n\
              \      \"weightBasedPrice\" : null,\n      \"_id\" : \"1cdbee35-b4f4-4042-a135-379d67a4693c\"\
              ,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" :\
              \ \"https://yourshop.api.urn/shipping-zones/ef4b8df2-4972-41ca-95ca-2ce5f4e0af1d/shipping-methods/1cdbee35-b4f4-4042-a135-379d67a4693c\"\
              \n        }\n      }\n    }, {\n      \"name\" : \"Standard Shipping\
              \ 2-0\",\n      \"description\" : \"Standard Shipping\",\n      \"taxClass\"\
              \ : \"REGULAR\",\n      \"position\" : 4,\n      \"freeShippingValue\"\
              \ : {\n        \"currency\" : \"EUR\",\n        \"amount\" : 400\n \
              \     },\n      \"fixedPrice\" : {\n        \"taxModel\" : \"GROSS\"\
              ,\n        \"currency\" : \"EUR\",\n        \"amount\" : 2\n      },\n\
              \      \"weightBasedPrice\" : null,\n      \"_id\" : \"1e405298-28e2-4e5a-8c8c-9a14b6e9b5eb\"\
              ,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" :\
              \ \"https://yourshop.api.urn/shipping-zones/ef4b8df2-4972-41ca-95ca-2ce5f4e0af1d/shipping-methods/1e405298-28e2-4e5a-8c8c-9a14b6e9b5eb\"\
              \n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/shipping-zones/ef4b8df2-4972-41ca-95ca-2ce5f4e0af1d/shipping-methods\"\
              \n    }\n  }\n}"
    post:
      summary: "Create Shipping Method"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "shippingZoneId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/shipping-zones_shippingZoneId_shipping-methods-1145325167"
        x-examples:
          application/json: "{\n  \"name\" : \"Standard Shipping 2\",\n  \"description\"\
            \ : \"Standard Shipping\",\n  \"taxClass\" : \"REGULAR\",\n  \"freeShippingValue\"\
            \ : {\n    \"taxModel\" : \"GROSS\",\n    \"currency\" : \"EUR\",\n  \
            \  \"amount\" : 400\n  },\n  \"fixedPrice\" : {\n    \"taxModel\" : \"\
            GROSS\",\n    \"currency\" : \"EUR\",\n    \"amount\" : \"19.99\"\n  }\n\
            }"
      responses:
        201:
          description: ""
          examples:
            application/hal+json: "{\n  \"name\" : \"DE\",\n  \"serviceableCountries\"\
              \ : [ \"DE\" ],\n  \"position\" : 1,\n  \"shippingMethods\" : [ {\n\
              \    \"name\" : \"Standard Shipping 2\",\n    \"description\" : \"Standard\
              \ Shipping\",\n    \"taxClass\" : \"REGULAR\",\n    \"position\" : 0,\n\
              \    \"freeShippingValue\" : null,\n    \"fixedPrice\" : {\n      \"\
              taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 19.99\n    },\n    \"weightBasedPrice\" : null,\n    \"_id\" : \"\
              9b92fb21-847d-44a4-b3dd-d77e492f477d\",\n    \"_links\" : {\n      \"\
              self\" : {\n        \"href\" : \"https://yourshop.api.urn/shipping-zones/4ae6c3be-60d4-48a9-87a0-1906b599d531/shipping-methods/9b92fb21-847d-44a4-b3dd-d77e492f477d\"\
              \n      }\n    }\n  }, {\n    \"name\" : \"Standard Shipping 2\",\n\
              \    \"description\" : \"Standard Shipping\",\n    \"taxClass\" : \"\
              REGULAR\",\n    \"position\" : 0,\n    \"freeShippingValue\" : {\n \
              \     \"currency\" : \"EUR\",\n      \"amount\" : 400\n    },\n    \"\
              fixedPrice\" : null,\n    \"weightBasedPrice\" : {\n      \"weightPriceThresholds\"\
              \ : [ {\n        \"maxWeight\" : 1000,\n        \"price\" : {\n    \
              \      \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\",\n\
              \          \"amount\" : 4\n        }\n      }, {\n        \"maxWeight\"\
              \ : 5000,\n        \"price\" : {\n          \"taxModel\" : \"GROSS\"\
              ,\n          \"currency\" : \"EUR\",\n          \"amount\" : 9\n   \
              \     }\n      } ],\n      \"unlimitedWeightPrice\" : {\n        \"\
              taxModel\" : \"GROSS\",\n        \"currency\" : \"EUR\",\n        \"\
              amount\" : 34\n      }\n    },\n    \"_id\" : \"8381b4c9-3383-4266-8a98-ac1a001ebdbb\"\
              ,\n    \"_links\" : {\n      \"self\" : {\n        \"href\" : \"https://yourshop.api.urn/shipping-zones/4ae6c3be-60d4-48a9-87a0-1906b599d531/shipping-methods/8381b4c9-3383-4266-8a98-ac1a001ebdbb\"\
              \n      }\n    }\n  } ],\n  \"_links\" : {\n    \"self\" : {\n     \
              \ \"href\" : \"https://yourshop.api.urn/shipping-zones/4ae6c3be-60d4-48a9-87a0-1906b599d531\"\
              \n    },\n    \"shipping-methods\" : {\n      \"href\" : \"https://yourshop.api.urn/shipping-zones/4ae6c3be-60d4-48a9-87a0-1906b599d531/shipping-methods\"\
              \n    }\n  },\n  \"_id\" : \"4ae6c3be-60d4-48a9-87a0-1906b599d531\"\n\
              }"
  /products/{productId}/attributes/{namespace}/{attributeName}:
    get:
      summary: "List Custom Product Attributes by Namespace and Attribute Name"
      description: ""
      produces:
      - "application/hal+json"
      parameters:
      - name: "productId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - name: "namespace"
        in: "path"
        description: ""
        required: true
        type: "string"
      - name: "attributeName"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"attributes\" : [\
              \ {\n      \"namespace\" : \"namespace_seo\",\n      \"name\" : \"attr_different_locale\"\
              ,\n      \"locale\" : \"de-DE\",\n      \"type\" : \"STRING\",\n   \
              \   \"value\" : \"mein-produkt\",\n      \"_links\" : {\n        \"\
              self\" : {\n          \"href\" : \"https://yourshop.api.urn/products/34b2cf2d-8dff-48db-84b1-b0d2645a5217/attributes/namespace_seo/attr_different_locale?locale=de-DE\"\
              \n        },\n        \"owner\" : {\n          \"href\" : \"https://yourshop.api.urn/products/34b2cf2d-8dff-48db-84b1-b0d2645a5217\"\
              \n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/products/34b2cf2d-8dff-48db-84b1-b0d2645a5217/attributes/namespace_seo/attr_different_locale?locale=de-DE\"\
              \n    },\n    \"owner\" : {\n      \"href\" : \"https://yourshop.api.urn/products/34b2cf2d-8dff-48db-84b1-b0d2645a5217\"\
              \n    }\n  },\n  \"page\" : {\n    \"size\" : 20,\n    \"totalElements\"\
              \ : 1,\n    \"totalPages\" : 1,\n    \"number\" : 0\n  }\n}"
          schema:
            $ref: "#/definitions/products_productId_attributes_namespace-1206450827"
    delete:
      summary: "Delete Custom Product Attribute"
      description: ""
      parameters:
      - name: "productId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - name: "namespace"
        in: "path"
        description: ""
        required: true
        type: "string"
      - name: "attributeName"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        204:
          description: ""
          examples: {}
  /webhook-subscriptions/{id}:
    get:
      summary: "Get Subscription"
      description: ""
      produces:
      - "application/hal+json"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"callbackUri\" : \"http://example.com/test\"\
              ,\n  \"eventTypes\" : [ \"order.created\", \"product.created\" ],\n\
              \  \"active\" : true,\n  \"_id\" : \"36233de2-7898-4bb4-bd4d-7a1c5479dffe\"\
              ,\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/webhook-subscriptions/36233de2-7898-4bb4-bd4d-7a1c5479dffe\"\
              \n    },\n    \"deactivate\" : {\n      \"href\" : \"https://yourshop.api.urn/webhook-subscriptions/36233de2-7898-4bb4-bd4d-7a1c5479dffe/deactivate\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/webhook-subscriptions_id-209735219"
    put:
      summary: "Update Subscription"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/webhook-subscriptions_id-870933290"
        x-examples:
          application/json: "{\n    \"callbackUri\":\"http://example.com/test/updated\"\
            ,\n    \"eventTypes\": [\"product.updated\"]\n}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"callbackUri\" : \"http://example.com/test/updated\"\
              ,\n  \"eventTypes\" : [ \"product.updated\" ],\n  \"active\" : true,\n\
              \  \"_id\" : \"9a15fbda-ec08-4948-84ce-8a8169621cf1\",\n  \"_links\"\
              \ : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/webhook-subscriptions/9a15fbda-ec08-4948-84ce-8a8169621cf1\"\
              \n    },\n    \"deactivate\" : {\n      \"href\" : \"https://yourshop.api.urn/webhook-subscriptions/9a15fbda-ec08-4948-84ce-8a8169621cf1/deactivate\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/webhook-subscriptions_id-209735219"
    delete:
      summary: "Delete Subscription"
      description: ""
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        204:
          description: ""
          examples: {}
  /orders/{order-id}/shipping-address:
    put:
      summary: "Update Shipping Address"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "order-id"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/orders_order-id_shipping-address757171350"
        x-examples:
          application/json: "{\n  \"address\" : {\n    \"salutation\" : \"Mrs\",\n\
            \    \"gender\" : \"FEMALE\",\n    \"company\" : \"Astrid Alster GmbH\"\
            ,\n    \"title\" : null,\n    \"firstName\" : \"Astrid\",\n    \"middleName\"\
            \ : \"Agnes\",\n    \"lastName\" : \"Alster\",\n    \"street\" : \"Alsterwasserstraß\
            e\",\n    \"houseNumber\" : \"3\",\n    \"street2\" : \"Erdgeschoss\"\
            ,\n    \"addressExtension\" : \"\",\n    \"postalCode\" : \"20999\",\n\
            \    \"city\" : \"Alsterwasser\",\n    \"country\" : \"DE\",\n    \"state\"\
            \ : \"Hamburg\",\n    \"email\" : \"a.alsterh@example.com\",\n    \"phone\"\
            \ : \"(800) 555-0102\",\n    \"mobile\" : \"(800) 555-0103\",\n    \"\
            doorCode\" : \"456\",\n    \"displayAddressLines\" : [ \"Astrid Alster\
            \ GmbH\", \"Astrid Agnes Alster\", \"Alsterwasserweg 2\", \"Erdgeschoss\"\
            , \"20999 Alsterwasser\", \"Germany\" ],\n    \"_id\" : null\n  },\n \
            \ \"comment\" : \"Updated shipping address\"\n}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_id\" : \"458e85e0-a853-4cc1-9e55-c66ae4c7f8e2\"\
              ,\n  \"createdAt\" : \"2018-08-17T11:52:03.367\",\n  \"cartId\" : \"\
              ddb28221-2b30-4d24-87e0-7ece122750ac\",\n  \"currency\" : \"EUR\",\n\
              \  \"taxModel\" : \"GROSS\",\n  \"taxable\" : false,\n  \"testOrder\"\
              \ : false,\n  \"termsAndConditionsExplicitlyAccepted\" : false,\n  \"\
              productLineItems\" : [ {\n    \"product\" : {\n      \"sku\" : \"vino020\"\
              ,\n      \"name\" : \"Rioja Castillo de Puerto (2013)\",\n      \"essentialFeatures\"\
              \ : \"Dry. 12% alcohol. Best vine variety.\",\n      \"shippingWeight\"\
              \ : 100,\n      \"defaultImageDataUri\" : \"http://your.image.hoster.com/randomimage.png\"\
              ,\n      \"_id\" : \"36cb9f69-9206-4493-92cc-a8905bb518f2\",\n     \
              \ \"_links\" : {\n        \"default-image-data\" : {\n          \"href\"\
              \ : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n        }\n      }\n    },\n    \"quantity\" : {\n      \"value\"\
              \ : 3,\n      \"unit\" : \"PIECE\"\n    },\n    \"quantityInt\" : 3,\n\
              \    \"initialQuantity\" : 3,\n    \"unitPrice\" : {\n      \"taxModel\"\
              \ : \"GROSS\",\n      \"currency\" : \"EUR\",\n      \"amount\" : 2.5\n\
              \    },\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 7.5\n    },\n   \
              \ \"initialLineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n  \
              \    \"currency\" : \"EUR\",\n      \"amount\" : 7.5\n    },\n    \"\
              lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"taxRate\"\
              \ : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" : 1.197\n\
              \    },\n    \"unshipped\" : {\n      \"quantity\" : 3,\n      \"amount\"\
              \ : null\n    },\n    \"shipped\" : {\n      \"quantity\" : 0,\n   \
              \   \"amount\" : null\n    },\n    \"pending\" : {\n      \"quantity\"\
              \ : 0,\n      \"amount\" : null\n    },\n    \"returned\" : {\n    \
              \  \"quantity\" : 0,\n      \"amount\" : {\n        \"currency\" : \"\
              EUR\",\n        \"amount\" : 0\n      }\n    },\n    \"broken\" : {\n\
              \      \"quantity\" : 0,\n      \"amount\" : {\n        \"currency\"\
              \ : \"EUR\",\n        \"amount\" : 0\n      }\n    },\n    \"canceled\"\
              \ : {\n      \"quantity\" : 0,\n      \"amount\" : {\n        \"currency\"\
              \ : \"EUR\",\n        \"amount\" : 0\n      }\n    },\n    \"_id\" :\
              \ \"4eae0eea-bcec-4d7c-8fc3-37a2760f67f2\"\n  }, {\n    \"product\"\
              \ : {\n      \"sku\" : \"EB001\",\n      \"name\" : \"Power & Vanilla\
              \ Coconut Protein Bar (Pack of 5)\",\n      \"essentialFeatures\" :\
              \ \"Preservative-free. No added sweeteners. Vegan.\",\n      \"shippingWeight\"\
              \ : 190,\n      \"defaultImageDataUri\" : \"http://your.image.hoster.com/randomimage.png\"\
              ,\n      \"_id\" : \"61303e49-7879-4a4f-a9a6-2c342162cd2d\",\n     \
              \ \"_links\" : {\n        \"default-image-data\" : {\n          \"href\"\
              \ : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n        }\n      }\n    },\n    \"quantity\" : {\n      \"value\"\
              \ : 5,\n      \"unit\" : \"PIECE\"\n    },\n    \"quantityInt\" : 5,\n\
              \    \"initialQuantity\" : 5,\n    \"unitPrice\" : {\n      \"taxModel\"\
              \ : \"GROSS\",\n      \"currency\" : \"EUR\",\n      \"amount\" : 9.99\n\
              \    },\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 49.95\n    },\n \
              \   \"initialLineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 49.95\n    },\n \
              \   \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 7.9743\n    },\n    \"unshipped\" : {\n      \"quantity\" : 5,\n \
              \     \"amount\" : null\n    },\n    \"shipped\" : {\n      \"quantity\"\
              \ : 0,\n      \"amount\" : null\n    },\n    \"pending\" : {\n     \
              \ \"quantity\" : 0,\n      \"amount\" : null\n    },\n    \"returned\"\
              \ : {\n      \"quantity\" : 0,\n      \"amount\" : {\n        \"currency\"\
              \ : \"EUR\",\n        \"amount\" : 0\n      }\n    },\n    \"broken\"\
              \ : {\n      \"quantity\" : 0,\n      \"amount\" : {\n        \"currency\"\
              \ : \"EUR\",\n        \"amount\" : 0\n      }\n    },\n    \"canceled\"\
              \ : {\n      \"quantity\" : 0,\n      \"amount\" : {\n        \"currency\"\
              \ : \"EUR\",\n        \"amount\" : 0\n      }\n    },\n    \"_id\" :\
              \ \"76987a29-3cc1-4b0f-9a7a-249a9b298c94\"\n  } ],\n  \"shippingLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n \
              \   \"initialLineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n \
              \   \"taxClass\" : \"REGULAR\",\n    \"shippingMethod\" : {\n      \"\
              name\" : \"Standard Shipping 2\",\n      \"description\" : \"Standard\
              \ Shipping\",\n      \"freeShippingValue\" : {\n        \"currency\"\
              \ : \"EUR\",\n        \"amount\" : 400\n      },\n      \"fixedPrice\"\
              \ : {\n        \"taxModel\" : \"GROSS\",\n        \"currency\" : \"\
              EUR\",\n        \"amount\" : 19.99\n      },\n      \"weightBasedPrice\"\
              \ : null\n    },\n    \"lineItemTaxes\" : [ {\n      \"taxClass\" :\
              \ \"REGULAR\",\n      \"taxRate\" : 0.19,\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 3.192\n    } ]\n  },\n  \"paymentLineItem\" :\
              \ {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n  \
              \    \"currency\" : \"EUR\",\n      \"amount\" : 0\n    },\n    \"initialLineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 0\n    },\n    \"taxClass\" : \"REGULAR\",\n \
              \   \"paymentMethod\" : {\n      \"name\" : \"PayPal\",\n      \"description\"\
              \ : \"Pay with PayPal\",\n      \"discountOrFee\" : {\n        \"type\"\
              \ : \"ABSOLUTE\",\n        \"absoluteValue\" : {\n          \"taxModel\"\
              \ : \"GROSS\",\n          \"currency\" : \"EUR\",\n          \"amount\"\
              \ : 0\n        },\n        \"percentageValue\" : null\n      },\n  \
              \    \"onlinePayment\" : false\n    },\n    \"lineItemTaxes\" : [ {\n\
              \      \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.19,\n    \
              \  \"currency\" : \"EUR\",\n      \"amount\" : 0\n    } ]\n  },\n  \"\
              subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 57.45\n\
              \  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 77.44\n  },\n  \"balanceDue\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 77.44\n  },\n  \"netTotal\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 68.2687\n  },\n  \"taxTotal\" : {\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 9.1713\n  },\n  \"initialSubtotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 57.45\n  },\n \
              \ \"initialGrandTotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 77.44\n  },\n  \"initialBalanceDue\" : {\n    \"currency\" : \"\
              EUR\",\n    \"amount\" : 77.44\n  },\n  \"initialNetTotal\" : {\n  \
              \  \"currency\" : \"EUR\",\n    \"amount\" : 68.2687\n  },\n  \"initialTaxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 9.1713\n  },\n\
              \  \"taxes\" : [ {\n    \"taxClass\" : \"REGULAR\",\n    \"taxRate\"\
              \ : 0.19,\n    \"currency\" : \"EUR\",\n    \"amount\" : 9.1713\n  }\
              \ ],\n  \"shippingAddress\" : {\n    \"salutation\" : \"Mrs\",\n   \
              \ \"gender\" : \"FEMALE\",\n    \"company\" : \"Astrid Alster GmbH\"\
              ,\n    \"title\" : null,\n    \"firstName\" : \"Astrid\",\n    \"middleName\"\
              \ : \"Agnes\",\n    \"lastName\" : \"Alster\",\n    \"street\" : \"\
              Alsterwasserstraße\",\n    \"houseNumber\" : \"3\",\n    \"street2\"\
              \ : \"Erdgeschoss\",\n    \"addressExtension\" : \"\",\n    \"postalCode\"\
              \ : \"20999\",\n    \"city\" : \"Alsterwasser\",\n    \"country\" :\
              \ \"DE\",\n    \"state\" : \"Hamburg\",\n    \"email\" : \"a.alsterh@example.com\"\
              ,\n    \"phone\" : \"(800) 555-0102\",\n    \"mobile\" : \"(800) 555-0103\"\
              ,\n    \"doorCode\" : \"456\",\n    \"displayAddressLines\" : [ \"Astrid\
              \ Alster GmbH\", \"Astrid Agnes Alster\", \"Alsterwasserstraße 3\",\
              \ \"Erdgeschoss\", \"20999 Alsterwasser\", \"Germany\" ]\n  },\n  \"\
              billingAddress\" : {\n    \"salutation\" : \"Mrs\",\n    \"gender\"\
              \ : \"FEMALE\",\n    \"company\" : \"Astrid Alster GmbH\",\n    \"title\"\
              \ : null,\n    \"firstName\" : \"Astrid\",\n    \"middleName\" : \"\
              Agnes\",\n    \"lastName\" : \"Alster\",\n    \"street\" : \"Alsterwasserweg\"\
              ,\n    \"houseNumber\" : \"2\",\n    \"street2\" : \"Erdgeschoss\",\n\
              \    \"addressExtension\" : \"\",\n    \"postalCode\" : \"20999\",\n\
              \    \"city\" : \"Alsterwasser\",\n    \"country\" : \"DE\",\n    \"\
              state\" : \"Hamburg\",\n    \"email\" : \"a.alsterh@example.com\",\n\
              \    \"phone\" : \"(800) 555-0102\",\n    \"mobile\" : \"(800) 555-0103\"\
              ,\n    \"vatId\" : \"DE123456789\",\n    \"taxNumber\" : \"HRE 987654/32123/864516\"\
              ,\n    \"birthDate\" : \"1985-05-11\",\n    \"displayAddressLines\"\
              \ : [ \"Astrid Alster GmbH\", \"Astrid Agnes Alster\", \"Alsterwasserweg\
              \ 2\", \"Erdgeschoss\", \"20999 Alsterwasser\", \"Germany\" ]\n  },\n\
              \  \"paymentStatus\" : \"PENDING\",\n  \"shippingStatus\" : \"UNSHIPPED\"\
              ,\n  \"canceled\" : false,\n  \"orderNumber\" : \"10001\",\n  \"customerComment\"\
              \ : null,\n  \"orderNote\" : \"not paid yet\",\n  \"entryDate\" : \"\
              2018-08-17T11:52:03.367\",\n  \"totalReceived\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 0\n  },\n  \"totalRefunded\" : {\n  \
              \  \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"openAmount\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 77.44\n  },\n \
              \ \"marketingChannel\" : \"Google shopping\",\n  \"marketingSubchannel\"\
              \ : \"Some category\",\n  \"salesChannel\" : \"Storefront\",\n  \"_links\"\
              \ : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/458e85e0-a853-4cc1-9e55-c66ae4c7f8e2\"\
              \n    },\n    \"order\" : {\n      \"href\" : \"https://yourshop.api.urn/orders/458e85e0-a853-4cc1-9e55-c66ae4c7f8e2\"\
[...]
