swagger: "2.0"
info:
  version: 1.0.0
  title: Beyond REST API
host: api-shop.beyondshop.cloud
basePath: /api
schemes:
- https
paths:
  /:
    get:
      summary: Index Unauthorized
      description: ""
      operationId: index-unauthorized
      produces:
      - application/json
      responses:
        401:
          description: ""
          examples:
            application/json: '{"errorId":"unauthorized","details":{},"message":"Full
              authentication is required to access this resource","traceId":null}'
  /carts:
    post:
      tags:
      - carts
      summary: Create Cart
      description: ""
      operationId: cart-create
      produces:
      - application/hal+json
      responses:
        201:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "800eeee9-317a-4359-bce1-51e9f588ffa8",
                "lineItems" : [ ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "b406b9a8-0edc-4cbd-8dc9-ec372a298ab7",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/63de15d8-8a1e-4aad-95ac-b0d51aa76a5d/shipping-methods/b406b9a8-0edc-4cbd-8dc9-ec372a298ab7"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "7327ff91-f97f-4d8c-8fe7-0ce1d28ffc77",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7327ff91-f97f-4d8c-8fe7-0ce1d28ffc77"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7327ff91-f97f-4d8c-8fe7-0ce1d28ffc77"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7327ff91-f97f-4d8c-8fe7-0ce1d28ffc77/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7327ff91-f97f-4d8c-8fe7-0ce1d28ffc77/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 0,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/800eeee9-317a-4359-bce1-51e9f588ffa8"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/800eeee9-317a-4359-bce1-51e9f588ffa8/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/800eeee9-317a-4359-bce1-51e9f588ffa8/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/800eeee9-317a-4359-bce1-51e9f588ffa8/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/800eeee9-317a-4359-bce1-51e9f588ffa8/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/800eeee9-317a-4359-bce1-51e9f588ffa8/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/800eeee9-317a-4359-bce1-51e9f588ffa8/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/800eeee9-317a-4359-bce1-51e9f588ffa8/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/800eeee9-317a-4359-bce1-51e9f588ffa8/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/800eeee9-317a-4359-bce1-51e9f588ffa8/shipping-address"
                  }
                }
              }
  /carts/{cartId}:
    get:
      tags:
      - carts
      summary: Get Cart
      description: ""
      operationId: cart-get
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "7dde02ac-43bc-4d39-aa40-eddebea7176a",
                "lineItems" : [ {
                  "_type" : "PRODUCT",
                  "_id" : "af7d6033-ac42-4aa9-a447-57ad17d81b6b",
                  "_ref" : "b168d6af-f6dd-4a8e-a01f-f6bfb6e9bd03",
                  "name" : "Power & Vanilla Coconut Protein Bar (Pack of 5)",
                  "quantity" : {
                    "value" : 1,
                    "unit" : "PIECE"
                  },
                  "singleItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "quantityInt" : 1,
                  "lineItemTax" : {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.19,
                    "currency" : "EUR",
                    "amount" : 0.9405
                  },
                  "_embedded" : {
                    "product" : {
                      "_id" : "b168d6af-f6dd-4a8e-a01f-f6bfb6e9bd03",
                      "sku" : "EB001",
                      "essentialFeatures" : "Preservative-free. No added sweeteners. Vegan.",
                      "_links" : {
                        "product" : {
                          "href" : "https://yourshop.api.urn/product-view/products/b168d6af-f6dd-4a8e-a01f-f6bfb6e9bd03?locale=de-DE"
                        },
                        "default-image-data" : {
                          "href" : "https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png"
                        }
                      }
                    }
                  },
                  "_links" : {
                    "self" : {
                      "href" : "https://yourshop.api.urn/carts/7dde02ac-43bc-4d39-aa40-eddebea7176a/line-items/af7d6033-ac42-4aa9-a447-57ad17d81b6b"
                    }
                  }
                } ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 50
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "8f52c338-c6a9-40bd-ac94-691365b2b9d9",
                      "name" : "Express",
                      "description" : "Shipping overnight, delivery on the next day.",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : {
                        "currency" : "EUR",
                        "amount" : 1000
                      },
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 50
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/53a62aba-9fd4-4121-9bc8-a1e5c89a0b44/shipping-methods/8f52c338-c6a9-40bd-ac94-691365b2b9d9"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "31be9d1d-9de9-4885-95cc-a0e2cb163d60",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/31be9d1d-9de9-4885-95cc-a0e2cb163d60"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/31be9d1d-9de9-4885-95cc-a0e2cb163d60"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/31be9d1d-9de9-4885-95cc-a0e2cb163d60/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/31be9d1d-9de9-4885-95cc-a0e2cb163d60/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : {
                  "salutation" : "Mrs",
                  "gender" : "FEMALE",
                  "company" : null,
                  "title" : "",
                  "firstName" : "Astrid",
                  "middleName" : "Agnes",
                  "lastName" : "Alster",
                  "street" : "Alsterwasserweg",
                  "houseNumber" : "2",
                  "street2" : "Erdgeschoss",
                  "addressExtension" : "Hinterhof",
                  "postalCode" : "20999",
                  "city" : "Alsterwasser",
                  "country" : "DE",
                  "state" : "Hamburg",
                  "email" : "a.alsterh@example.com",
                  "phone" : "(800) 555-0102",
                  "mobile" : "(800) 555-0103",
                  "displayAddressLines" : [ "Astrid Agnes Alster", "Alsterwasserweg 2", "Erdgeschoss", "Hinterhof", "20999 Alsterwasser", "DEUTSCHLAND" ],
                  "vatId" : "123456789",
                  "taxNumber" : "123-34-6789",
                  "birthDate" : "1985-03-20"
                },
                "shippingAddress" : {
                  "salutation" : "Mrs",
                  "gender" : "FEMALE",
                  "company" : null,
                  "title" : "",
                  "firstName" : "Astrid",
                  "middleName" : "Agnes",
                  "lastName" : "Alster",
                  "street" : "Alsterwasserweg",
                  "houseNumber" : "2",
                  "street2" : "Erdgeschoss",
                  "addressExtension" : "Hinterhof",
                  "postalCode" : "20999",
                  "city" : "Alsterwasser",
                  "country" : "DE",
                  "state" : "Hamburg",
                  "email" : "a.alsterh@example.com",
                  "phone" : "(800) 555-0102",
                  "mobile" : "(800) 555-0103",
                  "displayAddressLines" : [ "Astrid Agnes Alster", "Alsterwasserweg 2", "Erdgeschoss", "Hinterhof", "20999 Alsterwasser", "DEUTSCHLAND" ],
                  "doorCode" : "0185"
                },
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 4.95
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 56.95
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 56.95
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 56.95
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ {
                  "taxClass" : "REGULAR",
                  "taxRate" : 0.0,
                  "currency" : "EUR",
                  "amount" : 0
                } ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 190,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : true,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : true
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/7dde02ac-43bc-4d39-aa40-eddebea7176a"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/7dde02ac-43bc-4d39-aa40-eddebea7176a/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/7dde02ac-43bc-4d39-aa40-eddebea7176a/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/7dde02ac-43bc-4d39-aa40-eddebea7176a/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/7dde02ac-43bc-4d39-aa40-eddebea7176a/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/7dde02ac-43bc-4d39-aa40-eddebea7176a/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/7dde02ac-43bc-4d39-aa40-eddebea7176a/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/7dde02ac-43bc-4d39-aa40-eddebea7176a/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/7dde02ac-43bc-4d39-aa40-eddebea7176a/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/7dde02ac-43bc-4d39-aa40-eddebea7176a/shipping-address"
                  },
                  "place-order" : {
                    "href" : "https://yourshop.api.urn/carts/7dde02ac-43bc-4d39-aa40-eddebea7176a/order"
                  }
                }
              }
          schema:
            $ref: '#/definitions/carts_cartId831072946'
    delete:
      tags:
      - carts
      summary: Delete Cart
      description: ""
      operationId: cart-delete
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        204:
          description: ""
          examples: {}
  /carts/{cartId}/billing-address:
    put:
      tags:
      - carts
      summary: Set Billing Address
      description: ""
      operationId: cart-set-billing-address
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_billing-address-1946356074'
        x-examples:
          application/json: '{"salutation":"Mrs","gender":"FEMALE","title":"","firstName":"Astrid","middleName":"Agnes","lastName":"Alster","street":"Alsterwasserweg","houseNumber":"2","street2":"Erdgeschoss","doorCode":"0185","addressExtension":"Hinterhof","postalCode":"20999","city":"Alsterwasser","country":"DE","state":"Hamburg","email":"a.alsterh@example.com","phone":"(800)
            555-0102","mobile":"(800) 555-0103","vatId":"123456789","taxNumber":"123-34-6789","birthDate":"1985-03-20"}'
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "1cdec5d2-7cd0-450d-9b8d-29e54be37b0e",
                "lineItems" : [ ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "ab2c47f1-48dc-43a9-abd2-9586d197fc42",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/04ac5e7a-a55c-4ce1-8fa7-bebf0058a331/shipping-methods/ab2c47f1-48dc-43a9-abd2-9586d197fc42"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "c3168841-618f-498f-9cf2-18c354982a1e",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/c3168841-618f-498f-9cf2-18c354982a1e"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/c3168841-618f-498f-9cf2-18c354982a1e"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/c3168841-618f-498f-9cf2-18c354982a1e/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/c3168841-618f-498f-9cf2-18c354982a1e/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : {
                  "salutation" : "Mrs",
                  "gender" : "FEMALE",
                  "company" : null,
                  "title" : "",
                  "firstName" : "Astrid",
                  "middleName" : "Agnes",
                  "lastName" : "Alster",
                  "street" : "Alsterwasserweg",
                  "houseNumber" : "2",
                  "street2" : "Erdgeschoss",
                  "addressExtension" : "Hinterhof",
                  "postalCode" : "20999",
                  "city" : "Alsterwasser",
                  "country" : "DE",
                  "state" : "Hamburg",
                  "email" : "a.alsterh@example.com",
                  "phone" : "(800) 555-0102",
                  "mobile" : "(800) 555-0103",
                  "displayAddressLines" : [ "Astrid Agnes Alster", "Alsterwasserweg 2", "Erdgeschoss", "Hinterhof", "20999 Alsterwasser", "DEUTSCHLAND" ],
                  "vatId" : "123456789",
                  "taxNumber" : "123-34-6789",
                  "birthDate" : "1985-03-20"
                },
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 0,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : true,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : true
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/1cdec5d2-7cd0-450d-9b8d-29e54be37b0e"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/1cdec5d2-7cd0-450d-9b8d-29e54be37b0e/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/1cdec5d2-7cd0-450d-9b8d-29e54be37b0e/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/1cdec5d2-7cd0-450d-9b8d-29e54be37b0e/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/1cdec5d2-7cd0-450d-9b8d-29e54be37b0e/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/1cdec5d2-7cd0-450d-9b8d-29e54be37b0e/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/1cdec5d2-7cd0-450d-9b8d-29e54be37b0e/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/1cdec5d2-7cd0-450d-9b8d-29e54be37b0e/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/1cdec5d2-7cd0-450d-9b8d-29e54be37b0e/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/1cdec5d2-7cd0-450d-9b8d-29e54be37b0e/shipping-address"
                  },
                  "place-order" : {
                    "href" : "https://yourshop.api.urn/carts/1cdec5d2-7cd0-450d-9b8d-29e54be37b0e/order"
                  }
                }
              }
  /carts/{cartId}/create-payment:
    post:
      tags:
      - carts
      summary: Create Payment
      description: ""
      operationId: cart-create-payment
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_create-payment2079035476'
        x-examples:
          application/json: |-
            {
              "returnUri" : "http://some.com/return",
              "cancelUri" : "http://some.com/cancel"
            }
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "approvalUri" : "http://some.com/approval"
              }
          schema:
            $ref: '#/definitions/carts_cartId_create-payment-and-order1629403420'
  /carts/{cartId}/create-payment-and-order:
    post:
      tags:
      - carts
      summary: Create Payment and Order
      description: ""
      operationId: cart-create-payment-and-order
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_create-payment-and-order1631456624'
        x-examples:
          application/json: |-
            {
              "returnUri" : "http://some.com/return",
              "cancelUri" : "http://some.com/cancel",
              "customerComment" : "Send it fast please!",
              "salesChannel" : "Storefront",
              "marketingChannel" : "Google",
              "marketingSubchannel" : "Search page 2",
              "testOrder" : false
            }
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "approvalUri" : "http://some.com/approval"
              }
          schema:
            $ref: '#/definitions/carts_cartId_create-payment-and-order1629403420'
  /carts/{cartId}/line-items:
    post:
      tags:
      - carts
      summary: Add Line Item
      description: ""
      operationId: cart-add-line-item
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_line-items-523153984'
        x-examples:
          application/json: '{"_type":"PRODUCT","_ref":"523bc9af-71dd-436c-b420-56512cbf4122","quantityInt":1}'
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "25ad7d4f-409d-4ccc-b4bc-220f39c54e7f",
                "lineItems" : [ {
                  "_type" : "PRODUCT",
                  "_id" : "43394d64-59fa-47d2-a5bf-987466e386af",
                  "_ref" : "523bc9af-71dd-436c-b420-56512cbf4122",
                  "name" : "Power & Vanilla Coconut Protein Bar (Pack of 5)",
                  "quantity" : {
                    "value" : 1,
                    "unit" : "PIECE"
                  },
                  "singleItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "quantityInt" : 1,
                  "lineItemTax" : {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.19,
                    "currency" : "EUR",
                    "amount" : 0.9405
                  },
                  "_embedded" : {
                    "product" : {
                      "_id" : "523bc9af-71dd-436c-b420-56512cbf4122",
                      "sku" : "EB001",
                      "essentialFeatures" : "Preservative-free. No added sweeteners. Vegan.",
                      "_links" : {
                        "product" : {
                          "href" : "https://yourshop.api.urn/product-view/products/523bc9af-71dd-436c-b420-56512cbf4122?locale=de-DE"
                        },
                        "default-image-data" : {
                          "href" : "https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png"
                        }
                      }
                    }
                  },
                  "_links" : {
                    "self" : {
                      "href" : "https://yourshop.api.urn/carts/25ad7d4f-409d-4ccc-b4bc-220f39c54e7f/line-items/43394d64-59fa-47d2-a5bf-987466e386af"
                    }
                  }
                } ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "c4b7c69f-6241-4d88-b1e1-0152ca1db1a8",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/117664e8-eefc-446c-8a87-9c807ee8902b/shipping-methods/c4b7c69f-6241-4d88-b1e1-0152ca1db1a8"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "cc20577a-3f1f-4915-87f2-6d8e2d20b109",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/cc20577a-3f1f-4915-87f2-6d8e2d20b109"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/cc20577a-3f1f-4915-87f2-6d8e2d20b109"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/cc20577a-3f1f-4915-87f2-6d8e2d20b109/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/cc20577a-3f1f-4915-87f2-6d8e2d20b109/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 4.95
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ {
                  "taxClass" : "REGULAR",
                  "taxRate" : 0.0,
                  "currency" : "EUR",
                  "amount" : 0
                } ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 190,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/25ad7d4f-409d-4ccc-b4bc-220f39c54e7f"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/25ad7d4f-409d-4ccc-b4bc-220f39c54e7f/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/25ad7d4f-409d-4ccc-b4bc-220f39c54e7f/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/25ad7d4f-409d-4ccc-b4bc-220f39c54e7f/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/25ad7d4f-409d-4ccc-b4bc-220f39c54e7f/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/25ad7d4f-409d-4ccc-b4bc-220f39c54e7f/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/25ad7d4f-409d-4ccc-b4bc-220f39c54e7f/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/25ad7d4f-409d-4ccc-b4bc-220f39c54e7f/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/25ad7d4f-409d-4ccc-b4bc-220f39c54e7f/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/25ad7d4f-409d-4ccc-b4bc-220f39c54e7f/shipping-address"
                  }
                }
              }
    put:
      tags:
      - carts
      summary: Set Line Items
      description: ""
      operationId: cart-set-line-items
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_line-items690318940'
        x-examples:
          application/json: '[{"_type":"PRODUCT","_ref":"f7573420-5f9a-48e6-8c3d-9ee5e223a414","quantityInt":1}]'
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "bb684423-04a5-4689-ac63-311f5658bc57",
                "lineItems" : [ {
                  "_type" : "PRODUCT",
                  "_id" : "eaad2186-9475-4e58-a5b5-e4c992cb23a3",
                  "_ref" : "f7573420-5f9a-48e6-8c3d-9ee5e223a414",
                  "name" : "Power & Vanilla Coconut Protein Bar (Pack of 5)",
                  "quantity" : {
                    "value" : 1,
                    "unit" : "PIECE"
                  },
                  "singleItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "quantityInt" : 1,
                  "lineItemTax" : {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.19,
                    "currency" : "EUR",
                    "amount" : 0.9405
                  },
                  "_embedded" : {
                    "product" : {
                      "_id" : "f7573420-5f9a-48e6-8c3d-9ee5e223a414",
                      "sku" : "EB001",
                      "essentialFeatures" : "Preservative-free. No added sweeteners. Vegan.",
                      "_links" : {
                        "product" : {
                          "href" : "https://yourshop.api.urn/product-view/products/f7573420-5f9a-48e6-8c3d-9ee5e223a414?locale=de-DE"
                        },
                        "default-image-data" : {
                          "href" : "https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png"
                        }
                      }
                    }
                  },
                  "_links" : {
                    "self" : {
                      "href" : "https://yourshop.api.urn/carts/bb684423-04a5-4689-ac63-311f5658bc57/line-items/eaad2186-9475-4e58-a5b5-e4c992cb23a3"
                    }
                  }
                } ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "81185cbc-f3a6-4be0-9b06-e989a280e87b",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/3bb664b3-6e29-4d4f-a8cd-ac6de454a376/shipping-methods/81185cbc-f3a6-4be0-9b06-e989a280e87b"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "a9359327-8060-4cd6-a46f-06f4cafcace0",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/a9359327-8060-4cd6-a46f-06f4cafcace0"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/a9359327-8060-4cd6-a46f-06f4cafcace0"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/a9359327-8060-4cd6-a46f-06f4cafcace0/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/a9359327-8060-4cd6-a46f-06f4cafcace0/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 4.95
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ {
                  "taxClass" : "REGULAR",
                  "taxRate" : 0.0,
                  "currency" : "EUR",
                  "amount" : 0
                } ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 190,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/bb684423-04a5-4689-ac63-311f5658bc57"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/bb684423-04a5-4689-ac63-311f5658bc57/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/bb684423-04a5-4689-ac63-311f5658bc57/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/bb684423-04a5-4689-ac63-311f5658bc57/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/bb684423-04a5-4689-ac63-311f5658bc57/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/bb684423-04a5-4689-ac63-311f5658bc57/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/bb684423-04a5-4689-ac63-311f5658bc57/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/bb684423-04a5-4689-ac63-311f5658bc57/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/bb684423-04a5-4689-ac63-311f5658bc57/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/bb684423-04a5-4689-ac63-311f5658bc57/shipping-address"
                  }
                }
              }
  /carts/{cartId}/order:
    post:
      tags:
      - carts
      summary: Order Cart
      description: ""
      operationId: cart-order
      consumes:
      - application/json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_order1787038009'
        x-examples:
          application/json: |-
            {"customerComment": "send it fast please",
              "salesChannel": "DifferentChannel",
              "marketingChannel": "Google",
              "marketingSubchannel": "Search page 2",
              "testOrder": false,
              "termsAndConditionsExplicitlyAccepted": true
            }
      responses:
        202:
          description: ""
          examples: {}
          headers:
            Location:
              type: string
              description: the link to access the order once it is created
  /carts/{cartId}/payment-methods:
    get:
      tags:
      - carts
      summary: Get Payment Methods of Cart
      description: ""
      operationId: cart-get-payment-methods
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_embedded" : {
                  "payment-methods" : [ {
                    "lineItemPrice" : {
                      "taxModel" : "GROSS",
                      "currency" : "EUR",
                      "amount" : 2
                    },
                    "selectable" : true,
                    "_embedded" : {
                      "payment-method" : {
                        "_id" : "d9b2716f-a4ba-4a51-b1a0-6284575bc731",
                        "name" : "Converge",
                        "description" : "Pay with Converge",
                        "officialName" : "Converge",
                        "officialDescription" : "Pay with Converge",
                        "taxClass" : "REGULAR",
                        "discountOrFee" : {
                          "type" : "ABSOLUTE",
                          "absoluteValue" : {
                            "taxModel" : "GROSS",
                            "currency" : "EUR",
                            "amount" : 2
                          },
                          "percentageValue" : null
                        },
                        "position" : 1,
                        "serviceableCountries" : [ "DE" ],
                        "minimumOrderValue" : null,
                        "activated" : true,
                        "activeLogoSet" : null,
                        "onlinePayment" : false,
                        "_links" : {
                          "self" : {
                            "href" : "https://yourshop.api.urn/payment-methods/d9b2716f-a4ba-4a51-b1a0-6284575bc731"
                          },
                          "payment-method" : {
                            "href" : "https://yourshop.api.urn/payment-methods/d9b2716f-a4ba-4a51-b1a0-6284575bc731"
                          },
                          "deactivate-payment-method" : {
                            "href" : "https://yourshop.api.urn/payment-methods/d9b2716f-a4ba-4a51-b1a0-6284575bc731/deactivate"
                          },
                          "payment-method-definition" : {
                            "href" : "https://yourshop.api.urn/payment-methods/d9b2716f-a4ba-4a51-b1a0-6284575bc731/payment-method-definition"
                          }
                        }
                      }
                    }
                  } ]
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/88e4cb1f-50ca-44af-b9ba-45b31669cb7e/payment-methods"
                  }
                }
              }
          schema:
            $ref: '#/definitions/carts_cartId_payment-methods-663923302'
  /carts/{cartId}/shipping-address:
    put:
      tags:
      - carts
      summary: Set Shipping Address
      description: ""
      operationId: cart-set-shipping-address
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_shipping-address-1619008865'
        x-examples:
          application/json: '{"salutation":"Mrs","gender":"FEMALE","title":"","firstName":"Astrid","middleName":"Agnes","lastName":"Alster","street":"Alsterwasserweg","houseNumber":"2","street2":"Erdgeschoss","doorCode":"0185","addressExtension":"Hinterhof","postalCode":"20999","city":"Alsterwasser","country":"DE","state":"Hamburg","email":"a.alsterh@example.com","phone":"(800)
            555-0102","mobile":"(800) 555-0103"}'
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "93403a32-9cce-4061-b189-4b0275e3c94f",
                "lineItems" : [ ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "161b866e-9678-4c3f-91d9-023d9a3a6901",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/d69c33dd-994d-471a-b0fe-14496a2db376/shipping-methods/161b866e-9678-4c3f-91d9-023d9a3a6901"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "83defb39-18f3-4e04-9c95-4e34b554c037",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/83defb39-18f3-4e04-9c95-4e34b554c037"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/83defb39-18f3-4e04-9c95-4e34b554c037"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/83defb39-18f3-4e04-9c95-4e34b554c037/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/83defb39-18f3-4e04-9c95-4e34b554c037/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : {
                  "salutation" : "Mrs",
                  "gender" : "FEMALE",
                  "company" : null,
                  "title" : "",
                  "firstName" : "Astrid",
                  "middleName" : "Agnes",
                  "lastName" : "Alster",
                  "street" : "Alsterwasserweg",
                  "houseNumber" : "2",
                  "street2" : "Erdgeschoss",
                  "addressExtension" : "Hinterhof",
                  "postalCode" : "20999",
                  "city" : "Alsterwasser",
                  "country" : "DE",
                  "state" : "Hamburg",
                  "email" : "a.alsterh@example.com",
                  "phone" : "(800) 555-0102",
                  "mobile" : "(800) 555-0103",
                  "displayAddressLines" : [ "Astrid Agnes Alster", "Alsterwasserweg 2", "Erdgeschoss", "Hinterhof", "20999 Alsterwasser", "DEUTSCHLAND" ],
                  "doorCode" : "0185"
                },
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 0,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/93403a32-9cce-4061-b189-4b0275e3c94f"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/93403a32-9cce-4061-b189-4b0275e3c94f/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/93403a32-9cce-4061-b189-4b0275e3c94f/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/93403a32-9cce-4061-b189-4b0275e3c94f/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/93403a32-9cce-4061-b189-4b0275e3c94f/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/93403a32-9cce-4061-b189-4b0275e3c94f/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/93403a32-9cce-4061-b189-4b0275e3c94f/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/93403a32-9cce-4061-b189-4b0275e3c94f/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/93403a32-9cce-4061-b189-4b0275e3c94f/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/93403a32-9cce-4061-b189-4b0275e3c94f/shipping-address"
                  }
                }
              }
  /carts/{cartId}/shipping-methods:
    get:
      tags:
      - carts
      summary: Get Shipping Methods of Cart
      description: ""
      operationId: cart-get-shipping-methods
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_embedded" : {
                  "shipping-methods" : [ {
                    "lineItemPrice" : {
                      "taxModel" : "GROSS",
                      "currency" : "EUR",
                      "amount" : 19.99
                    },
                    "selectable" : true,
                    "_embedded" : {
                      "shipping-method" : {
                        "_id" : "d1078105-d116-456d-880b-ad60321f15a6",
                        "name" : "Standard Shipping 2",
                        "description" : "Standard Shipping",
                        "taxClass" : "REGULAR",
                        "position" : 0,
                        "freeShippingValue" : null,
                        "fixedPrice" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 19.99
                        },
                        "weightBasedPrice" : null,
                        "_links" : {
                          "self" : {
                            "href" : "https://yourshop.api.urn/shipping-zones/abaf91a1-466b-4184-83a8-d3d400dfc73e/shipping-methods/d1078105-d116-456d-880b-ad60321f15a6"
                          }
                        }
                      }
                    }
                  } ]
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/4790558d-704a-4ad4-9c5e-42db80679adc/shipping-methods"
                  }
                }
              }
          schema:
            $ref: '#/definitions/users_id_roles-309252030'
  /carts/{cartId}/line-items/{lineItemId}:
    put:
      tags:
      - carts
      summary: Replace Line Items
      description: ""
      operationId: cart-replace-line-item
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - name: lineItemId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_line-items_lineItemId-835646123'
        x-examples:
          application/json: '{"_type":"PRODUCT","_ref":"271c1817-dfcb-4e5f-91f1-3637f17c73b4","quantityInt":2}'
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "48cfd595-401f-4162-9d3b-c3370708ae8f",
                "lineItems" : [ {
                  "_type" : "PRODUCT",
                  "_id" : "ca271523-1407-476e-bbad-c566333fadb3",
                  "_ref" : "271c1817-dfcb-4e5f-91f1-3637f17c73b4",
                  "name" : "Power & Vanilla Coconut Protein Bar (Pack of 5)",
                  "quantity" : {
                    "value" : 2,
                    "unit" : "PIECE"
                  },
                  "singleItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 9.9
                  },
                  "quantityInt" : 2,
                  "lineItemTax" : {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.19,
                    "currency" : "EUR",
                    "amount" : 1.881
                  },
                  "_embedded" : {
                    "product" : {
                      "_id" : "271c1817-dfcb-4e5f-91f1-3637f17c73b4",
                      "sku" : "EB001",
                      "essentialFeatures" : "Preservative-free. No added sweeteners. Vegan.",
                      "_links" : {
                        "product" : {
                          "href" : "https://yourshop.api.urn/product-view/products/271c1817-dfcb-4e5f-91f1-3637f17c73b4?locale=de-DE"
                        },
                        "default-image-data" : {
                          "href" : "https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png"
                        }
                      }
                    }
                  },
                  "_links" : {
                    "self" : {
                      "href" : "https://yourshop.api.urn/carts/48cfd595-401f-4162-9d3b-c3370708ae8f/line-items/ca271523-1407-476e-bbad-c566333fadb3"
                    }
                  }
                } ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "977bb630-d3d4-49b3-a54c-f7cca3d4f00f",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/f7ab995b-e51d-4d89-97b5-5588061688bb/shipping-methods/977bb630-d3d4-49b3-a54c-f7cca3d4f00f"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "7343fce2-5a08-41f2-ae11-ba46681ea23a",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7343fce2-5a08-41f2-ae11-ba46681ea23a"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7343fce2-5a08-41f2-ae11-ba46681ea23a"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7343fce2-5a08-41f2-ae11-ba46681ea23a/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7343fce2-5a08-41f2-ae11-ba46681ea23a/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 9.9
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 31.89
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 31.89
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 31.89
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ {
                  "taxClass" : "REGULAR",
                  "taxRate" : 0.0,
                  "currency" : "EUR",
                  "amount" : 0
                } ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 380,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/48cfd595-401f-4162-9d3b-c3370708ae8f"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/48cfd595-401f-4162-9d3b-c3370708ae8f/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/48cfd595-401f-4162-9d3b-c3370708ae8f/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/48cfd595-401f-4162-9d3b-c3370708ae8f/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/48cfd595-401f-4162-9d3b-c3370708ae8f/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/48cfd595-401f-4162-9d3b-c3370708ae8f/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/48cfd595-401f-4162-9d3b-c3370708ae8f/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/48cfd595-401f-4162-9d3b-c3370708ae8f/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/48cfd595-401f-4162-9d3b-c3370708ae8f/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/48cfd595-401f-4162-9d3b-c3370708ae8f/shipping-address"
                  }
                }
              }
    delete:
      tags:
      - carts
      summary: Delete Line Items
      description: ""
      operationId: cart-delete-line-item
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - name: lineItemId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "94286bca-2e45-4407-b7ff-5ebeda31f2b0",
                "lineItems" : [ ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "a17621ac-8d78-42de-9efd-1d0f2a0115c6",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/463e964e-3739-427a-bec4-41fd9ae6cc75/shipping-methods/a17621ac-8d78-42de-9efd-1d0f2a0115c6"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "aad4c4e7-1c1e-41d5-b1ee-dd355f5424d1",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/aad4c4e7-1c1e-41d5-b1ee-dd355f5424d1"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/aad4c4e7-1c1e-41d5-b1ee-dd355f5424d1"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/aad4c4e7-1c1e-41d5-b1ee-dd355f5424d1/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/aad4c4e7-1c1e-41d5-b1ee-dd355f5424d1/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 0,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/94286bca-2e45-4407-b7ff-5ebeda31f2b0"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/94286bca-2e45-4407-b7ff-5ebeda31f2b0/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/94286bca-2e45-4407-b7ff-5ebeda31f2b0/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/94286bca-2e45-4407-b7ff-5ebeda31f2b0/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/94286bca-2e45-4407-b7ff-5ebeda31f2b0/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/94286bca-2e45-4407-b7ff-5ebeda31f2b0/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/94286bca-2e45-4407-b7ff-5ebeda31f2b0/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/94286bca-2e45-4407-b7ff-5ebeda31f2b0/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/94286bca-2e45-4407-b7ff-5ebeda31f2b0/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/94286bca-2e45-4407-b7ff-5ebeda31f2b0/shipping-address"
                  }
                }
              }
  /carts/{cartId}/payment-methods/current:
    get:
      tags:
      - carts
      summary: Get Payment Method of Cart
      description: ""
      operationId: cart-get-payment-methods-current
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "52d4da03-61a0-473b-b955-8873d4aed4f7",
                "name" : "Converge",
                "description" : "Pay with Converge",
                "officialName" : "Converge",
                "officialDescription" : "Pay with Converge",
                "taxClass" : "REGULAR",
                "discountOrFee" : {
                  "type" : "ABSOLUTE",
                  "absoluteValue" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "percentageValue" : null
                },
                "position" : 1,
                "serviceableCountries" : [ "DE" ],
                "minimumOrderValue" : null,
                "activated" : true,
                "activeLogoSet" : null,
                "onlinePayment" : false,
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/payment-methods/52d4da03-61a0-473b-b955-8873d4aed4f7"
                  },
                  "payment-method" : {
                    "href" : "https://yourshop.api.urn/payment-methods/52d4da03-61a0-473b-b955-8873d4aed4f7"
                  },
                  "deactivate-payment-method" : {
                    "href" : "https://yourshop.api.urn/payment-methods/52d4da03-61a0-473b-b955-8873d4aed4f7/deactivate"
                  },
                  "payment-method-definition" : {
                    "href" : "https://yourshop.api.urn/payment-methods/52d4da03-61a0-473b-b955-8873d4aed4f7/payment-method-definition"
                  }
                }
              }
    put:
      tags:
      - carts
      summary: Set Payment Method of Cart
      description: ""
      operationId: cart-set-payment-methods-current
      consumes:
      - text/uri-list
      produces:
      - application/json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_payment-methods_current1079954004'
        x-examples:
          text/uri-list: https://yourshop.api.urn/payment-methods/205bed30-4258-4cd0-8e08-18249282c1c4
      responses:
        200:
          description: ""
          examples:
            application/json: |-
              {
                "_id" : "291a17b6-d41d-496a-bf24-a193eb50ec96",
                "lineItems" : [ {
                  "_type" : "PRODUCT",
                  "_id" : "7807c619-fa02-4bc1-89c6-8b5238448f25",
                  "_ref" : "13e1a387-e730-4699-8e82-b112a4cf862a",
                  "name" : "Power & Vanilla Coconut Protein Bar (Pack of 5)",
                  "quantity" : {
                    "value" : 1,
                    "unit" : "PIECE"
                  },
                  "singleItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "quantityInt" : 1,
                  "lineItemTax" : {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.19,
                    "currency" : "EUR",
                    "amount" : 0.9405
                  },
                  "_embedded" : {
                    "product" : {
                      "_id" : "13e1a387-e730-4699-8e82-b112a4cf862a",
                      "sku" : "EB001",
                      "essentialFeatures" : "Preservative-free. No added sweeteners. Vegan.",
                      "_links" : {
                        "product" : {
                          "href" : "https://yourshop.api.urn/product-view/products/13e1a387-e730-4699-8e82-b112a4cf862a?locale=de-DE"
                        },
                        "default-image-data" : {
                          "href" : "https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png"
                        }
                      }
                    }
                  },
                  "_links" : {
                    "self" : {
                      "href" : "https://yourshop.api.urn/carts/291a17b6-d41d-496a-bf24-a193eb50ec96/line-items/7807c619-fa02-4bc1-89c6-8b5238448f25"
                    }
                  }
                } ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "3739e258-0013-4032-ae9d-d80ada649397",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/cc950eba-0cd3-43fa-bffe-eaa8dd41e49c/shipping-methods/3739e258-0013-4032-ae9d-d80ada649397"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 0.4988
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "205bed30-4258-4cd0-8e08-18249282c1c4",
                      "name" : "Credit Card",
                      "description" : "Pay with CreditCard",
                      "officialName" : "Credit Card",
                      "officialDescription" : "Pay with CreditCard",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "PERCENTAGE",
                        "absoluteValue" : null,
                        "percentageValue" : 0.02
                      },
                      "position" : 2,
                      "serviceableCountries" : [ "DE", "GB" ],
                      "minimumOrderValue" : {
                        "currency" : "EUR",
                        "amount" : 20
                      },
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/205bed30-4258-4cd0-8e08-18249282c1c4"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/205bed30-4258-4cd0-8e08-18249282c1c4"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/205bed30-4258-4cd0-8e08-18249282c1c4/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/205bed30-4258-4cd0-8e08-18249282c1c4/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 4.95
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 25.4388
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 25.4388
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 25.4388
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ {
                  "taxClass" : "REGULAR",
                  "taxRate" : 0.0,
                  "currency" : "EUR",
                  "amount" : 0
                } ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 190,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : false,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/291a17b6-d41d-496a-bf24-a193eb50ec96"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/291a17b6-d41d-496a-bf24-a193eb50ec96/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/291a17b6-d41d-496a-bf24-a193eb50ec96/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/291a17b6-d41d-496a-bf24-a193eb50ec96/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/291a17b6-d41d-496a-bf24-a193eb50ec96/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/291a17b6-d41d-496a-bf24-a193eb50ec96/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/291a17b6-d41d-496a-bf24-a193eb50ec96/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/291a17b6-d41d-496a-bf24-a193eb50ec96/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/291a17b6-d41d-496a-bf24-a193eb50ec96/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/291a17b6-d41d-496a-bf24-a193eb50ec96/shipping-address"
                  }
                }
              }
  /carts/{cartId}/payment-methods/default:
    put:
      tags:
      - carts
      summary: Set Default Payment Method
      description: ""
      operationId: cart-set-payment-methods-default
      produces:
      - application/json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/json: |-
              {
                "_id" : "58eca4a6-6064-4926-b969-a747c97748ab",
                "lineItems" : [ ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "8bfa5aa5-b44e-4cb0-8e5d-9ac5200e2dc9",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/c20af74e-faf7-4493-8a26-19dc07fad8ca/shipping-methods/8bfa5aa5-b44e-4cb0-8e5d-9ac5200e2dc9"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "a1a3e8ee-4da1-4d8f-ace7-fb7d6babff7c",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
[...]
