---
swagger: "2.0"
info:
  version: "1.0.0"
  title: "Beyond REST API"
host: "api-shop.beyondshop.cloud"
basePath: "/api"
schemes:
- "https"
paths:
  /:
    get:
      summary: "Index Unauthorized"
      description: ""
      operationId: "index-unauthorized"
      produces:
      - "application/json"
      responses:
        401:
          description: ""
          examples:
            application/json: "{\"errorId\":\"unauthorized\",\"details\":{},\"message\"\
              :\"Full authentication is required to access this resource\",\"traceId\"\
              :null}"
  /add-ons/installed:
    get:
      tags:
      - "add-ons"
      summary: "List App Installations"
      description: ""
      operationId: "add-on-installations"
      produces:
      - "application/hal+json"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"add-ons\" : [ {\n\
              \      \"_id\" : \"cebc3531-7335-475e-ab1e-f1d3f7b8c451\",\n      \"\
              name\" : \"Better App\",\n      \"scopes\" : [ \"prod:r\", \"prod:c\"\
              \ ],\n      \"_links\" : {\n        \"self\" : {\n          \"href\"\
              \ : \"https://yourshop.api.urn/add-ons/installed/cebc3531-7335-475e-ab1e-f1d3f7b8c451\"\
              \n        }\n      }\n    }, {\n      \"_id\" : \"a910c57d-b0e2-4a77-a0f0-f2ed14b58534\"\
              ,\n      \"name\" : \"Awesome App\",\n      \"scopes\" : [ \"prod:r\"\
              \ ],\n      \"_links\" : {\n        \"self\" : {\n          \"href\"\
              \ : \"https://yourshop.api.urn/add-ons/installed/a910c57d-b0e2-4a77-a0f0-f2ed14b58534\"\
              \n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/add-ons/installed\"\
              \n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\"\
              \ : 2,\n    \"totalPages\" : 1,\n    \"number\" : 0\n  }\n}"
          schema:
            $ref: "#/definitions/product-attribute-definitions-1206450827"
      security:
      - oauth2_accessCode:
        - "adon:r"
      - oauth2_application:
        - "adon:r"
  /add-ons/installed/{id}:
    delete:
      tags:
      - "add-ons"
      summary: "Uninstall Official App"
      description: ""
      operationId: "add-on-delete"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        204:
          description: ""
          examples: {}
      security:
      - oauth2_accessCode:
        - "adon:m"
      - oauth2_application:
        - "adon:m"
  /carts:
    post:
      tags:
      - "carts"
      summary: "Create Cart"
      description: ""
      operationId: "cart-create"
      produces:
      - "application/hal+json"
      responses:
        201:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ ],\n  \"shippingLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n \
              \   \"lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"shipping-method\"\
              \ : {\n        \"name\" : \"Standard Shipping 2\",\n        \"description\"\
              \ : \"Standard Shipping\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"position\" : 0,\n        \"freeShippingValue\" : null,\n  \
              \      \"fixedPrice\" : {\n          \"taxModel\" : \"GROSS\",\n   \
              \       \"currency\" : \"EUR\",\n          \"amount\" : 19.99\n    \
              \    },\n        \"weightBasedPrice\" : null,\n        \"_id\" : \"\
              73fb6bcc-7024-4c40-8874-f008965bbec5\",\n        \"_links\" : {\n  \
              \        \"self\" : {\n            \"href\" : \"https://yourshop.api.urn/shipping-zones/cd835927-0e47-49be-9e5c-7c44d2045720/shipping-methods/73fb6bcc-7024-4c40-8874-f008965bbec5\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"payment-method\"\
              \ : {\n        \"name\" : \"Converge\",\n        \"description\" : \"\
              Pay with Converge\",\n        \"officialName\" : \"Converge\",\n   \
              \     \"officialDescription\" : \"Pay with Converge\",\n        \"taxClass\"\
              \ : \"REGULAR\",\n        \"discountOrFee\" : {\n          \"type\"\
              \ : \"ABSOLUTE\",\n          \"absoluteValue\" : {\n            \"taxModel\"\
              \ : \"GROSS\",\n            \"currency\" : \"EUR\",\n            \"\
              amount\" : 2\n          },\n          \"percentageValue\" : null\n \
              \       },\n        \"position\" : 1,\n        \"serviceableCountries\"\
              \ : [ \"DE\" ],\n        \"minimumOrderValue\" : null,\n        \"activated\"\
              \ : true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/ddc06833-adaa-47fa-8782-e8254a50aa57\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/ddc06833-adaa-47fa-8782-e8254a50aa57\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/ddc06833-adaa-47fa-8782-e8254a50aa57/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/ddc06833-adaa-47fa-8782-e8254a50aa57/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"ddc06833-adaa-47fa-8782-e8254a50aa57\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 0\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n   \
              \ \"amount\" : 21.99\n  },\n  \"balanceDue\" : {\n    \"currency\" :\
              \ \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"netTotal\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ ],\n  \"taxable\" : true,\n  \"minimumOrderValue\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\"\
              \ : false,\n  \"weight\" : 0,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/92436f07-0397-4aa5-b1cc-ef81304480d2\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/92436f07-0397-4aa5-b1cc-ef81304480d2/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/92436f07-0397-4aa5-b1cc-ef81304480d2/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/92436f07-0397-4aa5-b1cc-ef81304480d2/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/92436f07-0397-4aa5-b1cc-ef81304480d2/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/92436f07-0397-4aa5-b1cc-ef81304480d2/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/92436f07-0397-4aa5-b1cc-ef81304480d2/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/92436f07-0397-4aa5-b1cc-ef81304480d2/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/92436f07-0397-4aa5-b1cc-ef81304480d2/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/92436f07-0397-4aa5-b1cc-ef81304480d2/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"92436f07-0397-4aa5-b1cc-ef81304480d2\"\n\
              }"
  /carts/{cartId}:
    get:
      tags:
      - "carts"
      summary: "Get Cart"
      description: ""
      operationId: "cart-get"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ {\n    \"_type\" : \"PRODUCT\"\
              ,\n    \"_id\" : \"85671141-bb51-4f00-ae65-2aaa3d42cb57\",\n    \"_ref\"\
              \ : \"f300abe3-f3f6-455d-a8b2-544e4bdb47b7\",\n    \"name\" : \"Power\
              \ & Vanilla Coconut Protein Bar (Pack of 5)\",\n    \"quantity\" : {\n\
              \      \"value\" : 1,\n      \"unit\" : \"PIECE\"\n    },\n    \"singleItemPrice\"\
              \ : {\n      \"taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n\
              \      \"amount\" : 4.95\n    },\n    \"lineItemPrice\" : {\n      \"\
              taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 4.95\n    },\n    \"_embedded\" : {\n      \"product\" : {\n   \
              \     \"_id\" : \"f300abe3-f3f6-455d-a8b2-544e4bdb47b7\",\n        \"\
              sku\" : \"EB001\",\n        \"essentialFeatures\" : \"Preservative-free.\
              \ No added sweeteners. Vegan.\",\n        \"_links\" : {\n         \
              \ \"product\" : {\n            \"href\" : \"https://yourshop.api.urn/product-view/products/f300abe3-f3f6-455d-a8b2-544e4bdb47b7?locale=de-DE\"\
              \n          },\n          \"default-image-data\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n          }\n        }\n      }\n    },\n    \"quantityInt\" : 1,\n\
              \    \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 0.9405\n    },\n    \"_links\" : {\n      \"self\" : {\n        \"\
              href\" : \"https://yourshop.api.urn/carts/7c6a1ede-4f5c-494e-a945-2adadc1faecf/line-items/85671141-bb51-4f00-ae65-2aaa3d42cb57\"\
              \n      }\n    }\n  } ],\n  \"shippingLineItem\" : {\n    \"lineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 19.99\n    },\n    \"lineItemTaxes\" : [ {\n \
              \     \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.0,\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 0\n    } ],\n    \"_embedded\"\
              \ : {\n      \"shipping-method\" : {\n        \"name\" : \"Standard\
              \ Shipping 2\",\n        \"description\" : \"Standard Shipping\",\n\
              \        \"taxClass\" : \"REGULAR\",\n        \"position\" : 0,\n  \
              \      \"freeShippingValue\" : null,\n        \"fixedPrice\" : {\n \
              \         \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\"\
              ,\n          \"amount\" : 19.99\n        },\n        \"weightBasedPrice\"\
              \ : null,\n        \"_id\" : \"4835380d-64cf-470a-9d4c-53f8f297a172\"\
              ,\n        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/shipping-zones/42b68c24-8488-4274-b69c-3140fb4adf33/shipping-methods/4835380d-64cf-470a-9d4c-53f8f297a172\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ {\n      \"taxClass\" : \"REGULAR\",\n      \"taxRate\"\
              \ : 0.0,\n      \"currency\" : \"EUR\",\n      \"amount\" : 0\n    }\
              \ ],\n    \"_embedded\" : {\n      \"payment-method\" : {\n        \"\
              name\" : \"Converge\",\n        \"description\" : \"Pay with Converge\"\
              ,\n        \"officialName\" : \"Converge\",\n        \"officialDescription\"\
              \ : \"Pay with Converge\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"discountOrFee\" : {\n          \"type\" : \"ABSOLUTE\",\n \
              \         \"absoluteValue\" : {\n            \"taxModel\" : \"GROSS\"\
              ,\n            \"currency\" : \"EUR\",\n            \"amount\" : 2\n\
              \          },\n          \"percentageValue\" : null\n        },\n  \
              \      \"position\" : 1,\n        \"serviceableCountries\" : [ \"DE\"\
              \ ],\n        \"minimumOrderValue\" : null,\n        \"activated\" :\
              \ true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/b78f7952-b071-40d3-9dcd-bcb48598c072\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/b78f7952-b071-40d3-9dcd-bcb48598c072\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/b78f7952-b071-40d3-9dcd-bcb48598c072/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/b78f7952-b071-40d3-9dcd-bcb48598c072/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"b78f7952-b071-40d3-9dcd-bcb48598c072\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : {\n    \"salutation\"\
              \ : \"Mrs\",\n    \"gender\" : \"FEMALE\",\n    \"company\" : null,\n\
              \    \"title\" : \"\",\n    \"firstName\" : \"Astrid\",\n    \"middleName\"\
              \ : \"Agnes\",\n    \"lastName\" : \"Alster\",\n    \"street\" : \"\
              Alsterwasserweg\",\n    \"houseNumber\" : \"2\",\n    \"street2\" :\
              \ \"Erdgeschoss\",\n    \"addressExtension\" : \"Hinterhof\",\n    \"\
              postalCode\" : \"20999\",\n    \"city\" : \"Alsterwasser\",\n    \"\
              country\" : \"DE\",\n    \"state\" : \"Hamburg\",\n    \"email\" : \"\
              a.alsterh@example.com\",\n    \"phone\" : \"(800) 555-0102\",\n    \"\
              mobile\" : \"(800) 555-0103\",\n    \"displayAddressLines\" : [ \"Astrid\
              \ Agnes Alster\", \"Alsterwasserweg 2\", \"Erdgeschoss\", \"Hinterhof\"\
              , \"20999 Alsterwasser\", \"DEUTSCHLAND\" ],\n    \"vatId\" : \"123456789\"\
              ,\n    \"taxNumber\" : \"123-34-6789\",\n    \"birthDate\" : \"1985-03-20\"\
              \n  },\n  \"shippingAddress\" : {\n    \"salutation\" : \"Mrs\",\n \
              \   \"gender\" : \"FEMALE\",\n    \"company\" : null,\n    \"title\"\
              \ : \"\",\n    \"firstName\" : \"Astrid\",\n    \"middleName\" : \"\
              Agnes\",\n    \"lastName\" : \"Alster\",\n    \"street\" : \"Alsterwasserweg\"\
              ,\n    \"houseNumber\" : \"2\",\n    \"street2\" : \"Erdgeschoss\",\n\
              \    \"addressExtension\" : \"Hinterhof\",\n    \"postalCode\" : \"\
              20999\",\n    \"city\" : \"Alsterwasser\",\n    \"country\" : \"DE\"\
              ,\n    \"state\" : \"Hamburg\",\n    \"email\" : \"a.alsterh@example.com\"\
              ,\n    \"phone\" : \"(800) 555-0102\",\n    \"mobile\" : \"(800) 555-0103\"\
              ,\n    \"displayAddressLines\" : [ \"Astrid Agnes Alster\", \"Alsterwasserweg\
              \ 2\", \"Erdgeschoss\", \"Hinterhof\", \"20999 Alsterwasser\", \"DEUTSCHLAND\"\
              \ ],\n    \"doorCode\" : \"0185\"\n  },\n  \"subtotal\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 4.95\n  },\n  \"grandTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 26.94\n  },\n \
              \ \"balanceDue\" : {\n    \"currency\" : \"EUR\",\n    \"amount\" :\
              \ 26.94\n  },\n  \"netTotal\" : {\n    \"currency\" : \"EUR\",\n   \
              \ \"amount\" : 26.94\n  },\n  \"taxTotal\" : {\n    \"currency\" : \"\
              EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\" : [ {\n    \"taxClass\"\
              \ : \"REGULAR\",\n    \"taxRate\" : 0.0,\n    \"currency\" : \"EUR\"\
              ,\n    \"amount\" : 0\n  } ],\n  \"taxable\" : true,\n  \"minimumOrderValue\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"\
              mustAcceptTermsAndConditions\" : false,\n  \"weight\" : 190,\n  \"checkoutState\"\
              \ : {\n    \"shippingMethodValid\" : true,\n    \"shippingMethodSelectable\"\
              \ : true,\n    \"paymentMethodValid\" : true,\n    \"paymentMethodSelectable\"\
              \ : true,\n    \"billingAddressSet\" : true,\n    \"priceValidToOrder\"\
              \ : true,\n    \"paymentTransactionStatus\" : \"NO_APPROVAL_NEEDED\"\
              ,\n    \"readyToOrder\" : true\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/carts/7c6a1ede-4f5c-494e-a945-2adadc1faecf\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7c6a1ede-4f5c-494e-a945-2adadc1faecf/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/7c6a1ede-4f5c-494e-a945-2adadc1faecf/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7c6a1ede-4f5c-494e-a945-2adadc1faecf/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7c6a1ede-4f5c-494e-a945-2adadc1faecf/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/7c6a1ede-4f5c-494e-a945-2adadc1faecf/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7c6a1ede-4f5c-494e-a945-2adadc1faecf/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7c6a1ede-4f5c-494e-a945-2adadc1faecf/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7c6a1ede-4f5c-494e-a945-2adadc1faecf/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7c6a1ede-4f5c-494e-a945-2adadc1faecf/shipping-address\"\
              \n    },\n    \"place-order\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7c6a1ede-4f5c-494e-a945-2adadc1faecf/order\"\
              \n    }\n  },\n  \"_id\" : \"7c6a1ede-4f5c-494e-a945-2adadc1faecf\"\n\
              }"
          schema:
            $ref: "#/definitions/carts_cartId476401674"
    delete:
      tags:
      - "carts"
      summary: "Delete Cart"
      description: ""
      operationId: "cart-delete"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        204:
          description: ""
          examples: {}
  /carts/{cartId}/billing-address:
    put:
      tags:
      - "carts"
      summary: "Set Billing Address"
      description: ""
      operationId: "cart-set-billing-address"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_billing-address281122046"
        x-examples:
          application/json: "{\"salutation\":\"Mrs\",\"gender\":\"FEMALE\",\"title\"\
            :\"\",\"firstName\":\"Astrid\",\"middleName\":\"Agnes\",\"lastName\":\"\
            Alster\",\"street\":\"Alsterwasserweg\",\"houseNumber\":\"2\",\"street2\"\
            :\"Erdgeschoss\",\"doorCode\":\"0185\",\"addressExtension\":\"Hinterhof\"\
            ,\"postalCode\":\"20999\",\"city\":\"Alsterwasser\",\"country\":\"DE\"\
            ,\"state\":\"Hamburg\",\"email\":\"a.alsterh@example.com\",\"phone\":\"\
            (800) 555-0102\",\"mobile\":\"(800) 555-0103\",\"vatId\":\"123456789\"\
            ,\"taxNumber\":\"123-34-6789\",\"birthDate\":\"1985-03-20\"}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ ],\n  \"shippingLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n \
              \   \"lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"shipping-method\"\
              \ : {\n        \"name\" : \"Standard Shipping 2\",\n        \"description\"\
              \ : \"Standard Shipping\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"position\" : 0,\n        \"freeShippingValue\" : null,\n  \
              \      \"fixedPrice\" : {\n          \"taxModel\" : \"GROSS\",\n   \
              \       \"currency\" : \"EUR\",\n          \"amount\" : 19.99\n    \
              \    },\n        \"weightBasedPrice\" : null,\n        \"_id\" : \"\
              bbc07cdc-3a96-48a3-9e13-f8d039ade11c\",\n        \"_links\" : {\n  \
              \        \"self\" : {\n            \"href\" : \"https://yourshop.api.urn/shipping-zones/3cc1f2ac-8acf-4371-bf8d-10a3d619c22f/shipping-methods/bbc07cdc-3a96-48a3-9e13-f8d039ade11c\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"payment-method\"\
              \ : {\n        \"name\" : \"Converge\",\n        \"description\" : \"\
              Pay with Converge\",\n        \"officialName\" : \"Converge\",\n   \
              \     \"officialDescription\" : \"Pay with Converge\",\n        \"taxClass\"\
              \ : \"REGULAR\",\n        \"discountOrFee\" : {\n          \"type\"\
              \ : \"ABSOLUTE\",\n          \"absoluteValue\" : {\n            \"taxModel\"\
              \ : \"GROSS\",\n            \"currency\" : \"EUR\",\n            \"\
              amount\" : 2\n          },\n          \"percentageValue\" : null\n \
              \       },\n        \"position\" : 1,\n        \"serviceableCountries\"\
              \ : [ \"DE\" ],\n        \"minimumOrderValue\" : null,\n        \"activated\"\
              \ : true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/2e56a9a6-a9b6-4a71-b71d-742651252663\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/2e56a9a6-a9b6-4a71-b71d-742651252663\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/2e56a9a6-a9b6-4a71-b71d-742651252663/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/2e56a9a6-a9b6-4a71-b71d-742651252663/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"2e56a9a6-a9b6-4a71-b71d-742651252663\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : {\n    \"salutation\"\
              \ : \"Mrs\",\n    \"gender\" : \"FEMALE\",\n    \"company\" : null,\n\
              \    \"title\" : \"\",\n    \"firstName\" : \"Astrid\",\n    \"middleName\"\
              \ : \"Agnes\",\n    \"lastName\" : \"Alster\",\n    \"street\" : \"\
              Alsterwasserweg\",\n    \"houseNumber\" : \"2\",\n    \"street2\" :\
              \ \"Erdgeschoss\",\n    \"addressExtension\" : \"Hinterhof\",\n    \"\
              postalCode\" : \"20999\",\n    \"city\" : \"Alsterwasser\",\n    \"\
              country\" : \"DE\",\n    \"state\" : \"Hamburg\",\n    \"email\" : \"\
              a.alsterh@example.com\",\n    \"phone\" : \"(800) 555-0102\",\n    \"\
              mobile\" : \"(800) 555-0103\",\n    \"displayAddressLines\" : [ \"Astrid\
              \ Agnes Alster\", \"Alsterwasserweg 2\", \"Erdgeschoss\", \"Hinterhof\"\
              , \"20999 Alsterwasser\", \"DEUTSCHLAND\" ],\n    \"vatId\" : \"123456789\"\
              ,\n    \"taxNumber\" : \"123-34-6789\",\n    \"birthDate\" : \"1985-03-20\"\
              \n  },\n  \"shippingAddress\" : null,\n  \"subtotal\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 0\n  },\n  \"grandTotal\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"balanceDue\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n \
              \ \"netTotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 21.99\n\
              \  },\n  \"taxTotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 0\n  },\n  \"taxes\" : [ ],\n  \"taxable\" : true,\n  \"minimumOrderValue\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"\
              mustAcceptTermsAndConditions\" : false,\n  \"weight\" : 0,\n  \"checkoutState\"\
              \ : {\n    \"shippingMethodValid\" : true,\n    \"shippingMethodSelectable\"\
              \ : true,\n    \"paymentMethodValid\" : true,\n    \"paymentMethodSelectable\"\
              \ : true,\n    \"billingAddressSet\" : true,\n    \"priceValidToOrder\"\
              \ : true,\n    \"paymentTransactionStatus\" : \"NO_APPROVAL_NEEDED\"\
              ,\n    \"readyToOrder\" : true\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/carts/95fdd7a9-9dd5-4ed8-a47f-b437148b37b8\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/95fdd7a9-9dd5-4ed8-a47f-b437148b37b8/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/95fdd7a9-9dd5-4ed8-a47f-b437148b37b8/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/95fdd7a9-9dd5-4ed8-a47f-b437148b37b8/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/95fdd7a9-9dd5-4ed8-a47f-b437148b37b8/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/95fdd7a9-9dd5-4ed8-a47f-b437148b37b8/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/95fdd7a9-9dd5-4ed8-a47f-b437148b37b8/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/95fdd7a9-9dd5-4ed8-a47f-b437148b37b8/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/95fdd7a9-9dd5-4ed8-a47f-b437148b37b8/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/95fdd7a9-9dd5-4ed8-a47f-b437148b37b8/shipping-address\"\
              \n    },\n    \"place-order\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/95fdd7a9-9dd5-4ed8-a47f-b437148b37b8/order\"\
              \n    }\n  },\n  \"_id\" : \"95fdd7a9-9dd5-4ed8-a47f-b437148b37b8\"\n\
              }"
  /carts/{cartId}/create-payment:
    post:
      tags:
      - "carts"
      summary: "Create Payment"
      description: ""
      operationId: "cart-create-payment"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_create-payment2079035476"
        x-examples:
          application/json: "{\n  \"returnUri\" : \"http://some.com/return\",\n  \"\
            cancelUri\" : \"http://some.com/cancel\"\n}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"approvalUri\" : \"http://some.com/approval\"\
              \n}"
          schema:
            $ref: "#/definitions/carts_cartId_create-payment1985146425"
  /carts/{cartId}/create-payment-and-order:
    post:
      tags:
      - "carts"
      summary: "Create Payment and Order"
      description: ""
      operationId: "cart-create-payment-and-order"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_create-payment-and-order-473412872"
        x-examples:
          application/json: "{\n  \"returnUri\" : \"http://some.com/return\",\n  \"\
            cancelUri\" : \"http://some.com/cancel\",\n  \"customerComment\" : \"\
            Send it fast please!\",\n  \"salesChannel\" : \"Storefront\",\n  \"marketingChannel\"\
            \ : \"Google\",\n  \"marketingSubchannel\" : \"Search page 2\",\n  \"\
            testOrder\" : false\n}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"approvalUri\" : \"http://some.com/approval\"\
              \n}"
          schema:
            $ref: "#/definitions/carts_cartId_create-payment1985146425"
  /carts/{cartId}/line-items:
    post:
      tags:
      - "carts"
      summary: "Add Line Item"
      description: ""
      operationId: "cart-add-line-item"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_line-items-1114717637"
        x-examples:
          application/json: "{\"_type\":\"PRODUCT\",\"_ref\":\"2247efdd-80bf-4df7-a01d-4fa960f5a9cd\"\
            ,\"quantityInt\":1}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ {\n    \"_type\" : \"PRODUCT\"\
              ,\n    \"_id\" : \"b0dc6f9a-3012-4f9e-b210-062fd8160a5f\",\n    \"_ref\"\
              \ : \"2247efdd-80bf-4df7-a01d-4fa960f5a9cd\",\n    \"name\" : \"Power\
              \ & Vanilla Coconut Protein Bar (Pack of 5)\",\n    \"quantity\" : {\n\
              \      \"value\" : 1,\n      \"unit\" : \"PIECE\"\n    },\n    \"singleItemPrice\"\
              \ : {\n      \"taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n\
              \      \"amount\" : 4.95\n    },\n    \"lineItemPrice\" : {\n      \"\
              taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 4.95\n    },\n    \"_embedded\" : {\n      \"product\" : {\n   \
              \     \"_id\" : \"2247efdd-80bf-4df7-a01d-4fa960f5a9cd\",\n        \"\
              sku\" : \"EB001\",\n        \"essentialFeatures\" : \"Preservative-free.\
              \ No added sweeteners. Vegan.\",\n        \"_links\" : {\n         \
              \ \"product\" : {\n            \"href\" : \"https://yourshop.api.urn/product-view/products/2247efdd-80bf-4df7-a01d-4fa960f5a9cd?locale=de-DE\"\
              \n          },\n          \"default-image-data\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n          }\n        }\n      }\n    },\n    \"quantityInt\" : 1,\n\
              \    \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 0.9405\n    },\n    \"_links\" : {\n      \"self\" : {\n        \"\
              href\" : \"https://yourshop.api.urn/carts/397ac211-d053-4634-a62b-dd450da0694e/line-items/b0dc6f9a-3012-4f9e-b210-062fd8160a5f\"\
              \n      }\n    }\n  } ],\n  \"shippingLineItem\" : {\n    \"lineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 19.99\n    },\n    \"lineItemTaxes\" : [ {\n \
              \     \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.0,\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 0\n    } ],\n    \"_embedded\"\
              \ : {\n      \"shipping-method\" : {\n        \"name\" : \"Standard\
              \ Shipping 2\",\n        \"description\" : \"Standard Shipping\",\n\
              \        \"taxClass\" : \"REGULAR\",\n        \"position\" : 0,\n  \
              \      \"freeShippingValue\" : null,\n        \"fixedPrice\" : {\n \
              \         \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\"\
              ,\n          \"amount\" : 19.99\n        },\n        \"weightBasedPrice\"\
              \ : null,\n        \"_id\" : \"c23a6870-c80e-45d2-95ae-3199feb2471c\"\
              ,\n        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/shipping-zones/92276fc2-8fe3-42d4-8d4f-e3c8ff673e23/shipping-methods/c23a6870-c80e-45d2-95ae-3199feb2471c\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ {\n      \"taxClass\" : \"REGULAR\",\n      \"taxRate\"\
              \ : 0.0,\n      \"currency\" : \"EUR\",\n      \"amount\" : 0\n    }\
              \ ],\n    \"_embedded\" : {\n      \"payment-method\" : {\n        \"\
              name\" : \"Converge\",\n        \"description\" : \"Pay with Converge\"\
              ,\n        \"officialName\" : \"Converge\",\n        \"officialDescription\"\
              \ : \"Pay with Converge\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"discountOrFee\" : {\n          \"type\" : \"ABSOLUTE\",\n \
              \         \"absoluteValue\" : {\n            \"taxModel\" : \"GROSS\"\
              ,\n            \"currency\" : \"EUR\",\n            \"amount\" : 2\n\
              \          },\n          \"percentageValue\" : null\n        },\n  \
              \      \"position\" : 1,\n        \"serviceableCountries\" : [ \"DE\"\
              \ ],\n        \"minimumOrderValue\" : null,\n        \"activated\" :\
              \ true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/04e8dbd9-b620-4368-abfe-693c86d8b197\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/04e8dbd9-b620-4368-abfe-693c86d8b197\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/04e8dbd9-b620-4368-abfe-693c86d8b197/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/04e8dbd9-b620-4368-abfe-693c86d8b197/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"04e8dbd9-b620-4368-abfe-693c86d8b197\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 4.95\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 26.94\n  },\n  \"balanceDue\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 26.94\n  },\n  \"netTotal\" : {\n   \
              \ \"currency\" : \"EUR\",\n    \"amount\" : 26.94\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ {\n    \"taxClass\" : \"REGULAR\",\n    \"taxRate\" : 0.0,\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 0\n  } ],\n  \"taxable\"\
              \ : true,\n  \"minimumOrderValue\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\" : false,\n\
              \  \"weight\" : 190,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/397ac211-d053-4634-a62b-dd450da0694e\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/397ac211-d053-4634-a62b-dd450da0694e/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/397ac211-d053-4634-a62b-dd450da0694e/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/397ac211-d053-4634-a62b-dd450da0694e/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/397ac211-d053-4634-a62b-dd450da0694e/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/397ac211-d053-4634-a62b-dd450da0694e/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/397ac211-d053-4634-a62b-dd450da0694e/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/397ac211-d053-4634-a62b-dd450da0694e/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/397ac211-d053-4634-a62b-dd450da0694e/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/397ac211-d053-4634-a62b-dd450da0694e/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"397ac211-d053-4634-a62b-dd450da0694e\"\n\
              }"
    put:
      tags:
      - "carts"
      summary: "Set Line Items"
      description: ""
      operationId: "cart-set-line-items"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_line-items653449580"
        x-examples:
          application/json: "[{\"_type\":\"PRODUCT\",\"_ref\":\"4ae1d8af-de26-4595-95c8-4a34abc1fc3b\"\
            ,\"quantityInt\":1}]"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ {\n    \"_type\" : \"PRODUCT\"\
              ,\n    \"_id\" : \"ff726e40-3d36-48ba-9902-0229cb770162\",\n    \"_ref\"\
              \ : \"4ae1d8af-de26-4595-95c8-4a34abc1fc3b\",\n    \"name\" : \"Power\
              \ & Vanilla Coconut Protein Bar (Pack of 5)\",\n    \"quantity\" : {\n\
              \      \"value\" : 1,\n      \"unit\" : \"PIECE\"\n    },\n    \"singleItemPrice\"\
              \ : {\n      \"taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n\
              \      \"amount\" : 4.95\n    },\n    \"lineItemPrice\" : {\n      \"\
              taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 4.95\n    },\n    \"_embedded\" : {\n      \"product\" : {\n   \
              \     \"_id\" : \"4ae1d8af-de26-4595-95c8-4a34abc1fc3b\",\n        \"\
              sku\" : \"EB001\",\n        \"essentialFeatures\" : \"Preservative-free.\
              \ No added sweeteners. Vegan.\",\n        \"_links\" : {\n         \
              \ \"product\" : {\n            \"href\" : \"https://yourshop.api.urn/product-view/products/4ae1d8af-de26-4595-95c8-4a34abc1fc3b?locale=de-DE\"\
              \n          },\n          \"default-image-data\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n          }\n        }\n      }\n    },\n    \"quantityInt\" : 1,\n\
              \    \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 0.9405\n    },\n    \"_links\" : {\n      \"self\" : {\n        \"\
              href\" : \"https://yourshop.api.urn/carts/770e6c40-f1d8-4f04-bddd-43df02f307b4/line-items/ff726e40-3d36-48ba-9902-0229cb770162\"\
              \n      }\n    }\n  } ],\n  \"shippingLineItem\" : {\n    \"lineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 19.99\n    },\n    \"lineItemTaxes\" : [ {\n \
              \     \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.0,\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 0\n    } ],\n    \"_embedded\"\
              \ : {\n      \"shipping-method\" : {\n        \"name\" : \"Standard\
              \ Shipping 2\",\n        \"description\" : \"Standard Shipping\",\n\
              \        \"taxClass\" : \"REGULAR\",\n        \"position\" : 0,\n  \
              \      \"freeShippingValue\" : null,\n        \"fixedPrice\" : {\n \
              \         \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\"\
              ,\n          \"amount\" : 19.99\n        },\n        \"weightBasedPrice\"\
              \ : null,\n        \"_id\" : \"3ed121da-9cfd-40a4-9a0f-636e3acc9e7f\"\
              ,\n        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/shipping-zones/d71ad542-23ed-42de-8348-dc8a7b2fbe50/shipping-methods/3ed121da-9cfd-40a4-9a0f-636e3acc9e7f\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ {\n      \"taxClass\" : \"REGULAR\",\n      \"taxRate\"\
              \ : 0.0,\n      \"currency\" : \"EUR\",\n      \"amount\" : 0\n    }\
              \ ],\n    \"_embedded\" : {\n      \"payment-method\" : {\n        \"\
              name\" : \"Converge\",\n        \"description\" : \"Pay with Converge\"\
              ,\n        \"officialName\" : \"Converge\",\n        \"officialDescription\"\
              \ : \"Pay with Converge\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"discountOrFee\" : {\n          \"type\" : \"ABSOLUTE\",\n \
              \         \"absoluteValue\" : {\n            \"taxModel\" : \"GROSS\"\
              ,\n            \"currency\" : \"EUR\",\n            \"amount\" : 2\n\
              \          },\n          \"percentageValue\" : null\n        },\n  \
              \      \"position\" : 1,\n        \"serviceableCountries\" : [ \"DE\"\
              \ ],\n        \"minimumOrderValue\" : null,\n        \"activated\" :\
              \ true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/70a42605-6d34-4f05-9996-3ea69263adb2\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/70a42605-6d34-4f05-9996-3ea69263adb2\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/70a42605-6d34-4f05-9996-3ea69263adb2/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/70a42605-6d34-4f05-9996-3ea69263adb2/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"70a42605-6d34-4f05-9996-3ea69263adb2\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 4.95\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 26.94\n  },\n  \"balanceDue\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 26.94\n  },\n  \"netTotal\" : {\n   \
              \ \"currency\" : \"EUR\",\n    \"amount\" : 26.94\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ {\n    \"taxClass\" : \"REGULAR\",\n    \"taxRate\" : 0.0,\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 0\n  } ],\n  \"taxable\"\
              \ : true,\n  \"minimumOrderValue\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\" : false,\n\
              \  \"weight\" : 190,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/770e6c40-f1d8-4f04-bddd-43df02f307b4\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/770e6c40-f1d8-4f04-bddd-43df02f307b4/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/770e6c40-f1d8-4f04-bddd-43df02f307b4/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/770e6c40-f1d8-4f04-bddd-43df02f307b4/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/770e6c40-f1d8-4f04-bddd-43df02f307b4/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/770e6c40-f1d8-4f04-bddd-43df02f307b4/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/770e6c40-f1d8-4f04-bddd-43df02f307b4/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/770e6c40-f1d8-4f04-bddd-43df02f307b4/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/770e6c40-f1d8-4f04-bddd-43df02f307b4/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/770e6c40-f1d8-4f04-bddd-43df02f307b4/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"770e6c40-f1d8-4f04-bddd-43df02f307b4\"\n\
              }"
  /carts/{cartId}/order:
    post:
      tags:
      - "carts"
      summary: "Order Cart"
      description: ""
      operationId: "cart-order"
      consumes:
      - "application/json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_order-317831487"
        x-examples:
          application/json: "{\"customerComment\": \"send it fast please\",\n  \"\
            salesChannel\": \"DifferentChannel\",\n  \"marketingChannel\": \"Google\"\
            ,\n  \"marketingSubchannel\": \"Search page 2\",\n  \"testOrder\": false,\n\
            \  \"termsAndConditionsExplicitlyAccepted\": true\n}"
      responses:
        202:
          description: ""
          examples: {}
          headers:
            Location:
              type: "string"
              description: "the link to access the order once it is created"
  /carts/{cartId}/payment-methods:
    get:
      tags:
      - "carts"
      summary: "Get Payment Methods of Cart"
      description: ""
      operationId: "cart-get-payment-methods"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"payment-methods\"\
              \ : [ {\n      \"lineItemPrice\" : {\n        \"taxModel\" : \"GROSS\"\
              ,\n        \"currency\" : \"EUR\",\n        \"amount\" : 2\n      },\n\
              \      \"selectable\" : true,\n      \"_embedded\" : {\n        \"payment-method\"\
              \ : {\n          \"name\" : \"Converge\",\n          \"description\"\
              \ : \"Pay with Converge\",\n          \"officialName\" : \"Converge\"\
              ,\n          \"officialDescription\" : \"Pay with Converge\",\n    \
              \      \"taxClass\" : \"REGULAR\",\n          \"discountOrFee\" : {\n\
              \            \"type\" : \"ABSOLUTE\",\n            \"absoluteValue\"\
              \ : {\n              \"taxModel\" : \"GROSS\",\n              \"currency\"\
              \ : \"EUR\",\n              \"amount\" : 2\n            },\n       \
              \     \"percentageValue\" : null\n          },\n          \"position\"\
              \ : 1,\n          \"serviceableCountries\" : [ \"DE\" ],\n         \
              \ \"minimumOrderValue\" : null,\n          \"activated\" : true,\n \
              \         \"activeLogoSet\" : null,\n          \"onlinePayment\" : false,\n\
              \          \"_links\" : {\n            \"self\" : {\n              \"\
              href\" : \"https://yourshop.api.urn/payment-methods/b59583a9-e784-450b-9aaa-557ea2b13883\"\
              \n            },\n            \"payment-method\" : {\n             \
              \ \"href\" : \"https://yourshop.api.urn/payment-methods/b59583a9-e784-450b-9aaa-557ea2b13883\"\
              \n            },\n            \"deactivate-payment-method\" : {\n  \
              \            \"href\" : \"https://yourshop.api.urn/payment-methods/b59583a9-e784-450b-9aaa-557ea2b13883/deactivate\"\
              \n            },\n            \"payment-integration\" : {\n        \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/b59583a9-e784-450b-9aaa-557ea2b13883/payment-integration\"\
              \n            }\n          },\n          \"_id\" : \"b59583a9-e784-450b-9aaa-557ea2b13883\"\
              \n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/carts/7c6ad101-afb0-4347-a97b-1e924438332e/payment-methods\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/signers-663923302"
  /carts/{cartId}/shipping-address:
    put:
      tags:
      - "carts"
      summary: "Set Shipping Address"
      description: ""
      operationId: "cart-set-shipping-address"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_shipping-address608469255"
        x-examples:
          application/json: "{\"salutation\":\"Mrs\",\"gender\":\"FEMALE\",\"title\"\
            :\"\",\"firstName\":\"Astrid\",\"middleName\":\"Agnes\",\"lastName\":\"\
            Alster\",\"street\":\"Alsterwasserweg\",\"houseNumber\":\"2\",\"street2\"\
            :\"Erdgeschoss\",\"doorCode\":\"0185\",\"addressExtension\":\"Hinterhof\"\
            ,\"postalCode\":\"20999\",\"city\":\"Alsterwasser\",\"country\":\"DE\"\
            ,\"state\":\"Hamburg\",\"email\":\"a.alsterh@example.com\",\"phone\":\"\
            (800) 555-0102\",\"mobile\":\"(800) 555-0103\"}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ ],\n  \"shippingLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n \
              \   \"lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"shipping-method\"\
              \ : {\n        \"name\" : \"Standard Shipping 2\",\n        \"description\"\
              \ : \"Standard Shipping\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"position\" : 0,\n        \"freeShippingValue\" : null,\n  \
              \      \"fixedPrice\" : {\n          \"taxModel\" : \"GROSS\",\n   \
              \       \"currency\" : \"EUR\",\n          \"amount\" : 19.99\n    \
              \    },\n        \"weightBasedPrice\" : null,\n        \"_id\" : \"\
              d9aa303c-d955-4429-827c-ca6f1799e8a6\",\n        \"_links\" : {\n  \
              \        \"self\" : {\n            \"href\" : \"https://yourshop.api.urn/shipping-zones/55791b28-edf0-4826-baf9-f442b3e9b4e0/shipping-methods/d9aa303c-d955-4429-827c-ca6f1799e8a6\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"payment-method\"\
              \ : {\n        \"name\" : \"Converge\",\n        \"description\" : \"\
              Pay with Converge\",\n        \"officialName\" : \"Converge\",\n   \
              \     \"officialDescription\" : \"Pay with Converge\",\n        \"taxClass\"\
              \ : \"REGULAR\",\n        \"discountOrFee\" : {\n          \"type\"\
              \ : \"ABSOLUTE\",\n          \"absoluteValue\" : {\n            \"taxModel\"\
              \ : \"GROSS\",\n            \"currency\" : \"EUR\",\n            \"\
              amount\" : 2\n          },\n          \"percentageValue\" : null\n \
              \       },\n        \"position\" : 1,\n        \"serviceableCountries\"\
              \ : [ \"DE\" ],\n        \"minimumOrderValue\" : null,\n        \"activated\"\
              \ : true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/508dbf71-e77c-489a-94ee-a645fd8d009e\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/508dbf71-e77c-489a-94ee-a645fd8d009e\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/508dbf71-e77c-489a-94ee-a645fd8d009e/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/508dbf71-e77c-489a-94ee-a645fd8d009e/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"508dbf71-e77c-489a-94ee-a645fd8d009e\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : {\n    \"salutation\" : \"Mrs\",\n    \"gender\" : \"FEMALE\",\n\
              \    \"company\" : null,\n    \"title\" : \"\",\n    \"firstName\" :\
              \ \"Astrid\",\n    \"middleName\" : \"Agnes\",\n    \"lastName\" : \"\
              Alster\",\n    \"street\" : \"Alsterwasserweg\",\n    \"houseNumber\"\
              \ : \"2\",\n    \"street2\" : \"Erdgeschoss\",\n    \"addressExtension\"\
              \ : \"Hinterhof\",\n    \"postalCode\" : \"20999\",\n    \"city\" :\
              \ \"Alsterwasser\",\n    \"country\" : \"DE\",\n    \"state\" : \"Hamburg\"\
              ,\n    \"email\" : \"a.alsterh@example.com\",\n    \"phone\" : \"(800)\
              \ 555-0102\",\n    \"mobile\" : \"(800) 555-0103\",\n    \"displayAddressLines\"\
              \ : [ \"Astrid Agnes Alster\", \"Alsterwasserweg 2\", \"Erdgeschoss\"\
              , \"Hinterhof\", \"20999 Alsterwasser\", \"DEUTSCHLAND\" ],\n    \"\
              doorCode\" : \"0185\"\n  },\n  \"subtotal\" : {\n    \"currency\" :\
              \ \"EUR\",\n    \"amount\" : 0\n  },\n  \"grandTotal\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"balanceDue\" : {\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"netTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n \
              \ \"taxTotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n\
              \  },\n  \"taxes\" : [ ],\n  \"taxable\" : true,\n  \"minimumOrderValue\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"\
              mustAcceptTermsAndConditions\" : false,\n  \"weight\" : 0,\n  \"checkoutState\"\
              \ : {\n    \"shippingMethodValid\" : true,\n    \"shippingMethodSelectable\"\
              \ : true,\n    \"paymentMethodValid\" : true,\n    \"paymentMethodSelectable\"\
              \ : true,\n    \"billingAddressSet\" : false,\n    \"priceValidToOrder\"\
              \ : true,\n    \"paymentTransactionStatus\" : \"NO_APPROVAL_NEEDED\"\
              ,\n    \"readyToOrder\" : false\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/carts/c4031306-a87a-47d7-b3a8-62aa6d2249ca\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/c4031306-a87a-47d7-b3a8-62aa6d2249ca/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/c4031306-a87a-47d7-b3a8-62aa6d2249ca/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/c4031306-a87a-47d7-b3a8-62aa6d2249ca/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/c4031306-a87a-47d7-b3a8-62aa6d2249ca/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/c4031306-a87a-47d7-b3a8-62aa6d2249ca/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/c4031306-a87a-47d7-b3a8-62aa6d2249ca/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/c4031306-a87a-47d7-b3a8-62aa6d2249ca/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/c4031306-a87a-47d7-b3a8-62aa6d2249ca/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/c4031306-a87a-47d7-b3a8-62aa6d2249ca/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"c4031306-a87a-47d7-b3a8-62aa6d2249ca\"\n\
              }"
  /carts/{cartId}/shipping-methods:
    get:
      tags:
      - "carts"
      summary: "Get Shipping Methods of Cart"
      description: ""
      operationId: "cart-get-shipping-methods"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"shipping-methods\"\
              \ : [ {\n      \"lineItemPrice\" : {\n        \"taxModel\" : \"GROSS\"\
              ,\n        \"currency\" : \"EUR\",\n        \"amount\" : 19.99\n   \
              \   },\n      \"selectable\" : true,\n      \"_embedded\" : {\n    \
              \    \"shipping-method\" : {\n          \"name\" : \"Standard Shipping\
              \ 2\",\n          \"description\" : \"Standard Shipping\",\n       \
              \   \"taxClass\" : \"REGULAR\",\n          \"position\" : 0,\n     \
              \     \"freeShippingValue\" : null,\n          \"fixedPrice\" : {\n\
              \            \"taxModel\" : \"GROSS\",\n            \"currency\" : \"\
              EUR\",\n            \"amount\" : 19.99\n          },\n          \"weightBasedPrice\"\
              \ : null,\n          \"_id\" : \"c1e8f15b-89f3-4b69-8abf-dbdc78ec544e\"\
              ,\n          \"_links\" : {\n            \"self\" : {\n            \
              \  \"href\" : \"https://yourshop.api.urn/shipping-zones/d3162711-72d2-47a2-a169-80239a5c2070/shipping-methods/c1e8f15b-89f3-4b69-8abf-dbdc78ec544e\"\
              \n            }\n          }\n        }\n      }\n    } ]\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/a85bee5e-c189-4a24-adfa-bfebe4417bd2/shipping-methods\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/signers-663923302"
  /carts/{cartId}/line-items/{lineItemId}:
    put:
      tags:
      - "carts"
      summary: "Replace Line Items"
      description: ""
      operationId: "cart-replace-line-item"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - name: "lineItemId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_line-items_lineItemId-1702066599"
        x-examples:
          application/json: "{\"_type\":\"PRODUCT\",\"_ref\":\"068820bf-1c1f-431b-9d6f-cf2a41132728\"\
            ,\"quantityInt\":2}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ {\n    \"_type\" : \"PRODUCT\"\
              ,\n    \"_id\" : \"d1aae115-11a8-4919-9872-f51556208356\",\n    \"_ref\"\
              \ : \"068820bf-1c1f-431b-9d6f-cf2a41132728\",\n    \"name\" : \"Power\
              \ & Vanilla Coconut Protein Bar (Pack of 5)\",\n    \"quantity\" : {\n\
              \      \"value\" : 2,\n      \"unit\" : \"PIECE\"\n    },\n    \"singleItemPrice\"\
              \ : {\n      \"taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n\
              \      \"amount\" : 4.95\n    },\n    \"lineItemPrice\" : {\n      \"\
              taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 9.9\n    },\n    \"_embedded\" : {\n      \"product\" : {\n    \
              \    \"_id\" : \"068820bf-1c1f-431b-9d6f-cf2a41132728\",\n        \"\
              sku\" : \"EB001\",\n        \"essentialFeatures\" : \"Preservative-free.\
              \ No added sweeteners. Vegan.\",\n        \"_links\" : {\n         \
              \ \"product\" : {\n            \"href\" : \"https://yourshop.api.urn/product-view/products/068820bf-1c1f-431b-9d6f-cf2a41132728?locale=de-DE\"\
              \n          },\n          \"default-image-data\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n          }\n        }\n      }\n    },\n    \"quantityInt\" : 2,\n\
              \    \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 1.881\n    },\n    \"_links\" : {\n      \"self\" : {\n        \"\
              href\" : \"https://yourshop.api.urn/carts/339abf7c-dc0d-40dc-831c-b074922031ae/line-items/d1aae115-11a8-4919-9872-f51556208356\"\
              \n      }\n    }\n  } ],\n  \"shippingLineItem\" : {\n    \"lineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 19.99\n    },\n    \"lineItemTaxes\" : [ {\n \
              \     \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.0,\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 0\n    } ],\n    \"_embedded\"\
              \ : {\n      \"shipping-method\" : {\n        \"name\" : \"Standard\
              \ Shipping 2\",\n        \"description\" : \"Standard Shipping\",\n\
              \        \"taxClass\" : \"REGULAR\",\n        \"position\" : 0,\n  \
              \      \"freeShippingValue\" : null,\n        \"fixedPrice\" : {\n \
              \         \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\"\
              ,\n          \"amount\" : 19.99\n        },\n        \"weightBasedPrice\"\
              \ : null,\n        \"_id\" : \"e6eefa21-9531-487d-83f6-4c52d54a3ed3\"\
              ,\n        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/shipping-zones/77a6ed50-2af4-43a9-bc04-6ac03ef4efa4/shipping-methods/e6eefa21-9531-487d-83f6-4c52d54a3ed3\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ {\n      \"taxClass\" : \"REGULAR\",\n      \"taxRate\"\
              \ : 0.0,\n      \"currency\" : \"EUR\",\n      \"amount\" : 0\n    }\
              \ ],\n    \"_embedded\" : {\n      \"payment-method\" : {\n        \"\
              name\" : \"Converge\",\n        \"description\" : \"Pay with Converge\"\
              ,\n        \"officialName\" : \"Converge\",\n        \"officialDescription\"\
              \ : \"Pay with Converge\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"discountOrFee\" : {\n          \"type\" : \"ABSOLUTE\",\n \
              \         \"absoluteValue\" : {\n            \"taxModel\" : \"GROSS\"\
              ,\n            \"currency\" : \"EUR\",\n            \"amount\" : 2\n\
              \          },\n          \"percentageValue\" : null\n        },\n  \
              \      \"position\" : 1,\n        \"serviceableCountries\" : [ \"DE\"\
              \ ],\n        \"minimumOrderValue\" : null,\n        \"activated\" :\
              \ true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/39b8057d-2c9d-456f-94f8-d7f384548555\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/39b8057d-2c9d-456f-94f8-d7f384548555\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/39b8057d-2c9d-456f-94f8-d7f384548555/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/39b8057d-2c9d-456f-94f8-d7f384548555/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"39b8057d-2c9d-456f-94f8-d7f384548555\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 9.9\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n \
              \   \"amount\" : 31.89\n  },\n  \"balanceDue\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 31.89\n  },\n  \"netTotal\" : {\n   \
              \ \"currency\" : \"EUR\",\n    \"amount\" : 31.89\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ {\n    \"taxClass\" : \"REGULAR\",\n    \"taxRate\" : 0.0,\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 0\n  } ],\n  \"taxable\"\
              \ : true,\n  \"minimumOrderValue\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\" : false,\n\
              \  \"weight\" : 380,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/339abf7c-dc0d-40dc-831c-b074922031ae\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/339abf7c-dc0d-40dc-831c-b074922031ae/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/339abf7c-dc0d-40dc-831c-b074922031ae/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/339abf7c-dc0d-40dc-831c-b074922031ae/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/339abf7c-dc0d-40dc-831c-b074922031ae/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/339abf7c-dc0d-40dc-831c-b074922031ae/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/339abf7c-dc0d-40dc-831c-b074922031ae/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/339abf7c-dc0d-40dc-831c-b074922031ae/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/339abf7c-dc0d-40dc-831c-b074922031ae/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/339abf7c-dc0d-40dc-831c-b074922031ae/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"339abf7c-dc0d-40dc-831c-b074922031ae\"\n\
              }"
    delete:
      tags:
      - "carts"
      summary: "Delete Line Items"
      description: ""
      operationId: "cart-delete-line-item"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - name: "lineItemId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ ],\n  \"shippingLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n \
              \   \"lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"shipping-method\"\
              \ : {\n        \"name\" : \"Standard Shipping 2\",\n        \"description\"\
              \ : \"Standard Shipping\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"position\" : 0,\n        \"freeShippingValue\" : null,\n  \
              \      \"fixedPrice\" : {\n          \"taxModel\" : \"GROSS\",\n   \
              \       \"currency\" : \"EUR\",\n          \"amount\" : 19.99\n    \
              \    },\n        \"weightBasedPrice\" : null,\n        \"_id\" : \"\
              f816977a-a979-475b-84b8-7deb5e33a98a\",\n        \"_links\" : {\n  \
              \        \"self\" : {\n            \"href\" : \"https://yourshop.api.urn/shipping-zones/183332d6-d9e5-4357-a219-56cbf2a0e5d0/shipping-methods/f816977a-a979-475b-84b8-7deb5e33a98a\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"payment-method\"\
              \ : {\n        \"name\" : \"Converge\",\n        \"description\" : \"\
              Pay with Converge\",\n        \"officialName\" : \"Converge\",\n   \
              \     \"officialDescription\" : \"Pay with Converge\",\n        \"taxClass\"\
              \ : \"REGULAR\",\n        \"discountOrFee\" : {\n          \"type\"\
              \ : \"ABSOLUTE\",\n          \"absoluteValue\" : {\n            \"taxModel\"\
              \ : \"GROSS\",\n            \"currency\" : \"EUR\",\n            \"\
              amount\" : 2\n          },\n          \"percentageValue\" : null\n \
              \       },\n        \"position\" : 1,\n        \"serviceableCountries\"\
              \ : [ \"DE\" ],\n        \"minimumOrderValue\" : null,\n        \"activated\"\
              \ : true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/3f0e29fc-f3b4-4950-9624-4504ce2251aa\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/3f0e29fc-f3b4-4950-9624-4504ce2251aa\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/3f0e29fc-f3b4-4950-9624-4504ce2251aa/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/3f0e29fc-f3b4-4950-9624-4504ce2251aa/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"3f0e29fc-f3b4-4950-9624-4504ce2251aa\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 0\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n   \
              \ \"amount\" : 21.99\n  },\n  \"balanceDue\" : {\n    \"currency\" :\
              \ \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"netTotal\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ ],\n  \"taxable\" : true,\n  \"minimumOrderValue\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\"\
              \ : false,\n  \"weight\" : 0,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/89b18eaf-1682-4210-948d-04d10976d3ac\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/89b18eaf-1682-4210-948d-04d10976d3ac/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/89b18eaf-1682-4210-948d-04d10976d3ac/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/89b18eaf-1682-4210-948d-04d10976d3ac/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/89b18eaf-1682-4210-948d-04d10976d3ac/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/89b18eaf-1682-4210-948d-04d10976d3ac/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/89b18eaf-1682-4210-948d-04d10976d3ac/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/89b18eaf-1682-4210-948d-04d10976d3ac/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/89b18eaf-1682-4210-948d-04d10976d3ac/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/89b18eaf-1682-4210-948d-04d10976d3ac/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"89b18eaf-1682-4210-948d-04d10976d3ac\"\n\
              }"
  /carts/{cartId}/payment-methods/current:
    get:
      tags:
      - "carts"
      summary: "Get Payment Method of Cart"
      description: ""
      operationId: "cart-get-payment-methods-current"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"name\" : \"Converge\",\n  \"description\"\
              \ : \"Pay with Converge\",\n  \"officialName\" : \"Converge\",\n  \"\
              officialDescription\" : \"Pay with Converge\",\n  \"taxClass\" : \"\
              REGULAR\",\n  \"discountOrFee\" : {\n    \"type\" : \"ABSOLUTE\",\n\
              \    \"absoluteValue\" : {\n      \"taxModel\" : \"GROSS\",\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"percentageValue\"\
              \ : null\n  },\n  \"position\" : 1,\n  \"serviceableCountries\" : [\
              \ \"DE\" ],\n  \"minimumOrderValue\" : null,\n  \"activated\" : true,\n\
              \  \"activeLogoSet\" : null,\n  \"onlinePayment\" : false,\n  \"_links\"\
              \ : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/payment-methods/24d3d75b-3cdf-45a9-9e24-7eb8598240a4\"\
              \n    },\n    \"payment-method\" : {\n      \"href\" : \"https://yourshop.api.urn/payment-methods/24d3d75b-3cdf-45a9-9e24-7eb8598240a4\"\
              \n    },\n    \"deactivate-payment-method\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/payment-methods/24d3d75b-3cdf-45a9-9e24-7eb8598240a4/deactivate\"\
              \n    },\n    \"payment-integration\" : {\n      \"href\" : \"https://yourshop.api.urn/payment-methods/24d3d75b-3cdf-45a9-9e24-7eb8598240a4/payment-integration\"\
              \n    }\n  },\n  \"_id\" : \"24d3d75b-3cdf-45a9-9e24-7eb8598240a4\"\n\
              }"
    put:
      tags:
      - "carts"
      summary: "Set Payment Method of Cart"
      description: ""
      operationId: "cart-set-payment-methods-current"
      consumes:
      - "text/uri-list"
      produces:
      - "application/json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_payment-methods_current107754003"
        x-examples:
          text/uri-list: "https://yourshop.api.urn/payment-methods/0b25375f-12e9-415c-b191-bcd16c0d2132"
      responses:
        200:
          description: ""
          examples:
            application/json: "{\n  \"lineItems\" : [ {\n    \"_type\" : \"PRODUCT\"\
              ,\n    \"_id\" : \"0c875cb7-954b-4e8a-9a4a-8a48fad74f66\",\n    \"_ref\"\
              \ : \"ada3c056-d3cd-4373-acee-eeaf65c72e96\",\n    \"name\" : \"Power\
              \ & Vanilla Coconut Protein Bar (Pack of 5)\",\n    \"quantity\" : {\n\
              \      \"value\" : 1,\n      \"unit\" : \"PIECE\"\n    },\n    \"singleItemPrice\"\
              \ : {\n      \"taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n\
              \      \"amount\" : 4.95\n    },\n    \"lineItemPrice\" : {\n      \"\
              taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 4.95\n    },\n    \"_embedded\" : {\n      \"product\" : {\n   \
              \     \"_id\" : \"ada3c056-d3cd-4373-acee-eeaf65c72e96\",\n        \"\
              sku\" : \"EB001\",\n        \"essentialFeatures\" : \"Preservative-free.\
              \ No added sweeteners. Vegan.\",\n        \"_links\" : {\n         \
              \ \"product\" : {\n            \"href\" : \"https://yourshop.api.urn/product-view/products/ada3c056-d3cd-4373-acee-eeaf65c72e96?locale=de-DE\"\
              \n          },\n          \"default-image-data\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n          }\n        }\n      }\n    },\n    \"quantityInt\" : 1,\n\
              \    \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 0.9405\n    },\n    \"_links\" : {\n      \"self\" : {\n        \"\
              href\" : \"https://yourshop.api.urn/carts/333c26c3-23ea-427a-8efe-2686eb1d6f70/line-items/0c875cb7-954b-4e8a-9a4a-8a48fad74f66\"\
              \n      }\n    }\n  } ],\n  \"shippingLineItem\" : {\n    \"lineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 19.99\n    },\n    \"lineItemTaxes\" : [ {\n \
              \     \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.0,\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 0\n    } ],\n    \"_embedded\"\
              \ : {\n      \"shipping-method\" : {\n        \"name\" : \"Standard\
              \ Shipping 2\",\n        \"description\" : \"Standard Shipping\",\n\
              \        \"taxClass\" : \"REGULAR\",\n        \"position\" : 0,\n  \
              \      \"freeShippingValue\" : null,\n        \"fixedPrice\" : {\n \
              \         \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\"\
              ,\n          \"amount\" : 19.99\n        },\n        \"weightBasedPrice\"\
              \ : null,\n        \"_id\" : \"1d64e9ce-8d42-4a78-9550-34fa695775fe\"\
              ,\n        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/shipping-zones/cb8a7029-18fb-4819-80de-a4e937a35f56/shipping-methods/1d64e9ce-8d42-4a78-9550-34fa695775fe\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"NET\",\n  \
              \    \"currency\" : \"EUR\",\n      \"amount\" : 0.4988\n    },\n  \
              \  \"lineItemTaxes\" : [ {\n      \"taxClass\" : \"REGULAR\",\n    \
              \  \"taxRate\" : 0.0,\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 0\n    } ],\n    \"_embedded\" : {\n      \"payment-method\" : {\n\
              \        \"name\" : \"Credit Card\",\n        \"description\" : \"Pay\
              \ with CreditCard\",\n        \"officialName\" : \"Credit Card\",\n\
              \        \"officialDescription\" : \"Pay with CreditCard\",\n      \
              \  \"taxClass\" : \"REGULAR\",\n        \"discountOrFee\" : {\n    \
              \      \"type\" : \"PERCENTAGE\",\n          \"absoluteValue\" : null,\n\
              \          \"percentageValue\" : 0.02\n        },\n        \"position\"\
              \ : 2,\n        \"serviceableCountries\" : [ \"GB\", \"DE\" ],\n   \
              \     \"minimumOrderValue\" : {\n          \"currency\" : \"EUR\",\n\
              \          \"amount\" : 20\n        },\n        \"activated\" : true,\n\
              \        \"activeLogoSet\" : null,\n        \"onlinePayment\" : false,\n\
              \        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/0b25375f-12e9-415c-b191-bcd16c0d2132\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/0b25375f-12e9-415c-b191-bcd16c0d2132\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/0b25375f-12e9-415c-b191-bcd16c0d2132/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/0b25375f-12e9-415c-b191-bcd16c0d2132/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"0b25375f-12e9-415c-b191-bcd16c0d2132\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 4.95\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 25.4388\n  },\n  \"balanceDue\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 25.4388\n  },\n  \"netTotal\" : {\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 25.4388\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ {\n    \"taxClass\" : \"REGULAR\",\n    \"taxRate\" : 0.0,\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 0\n  } ],\n  \"taxable\"\
              \ : true,\n  \"minimumOrderValue\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\" : false,\n\
              \  \"weight\" : 190,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : false,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/333c26c3-23ea-427a-8efe-2686eb1d6f70\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/333c26c3-23ea-427a-8efe-2686eb1d6f70/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/333c26c3-23ea-427a-8efe-2686eb1d6f70/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/333c26c3-23ea-427a-8efe-2686eb1d6f70/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/333c26c3-23ea-427a-8efe-2686eb1d6f70/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/333c26c3-23ea-427a-8efe-2686eb1d6f70/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/333c26c3-23ea-427a-8efe-2686eb1d6f70/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/333c26c3-23ea-427a-8efe-2686eb1d6f70/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/333c26c3-23ea-427a-8efe-2686eb1d6f70/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/333c26c3-23ea-427a-8efe-2686eb1d6f70/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"333c26c3-23ea-427a-8efe-2686eb1d6f70\"\n\
              }"
  /carts/{cartId}/payment-methods/default:
    put:
      tags:
      - "carts"
      summary: "Set Default Payment Method"
      description: ""
      operationId: "cart-set-payment-methods-default"
      produces:
      - "application/json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/json: "{\n  \"lineItems\" : [ ],\n  \"shippingLineItem\" :\
              \ {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n  \
              \    \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n   \
              \ \"lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"shipping-method\"\
              \ : {\n        \"name\" : \"Standard Shipping 2\",\n        \"description\"\
              \ : \"Standard Shipping\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"position\" : 0,\n        \"freeShippingValue\" : null,\n  \
              \      \"fixedPrice\" : {\n          \"taxModel\" : \"GROSS\",\n   \
              \       \"currency\" : \"EUR\",\n          \"amount\" : 19.99\n    \
              \    },\n        \"weightBasedPrice\" : null,\n        \"_id\" : \"\
              a1bd55ed-e086-4ab9-a6a9-1f24e5f64020\",\n        \"_links\" : {\n  \
              \        \"self\" : {\n            \"href\" : \"https://yourshop.api.urn/shipping-zones/7f7567d9-87db-498b-aa17-cb11411882f9/shipping-methods/a1bd55ed-e086-4ab9-a6a9-1f24e5f64020\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"payment-method\"\
              \ : {\n        \"name\" : \"Converge\",\n        \"description\" : \"\
              Pay with Converge\",\n        \"officialName\" : \"Converge\",\n   \
              \     \"officialDescription\" : \"Pay with Converge\",\n        \"taxClass\"\
              \ : \"REGULAR\",\n        \"discountOrFee\" : {\n          \"type\"\
              \ : \"ABSOLUTE\",\n          \"absoluteValue\" : {\n            \"taxModel\"\
              \ : \"GROSS\",\n            \"currency\" : \"EUR\",\n            \"\
              amount\" : 2\n          },\n          \"percentageValue\" : null\n \
              \       },\n        \"position\" : 1,\n        \"serviceableCountries\"\
              \ : [ \"DE\" ],\n        \"minimumOrderValue\" : null,\n        \"activated\"\
              \ : true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/33e2ddf5-467d-4d52-bfca-516e2cd7c6a4\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/33e2ddf5-467d-4d52-bfca-516e2cd7c6a4\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/33e2ddf5-467d-4d52-bfca-516e2cd7c6a4/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/33e2ddf5-467d-4d52-bfca-516e2cd7c6a4/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"33e2ddf5-467d-4d52-bfca-516e2cd7c6a4\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 0\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n   \
              \ \"amount\" : 21.99\n  },\n  \"balanceDue\" : {\n    \"currency\" :\
              \ \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"netTotal\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ ],\n  \"taxable\" : true,\n  \"minimumOrderValue\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\"\
              \ : false,\n  \"weight\" : 0,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/978e170a-d945-4d80-bf6c-7a86baea5e1c\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/978e170a-d945-4d80-bf6c-7a86baea5e1c/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/978e170a-d945-4d80-bf6c-7a86baea5e1c/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/978e170a-d945-4d80-bf6c-7a86baea5e1c/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/978e170a-d945-4d80-bf6c-7a86baea5e1c/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/978e170a-d945-4d80-bf6c-7a86baea5e1c/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/978e170a-d945-4d80-bf6c-7a86baea5e1c/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/978e170a-d945-4d80-bf6c-7a86baea5e1c/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/978e170a-d945-4d80-bf6c-7a86baea5e1c/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/978e170a-d945-4d80-bf6c-7a86baea5e1c/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"978e170a-d945-4d80-bf6c-7a86baea5e1c\"\n\
              }"
  /carts/{cartId}/shipping-methods/current:
    get:
      tags:
      - "carts"
      summary: "Get Shipping Method of Cart"
      description: ""
      operationId: "cart-get-shipping-methods-current"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"name\" : \"Standard Shipping 2\",\n  \"\
              description\" : \"Standard Shipping\",\n  \"taxClass\" : \"REGULAR\"\
              ,\n  \"position\" : 0,\n  \"freeShippingValue\" : null,\n  \"fixedPrice\"\
              \ : {\n    \"taxModel\" : \"GROSS\",\n    \"currency\" : \"EUR\",\n\
[...]
