swagger: "2.0"
info:
  version: 1.0.0
  title: Beyond REST API
host: api-shop.beyondshop.cloud
basePath: /api
schemes:
- https
paths:
  /:
    get:
      summary: Index Unauthorized
      description: ""
      operationId: index-unauthorized
      produces:
      - application/json
      responses:
        401:
          description: ""
          examples:
            application/json: '{"errorId":"unauthorized","details":{},"message":"Full
              authentication is required to access this resource","traceId":null}'
  /app-types:
    get:
      tags:
      - app-types
      summary: Get available app types
      description: ""
      operationId: app-types-get
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        description: Basic
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/json: '[ "SHIPPING", "LEGAL", "NEWSLETTER", "STOREFRONT",
              "PRODUCT_IMAGE", "PAYMENT", "ORDER" ]'
  /apps:
    get:
      tags:
      - apps
      summary: List apps with language
      description: ""
      operationId: localized-apps-get-all
      produces:
      - application/hal+json
      parameters:
      - name: locale
        in: query
        description: The 5 digit locale code for the required country and language.
        required: true
        type: string
      - name: type
        in: query
        description: The type name of the app used to categorize apps. Optional field.
        required: true
        type: string
      - name: installationStatus
        in: query
        description: The installation status of this app in the current shop. Supported
          values are `INSTALLED` or `AVAILABLE`. Optional field.
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_embedded" : {
                  "apps" : [ {
                    "name" : "Simple + Secure Payment",
                    "price" : "19 USD per month",
                    "description" : "A payment method for simple and secure payments in online shops.",
                    "images" : [ "http://example.com/image1.png" ],
                    "developer" : "Mr D. Veloper",
                    "supportEmail" : "support@example.com",
                    "iconUrl" : "http://example.com/icon.png",
                    "appUrl" : "http://example.com/login",
                    "logoUrl" : "http://example.com/logo.png",
                    "videoUrl" : "http://example.com/video.mpg",
                    "infoWebsite" : "http://example.com/info.html",
                    "supportWebsite" : "http://example.com/support.html",
                    "clientId" : "client_id",
                    "scopes" : [ "ordr:u", "ordr:r" ],
                    "callbackUrl" : "http://example.com/callback",
                    "additionalConfiguration" : "{\n  \"productionConfiguration\" : {\n    \"name\" : \"my-payment-method-definition\",\n    \"referralUriTemplate\" : \"http://example.com/referral\",\n    \"statusUri\" : \"http://example.com/merchant-account-status/{shopId}\",\n    \"disconnectUri\" : \"http://example.com/merchant-account-status/{shopId}\",\n    \"createPaymentUri\" : \"http://example.com/payments\",\n    \"capturePaymentUri\" : \"http://example.com/payments/{id}/capture\",\n    \"refundPaymentUri\" : \"http://example.com/payments/{id}/refund\",\n    \"workflow\" : \"PAYMENT_ON_SELECTION\",\n    \"logos\" : [ {\n      \"setName\" : \"official\",\n      \"variant\" : \"DETAILS\",\n      \"uri\" : \"http://example.com/details.png\"\n    }, {\n      \"setName\" : \"official\",\n      \"variant\" : \"LIST\",\n      \"uri\" : \"http://example.com/list.png\"\n    }, {\n      \"setName\" : \"official\",\n      \"variant\" : \"TILE\",\n      \"uri\" : \"http://example.com/tile.png\"\n    }, {\n      \"setName\" : \"official\",\n      \"variant\" : \"STOREFRONT\",\n      \"uri\" : \"http://example.com/storefront.png\"\n    } ]\n  }\n}",
                    "createdAt" : "2018-10-30T13:24:38.694",
                    "feature" : "app.another-test-app",
                    "type" : "PAYMENT",
                    "_id" : "1a57da6b-4379-4b9b-ae99-28d718a5e999",
                    "installationStatus" : "INSTALLED",
                    "_links" : {
                      "self" : {
                        "href" : "https://yourshop.api.urn/apps/1a57da6b-4379-4b9b-ae99-28d718a5e999"
                      },
                      "uninstall" : {
                        "href" : "https://yourshop.api.urn/apps/1a57da6b-4379-4b9b-ae99-28d718a5e999/uninstall"
                      }
                    }
                  }, {
                    "name" : "Simple + Secure Payment",
                    "price" : "19 USD per month",
                    "description" : "A payment method for simple and secure payments in online shops.",
                    "images" : [ "http://example.com/image1.png" ],
                    "developer" : "Mr D. Veloper",
                    "supportEmail" : "support@example.com",
                    "iconUrl" : "http://example.com/icon.png",
                    "appUrl" : "http://example.com/login",
                    "logoUrl" : "http://example.com/logo.png",
                    "videoUrl" : "http://example.com/video.mpg",
                    "infoWebsite" : "http://example.com/info.html",
                    "supportWebsite" : "http://example.com/support.html",
                    "clientId" : "client_id",
                    "scopes" : [ "ordr:u", "ordr:r" ],
                    "callbackUrl" : "http://example.com/callback",
                    "additionalConfiguration" : "{\n  \"productionConfiguration\" : {\n    \"name\" : \"my-payment-method-definition\",\n    \"referralUriTemplate\" : \"http://example.com/referral\",\n    \"statusUri\" : \"http://example.com/merchant-account-status/{shopId}\",\n    \"disconnectUri\" : \"http://example.com/merchant-account-status/{shopId}\",\n    \"createPaymentUri\" : \"http://example.com/payments\",\n    \"capturePaymentUri\" : \"http://example.com/payments/{id}/capture\",\n    \"refundPaymentUri\" : \"http://example.com/payments/{id}/refund\",\n    \"workflow\" : \"PAYMENT_ON_SELECTION\",\n    \"logos\" : [ {\n      \"setName\" : \"official\",\n      \"variant\" : \"DETAILS\",\n      \"uri\" : \"http://example.com/details.png\"\n    }, {\n      \"setName\" : \"official\",\n      \"variant\" : \"LIST\",\n      \"uri\" : \"http://example.com/list.png\"\n    }, {\n      \"setName\" : \"official\",\n      \"variant\" : \"TILE\",\n      \"uri\" : \"http://example.com/tile.png\"\n    }, {\n      \"setName\" : \"official\",\n      \"variant\" : \"STOREFRONT\",\n      \"uri\" : \"http://example.com/storefront.png\"\n    } ]\n  }\n}",
                    "createdAt" : "2018-10-30T13:24:38.458",
                    "feature" : "app.test-app",
                    "type" : "PAYMENT",
                    "_id" : "4e605b71-90f7-4ebb-b2e7-3f1e38b1cc63",
                    "installationStatus" : "INSTALLED",
                    "_links" : {
                      "self" : {
                        "href" : "https://yourshop.api.urn/apps/4e605b71-90f7-4ebb-b2e7-3f1e38b1cc63"
                      },
                      "uninstall" : {
                        "href" : "https://yourshop.api.urn/apps/4e605b71-90f7-4ebb-b2e7-3f1e38b1cc63/uninstall"
                      }
                    }
                  } ]
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/apps"
                  }
                },
                "page" : {
                  "size" : 20,
                  "totalElements" : 2,
                  "totalPages" : 1,
                  "number" : 0
                }
              }
          schema:
            $ref: '#/definitions/apps-663923302'
      security:
      - oauth2_accessCode:
        - aapp:r
      - oauth2_application:
        - aapp:r
  /apps/{appId}:
    get:
      tags:
      - apps
      summary: Get app with language
      description: ""
      operationId: localized-apps-get
      produces:
      - application/hal+json
      parameters:
      - name: appId
        in: path
        description: ""
        required: true
        type: string
      - name: locale
        in: query
        description: The 5 digit locale code for the required country and language.
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "name" : "Simple + Secure Payment",
                "price" : "19 USD per month",
                "description" : "A payment method for simple and secure payments in online shops.",
                "images" : [ "http://example.com/image1.png" ],
                "developer" : "Mr D. Veloper",
                "supportEmail" : "support@example.com",
                "iconUrl" : "http://example.com/icon.png",
                "appUrl" : "http://example.com/login",
                "logoUrl" : "http://example.com/logo.png",
                "videoUrl" : "http://example.com/video.mpg",
                "infoWebsite" : "http://example.com/info.html",
                "supportWebsite" : "http://example.com/support.html",
                "clientId" : "client_id",
                "scopes" : [ "ordr:u", "ordr:r" ],
                "callbackUrl" : "http://example.com/callback",
                "additionalConfiguration" : "{\n  \"productionConfiguration\" : {\n    \"name\" : \"my-payment-method-definition\",\n    \"referralUriTemplate\" : \"http://example.com/referral\",\n    \"statusUri\" : \"http://example.com/merchant-account-status/{shopId}\",\n    \"disconnectUri\" : \"http://example.com/merchant-account-status/{shopId}\",\n    \"createPaymentUri\" : \"http://example.com/payments\",\n    \"capturePaymentUri\" : \"http://example.com/payments/{id}/capture\",\n    \"refundPaymentUri\" : \"http://example.com/payments/{id}/refund\",\n    \"workflow\" : \"PAYMENT_ON_SELECTION\",\n    \"logos\" : [ {\n      \"setName\" : \"official\",\n      \"variant\" : \"DETAILS\",\n      \"uri\" : \"http://example.com/details.png\"\n    }, {\n      \"setName\" : \"official\",\n      \"variant\" : \"LIST\",\n      \"uri\" : \"http://example.com/list.png\"\n    }, {\n      \"setName\" : \"official\",\n      \"variant\" : \"TILE\",\n      \"uri\" : \"http://example.com/tile.png\"\n    }, {\n      \"setName\" : \"official\",\n      \"variant\" : \"STOREFRONT\",\n      \"uri\" : \"http://example.com/storefront.png\"\n    } ]\n  }\n}",
                "createdAt" : "2018-10-30T13:24:34.46",
                "feature" : "app.test-app",
                "type" : "PAYMENT",
                "_id" : "2e951fb3-422c-4084-b813-7fff7b8cf8ce",
                "installationStatus" : "AVAILABLE",
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/apps/2e951fb3-422c-4084-b813-7fff7b8cf8ce"
                  }
                }
              }
          schema:
            $ref: '#/definitions/apps_appId-847214231'
      security:
      - oauth2_accessCode:
        - aapp:r
      - oauth2_application:
        - aapp:r
  /apps/{appId}/uninstall:
    post:
      tags:
      - apps
      summary: Uninstall app
      description: ""
      operationId: localized-apps-uninstall
      produces:
      - application/hal+json
      parameters:
      - name: appId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "name" : "Simple + Secure Payment",
                "price" : "19 USD per month",
                "description" : "A payment method for simple and secure payments in online shops.",
                "images" : [ "http://example.com/image1.png" ],
                "developer" : "Mr D. Veloper",
                "supportEmail" : "support@example.com",
                "iconUrl" : "http://example.com/icon.png",
                "appUrl" : "http://example.com/login",
                "logoUrl" : "http://example.com/logo.png",
                "videoUrl" : "http://example.com/video.mpg",
                "infoWebsite" : "http://example.com/info.html",
                "supportWebsite" : "http://example.com/support.html",
                "clientId" : "client_id",
                "scopes" : [ "ordr:u", "ordr:r" ],
                "callbackUrl" : "http://example.com/callback",
                "additionalConfiguration" : "{\n  \"productionConfiguration\" : {\n    \"name\" : \"my-payment-method-definition\",\n    \"referralUriTemplate\" : \"http://example.com/referral\",\n    \"statusUri\" : \"http://example.com/merchant-account-status/{shopId}\",\n    \"disconnectUri\" : \"http://example.com/merchant-account-status/{shopId}\",\n    \"createPaymentUri\" : \"http://example.com/payments\",\n    \"capturePaymentUri\" : \"http://example.com/payments/{id}/capture\",\n    \"refundPaymentUri\" : \"http://example.com/payments/{id}/refund\",\n    \"workflow\" : \"PAYMENT_ON_SELECTION\",\n    \"logos\" : [ {\n      \"setName\" : \"official\",\n      \"variant\" : \"DETAILS\",\n      \"uri\" : \"http://example.com/details.png\"\n    }, {\n      \"setName\" : \"official\",\n      \"variant\" : \"LIST\",\n      \"uri\" : \"http://example.com/list.png\"\n    }, {\n      \"setName\" : \"official\",\n      \"variant\" : \"TILE\",\n      \"uri\" : \"http://example.com/tile.png\"\n    }, {\n      \"setName\" : \"official\",\n      \"variant\" : \"STOREFRONT\",\n      \"uri\" : \"http://example.com/storefront.png\"\n    } ]\n  }\n}",
                "createdAt" : "2018-10-30T13:24:39.802",
                "feature" : "app.test-app",
                "type" : "PAYMENT",
                "_id" : "83793161-97e3-4823-8716-93df18f4b6d9",
                "installationStatus" : "AVAILABLE",
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/apps/83793161-97e3-4823-8716-93df18f4b6d9"
                  }
                }
              }
          schema:
            $ref: '#/definitions/apps_appId-847214231'
      security:
      - oauth2_accessCode:
        - aapu:u
      - oauth2_application:
        - aapu:u
  /carts:
    post:
      tags:
      - carts
      summary: Create Cart
      description: ""
      operationId: cart-create
      produces:
      - application/hal+json
      responses:
        201:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "996f5d0e-3432-43bc-bf8f-6ab88e798f4a",
                "lineItems" : [ ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "867cbe33-66e9-4947-96c4-c1c8d651941f",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/84b203ec-5920-409e-af14-eae212fcc7f6/shipping-methods/867cbe33-66e9-4947-96c4-c1c8d651941f"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "ddf9d5e3-10c8-4b41-8969-c5aeeb117b6e",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/ddf9d5e3-10c8-4b41-8969-c5aeeb117b6e"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/ddf9d5e3-10c8-4b41-8969-c5aeeb117b6e"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/ddf9d5e3-10c8-4b41-8969-c5aeeb117b6e/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/ddf9d5e3-10c8-4b41-8969-c5aeeb117b6e/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 0,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/996f5d0e-3432-43bc-bf8f-6ab88e798f4a"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/996f5d0e-3432-43bc-bf8f-6ab88e798f4a/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/996f5d0e-3432-43bc-bf8f-6ab88e798f4a/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/996f5d0e-3432-43bc-bf8f-6ab88e798f4a/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/996f5d0e-3432-43bc-bf8f-6ab88e798f4a/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/996f5d0e-3432-43bc-bf8f-6ab88e798f4a/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/996f5d0e-3432-43bc-bf8f-6ab88e798f4a/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/996f5d0e-3432-43bc-bf8f-6ab88e798f4a/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/996f5d0e-3432-43bc-bf8f-6ab88e798f4a/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/996f5d0e-3432-43bc-bf8f-6ab88e798f4a/shipping-address"
                  }
                }
              }
  /carts/{cartId}:
    get:
      tags:
      - carts
      summary: Get Cart
      description: ""
      operationId: cart-get
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "ac0bba08-001d-446d-a727-7067c3fd74a3",
                "lineItems" : [ {
                  "_type" : "PRODUCT",
                  "_id" : "61c79bef-07a6-4928-94a6-a851952d97bb",
                  "_ref" : "4c473d41-ce03-496f-9a9c-0d154ac8b0b9",
                  "name" : "Power & Vanilla Coconut Protein Bar (Pack of 5)",
                  "quantity" : {
                    "value" : 1,
                    "unit" : "PIECE"
                  },
                  "singleItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "quantityInt" : 1,
                  "lineItemTax" : {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.19,
                    "currency" : "EUR",
                    "amount" : 0.9405
                  },
                  "_embedded" : {
                    "product" : {
                      "_id" : "4c473d41-ce03-496f-9a9c-0d154ac8b0b9",
                      "sku" : "EB001",
                      "essentialFeatures" : "Preservative-free. No added sweeteners. Vegan.",
                      "_links" : {
                        "product" : {
                          "href" : "https://yourshop.api.urn/product-view/products/4c473d41-ce03-496f-9a9c-0d154ac8b0b9?locale=de-DE"
                        },
                        "default-image-data" : {
                          "href" : "https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png"
                        }
                      }
                    }
                  },
                  "_links" : {
                    "self" : {
                      "href" : "https://yourshop.api.urn/carts/ac0bba08-001d-446d-a727-7067c3fd74a3/line-items/61c79bef-07a6-4928-94a6-a851952d97bb"
                    }
                  }
                } ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 50
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "13d533bf-27ac-4e3d-ab8c-09c284d1c7c7",
                      "name" : "Express",
                      "description" : "Shipping overnight, delivery on the next day.",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : {
                        "currency" : "EUR",
                        "amount" : 1000
                      },
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 50
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/ec2fe746-ef39-4e86-97ca-f85b2630ac42/shipping-methods/13d533bf-27ac-4e3d-ab8c-09c284d1c7c7"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "e0bcbb4c-dec7-4f12-b8a7-27172f1a739e",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/e0bcbb4c-dec7-4f12-b8a7-27172f1a739e"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/e0bcbb4c-dec7-4f12-b8a7-27172f1a739e"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/e0bcbb4c-dec7-4f12-b8a7-27172f1a739e/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/e0bcbb4c-dec7-4f12-b8a7-27172f1a739e/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : {
                  "salutation" : "Mrs",
                  "gender" : "FEMALE",
                  "company" : null,
                  "title" : "",
                  "firstName" : "Astrid",
                  "middleName" : "Agnes",
                  "lastName" : "Alster",
                  "street" : "Alsterwasserweg",
                  "houseNumber" : "2",
                  "street2" : "Erdgeschoss",
                  "addressExtension" : "Hinterhof",
                  "postalCode" : "20999",
                  "city" : "Alsterwasser",
                  "country" : "DE",
                  "state" : "Hamburg",
                  "email" : "a.alsterh@example.com",
                  "phone" : "(800) 555-0102",
                  "mobile" : "(800) 555-0103",
                  "displayAddressLines" : [ "Astrid Agnes Alster", "Alsterwasserweg 2", "Erdgeschoss", "Hinterhof", "20999 Alsterwasser", "DEUTSCHLAND" ],
                  "vatId" : "123456789",
                  "taxNumber" : "123-34-6789",
                  "birthDate" : "1985-03-20"
                },
                "shippingAddress" : {
                  "salutation" : "Mrs",
                  "gender" : "FEMALE",
                  "company" : null,
                  "title" : "",
                  "firstName" : "Astrid",
                  "middleName" : "Agnes",
                  "lastName" : "Alster",
                  "street" : "Alsterwasserweg",
                  "houseNumber" : "2",
                  "street2" : "Erdgeschoss",
                  "addressExtension" : "Hinterhof",
                  "postalCode" : "20999",
                  "city" : "Alsterwasser",
                  "country" : "DE",
                  "state" : "Hamburg",
                  "email" : "a.alsterh@example.com",
                  "phone" : "(800) 555-0102",
                  "mobile" : "(800) 555-0103",
                  "displayAddressLines" : [ "Astrid Agnes Alster", "Alsterwasserweg 2", "Erdgeschoss", "Hinterhof", "20999 Alsterwasser", "DEUTSCHLAND" ],
                  "doorCode" : "0185"
                },
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 4.95
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 56.95
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 56.95
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 56.95
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ {
                  "taxClass" : "REGULAR",
                  "taxRate" : 0.0,
                  "currency" : "EUR",
                  "amount" : 0
                } ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 190,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : true,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : true
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/ac0bba08-001d-446d-a727-7067c3fd74a3"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/ac0bba08-001d-446d-a727-7067c3fd74a3/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/ac0bba08-001d-446d-a727-7067c3fd74a3/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/ac0bba08-001d-446d-a727-7067c3fd74a3/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/ac0bba08-001d-446d-a727-7067c3fd74a3/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/ac0bba08-001d-446d-a727-7067c3fd74a3/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/ac0bba08-001d-446d-a727-7067c3fd74a3/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/ac0bba08-001d-446d-a727-7067c3fd74a3/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/ac0bba08-001d-446d-a727-7067c3fd74a3/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/ac0bba08-001d-446d-a727-7067c3fd74a3/shipping-address"
                  },
                  "place-order" : {
                    "href" : "https://yourshop.api.urn/carts/ac0bba08-001d-446d-a727-7067c3fd74a3/order"
                  }
                }
              }
          schema:
            $ref: '#/definitions/carts_cartId831072946'
    delete:
      tags:
      - carts
      summary: Delete Cart
      description: ""
      operationId: cart-delete
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        204:
          description: ""
          examples: {}
  /carts/{cartId}/billing-address:
    put:
      tags:
      - carts
      summary: Set Billing Address
      description: ""
      operationId: cart-set-billing-address
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_billing-address-1946356074'
        x-examples:
          application/json: '{"salutation":"Mrs","gender":"FEMALE","title":"","firstName":"Astrid","middleName":"Agnes","lastName":"Alster","street":"Alsterwasserweg","houseNumber":"2","street2":"Erdgeschoss","doorCode":"0185","addressExtension":"Hinterhof","postalCode":"20999","city":"Alsterwasser","country":"DE","state":"Hamburg","email":"a.alsterh@example.com","phone":"(800)
            555-0102","mobile":"(800) 555-0103","vatId":"123456789","taxNumber":"123-34-6789","birthDate":"1985-03-20"}'
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "82f5a5e7-b89b-463a-a069-3a9e38f9f835",
                "lineItems" : [ ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "59242f74-91a8-4975-b704-e2df1de4b668",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/934afb08-217a-4a67-9df5-7b719990f0eb/shipping-methods/59242f74-91a8-4975-b704-e2df1de4b668"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "c61e9b44-6350-4783-87d1-81c84b289a06",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/c61e9b44-6350-4783-87d1-81c84b289a06"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/c61e9b44-6350-4783-87d1-81c84b289a06"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/c61e9b44-6350-4783-87d1-81c84b289a06/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/c61e9b44-6350-4783-87d1-81c84b289a06/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : {
                  "salutation" : "Mrs",
                  "gender" : "FEMALE",
                  "company" : null,
                  "title" : "",
                  "firstName" : "Astrid",
                  "middleName" : "Agnes",
                  "lastName" : "Alster",
                  "street" : "Alsterwasserweg",
                  "houseNumber" : "2",
                  "street2" : "Erdgeschoss",
                  "addressExtension" : "Hinterhof",
                  "postalCode" : "20999",
                  "city" : "Alsterwasser",
                  "country" : "DE",
                  "state" : "Hamburg",
                  "email" : "a.alsterh@example.com",
                  "phone" : "(800) 555-0102",
                  "mobile" : "(800) 555-0103",
                  "displayAddressLines" : [ "Astrid Agnes Alster", "Alsterwasserweg 2", "Erdgeschoss", "Hinterhof", "20999 Alsterwasser", "DEUTSCHLAND" ],
                  "vatId" : "123456789",
                  "taxNumber" : "123-34-6789",
                  "birthDate" : "1985-03-20"
                },
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 0,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : true,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : true
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/82f5a5e7-b89b-463a-a069-3a9e38f9f835"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/82f5a5e7-b89b-463a-a069-3a9e38f9f835/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/82f5a5e7-b89b-463a-a069-3a9e38f9f835/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/82f5a5e7-b89b-463a-a069-3a9e38f9f835/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/82f5a5e7-b89b-463a-a069-3a9e38f9f835/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/82f5a5e7-b89b-463a-a069-3a9e38f9f835/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/82f5a5e7-b89b-463a-a069-3a9e38f9f835/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/82f5a5e7-b89b-463a-a069-3a9e38f9f835/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/82f5a5e7-b89b-463a-a069-3a9e38f9f835/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/82f5a5e7-b89b-463a-a069-3a9e38f9f835/shipping-address"
                  },
                  "place-order" : {
                    "href" : "https://yourshop.api.urn/carts/82f5a5e7-b89b-463a-a069-3a9e38f9f835/order"
                  }
                }
              }
  /carts/{cartId}/create-payment:
    post:
      tags:
      - carts
      summary: Create Payment
      description: ""
      operationId: cart-create-payment
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_create-payment2079035476'
        x-examples:
          application/json: |-
            {
              "returnUri" : "http://some.com/return",
              "cancelUri" : "http://some.com/cancel"
            }
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "approvalUri" : "http://some.com/approval"
              }
          schema:
            $ref: '#/definitions/carts_cartId_create-payment1629403420'
  /carts/{cartId}/create-payment-and-order:
    post:
      tags:
      - carts
      summary: Create Payment and Order
      description: ""
      operationId: cart-create-payment-and-order
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_create-payment-and-order1631456624'
        x-examples:
          application/json: |-
            {
              "returnUri" : "http://some.com/return",
              "cancelUri" : "http://some.com/cancel",
              "customerComment" : "Send it fast please!",
              "salesChannel" : "Storefront",
              "marketingChannel" : "Google",
              "marketingSubchannel" : "Search page 2",
              "testOrder" : false
            }
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "approvalUri" : "http://some.com/approval"
              }
          schema:
            $ref: '#/definitions/carts_cartId_create-payment1629403420'
  /carts/{cartId}/line-items:
    post:
      tags:
      - carts
      summary: Add Line Item
      description: ""
      operationId: cart-add-line-item
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_line-items-20480436'
        x-examples:
          application/json: '{"_type":"PRODUCT","_ref":"2d0671d2-8b7d-40be-99fb-6c0dfc32cb84","quantityInt":1}'
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "4cafeebb-a1f7-4922-8dbf-837b34331bba",
                "lineItems" : [ {
                  "_type" : "PRODUCT",
                  "_id" : "7d1fc8a7-6a17-4c4a-9bc1-15e446807889",
                  "_ref" : "2d0671d2-8b7d-40be-99fb-6c0dfc32cb84",
                  "name" : "Power & Vanilla Coconut Protein Bar (Pack of 5)",
                  "quantity" : {
                    "value" : 1,
                    "unit" : "PIECE"
                  },
                  "singleItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "quantityInt" : 1,
                  "lineItemTax" : {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.19,
                    "currency" : "EUR",
                    "amount" : 0.9405
                  },
                  "_embedded" : {
                    "product" : {
                      "_id" : "2d0671d2-8b7d-40be-99fb-6c0dfc32cb84",
                      "sku" : "EB001",
                      "essentialFeatures" : "Preservative-free. No added sweeteners. Vegan.",
                      "_links" : {
                        "product" : {
                          "href" : "https://yourshop.api.urn/product-view/products/2d0671d2-8b7d-40be-99fb-6c0dfc32cb84?locale=de-DE"
                        },
                        "default-image-data" : {
                          "href" : "https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png"
                        }
                      }
                    }
                  },
                  "_links" : {
                    "self" : {
                      "href" : "https://yourshop.api.urn/carts/4cafeebb-a1f7-4922-8dbf-837b34331bba/line-items/7d1fc8a7-6a17-4c4a-9bc1-15e446807889"
                    }
                  }
                } ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "071d45c2-66b7-40ea-baff-2de4fd68553e",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/318eb70c-032c-4852-a126-9849a228257e/shipping-methods/071d45c2-66b7-40ea-baff-2de4fd68553e"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "dd6beb15-0818-499e-9284-cdcac2e00bff",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/dd6beb15-0818-499e-9284-cdcac2e00bff"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/dd6beb15-0818-499e-9284-cdcac2e00bff"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/dd6beb15-0818-499e-9284-cdcac2e00bff/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/dd6beb15-0818-499e-9284-cdcac2e00bff/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 4.95
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ {
                  "taxClass" : "REGULAR",
                  "taxRate" : 0.0,
                  "currency" : "EUR",
                  "amount" : 0
                } ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 190,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/4cafeebb-a1f7-4922-8dbf-837b34331bba"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/4cafeebb-a1f7-4922-8dbf-837b34331bba/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/4cafeebb-a1f7-4922-8dbf-837b34331bba/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/4cafeebb-a1f7-4922-8dbf-837b34331bba/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/4cafeebb-a1f7-4922-8dbf-837b34331bba/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/4cafeebb-a1f7-4922-8dbf-837b34331bba/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/4cafeebb-a1f7-4922-8dbf-837b34331bba/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/4cafeebb-a1f7-4922-8dbf-837b34331bba/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/4cafeebb-a1f7-4922-8dbf-837b34331bba/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/4cafeebb-a1f7-4922-8dbf-837b34331bba/shipping-address"
                  }
                }
              }
    put:
      tags:
      - carts
      summary: Set Line Items
      description: ""
      operationId: cart-set-line-items
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_line-items-499533037'
        x-examples:
          application/json: '[{"_type":"PRODUCT","_ref":"04fd9094-1d1d-4097-a49d-fc46d445dcdf","quantityInt":1}]'
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "9dbec91f-177f-4b18-9e57-1837d56b94ce",
                "lineItems" : [ {
                  "_type" : "PRODUCT",
                  "_id" : "b94238a5-953e-4c29-8645-5e3e26002abc",
                  "_ref" : "04fd9094-1d1d-4097-a49d-fc46d445dcdf",
                  "name" : "Power & Vanilla Coconut Protein Bar (Pack of 5)",
                  "quantity" : {
                    "value" : 1,
                    "unit" : "PIECE"
                  },
                  "singleItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "quantityInt" : 1,
                  "lineItemTax" : {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.19,
                    "currency" : "EUR",
                    "amount" : 0.9405
                  },
                  "_embedded" : {
                    "product" : {
                      "_id" : "04fd9094-1d1d-4097-a49d-fc46d445dcdf",
                      "sku" : "EB001",
                      "essentialFeatures" : "Preservative-free. No added sweeteners. Vegan.",
                      "_links" : {
                        "product" : {
                          "href" : "https://yourshop.api.urn/product-view/products/04fd9094-1d1d-4097-a49d-fc46d445dcdf?locale=de-DE"
                        },
                        "default-image-data" : {
                          "href" : "https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png"
                        }
                      }
                    }
                  },
                  "_links" : {
                    "self" : {
                      "href" : "https://yourshop.api.urn/carts/9dbec91f-177f-4b18-9e57-1837d56b94ce/line-items/b94238a5-953e-4c29-8645-5e3e26002abc"
                    }
                  }
                } ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "0e39117f-c531-4f9a-bbab-6e61590e16b3",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/c1814330-c3b5-41bc-ac3f-523595e2c2c5/shipping-methods/0e39117f-c531-4f9a-bbab-6e61590e16b3"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "de586f82-f6ff-4019-bf7c-b08413e05d2f",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/de586f82-f6ff-4019-bf7c-b08413e05d2f"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/de586f82-f6ff-4019-bf7c-b08413e05d2f"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/de586f82-f6ff-4019-bf7c-b08413e05d2f/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/de586f82-f6ff-4019-bf7c-b08413e05d2f/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 4.95
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 26.94
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ {
                  "taxClass" : "REGULAR",
                  "taxRate" : 0.0,
                  "currency" : "EUR",
                  "amount" : 0
                } ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 190,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/9dbec91f-177f-4b18-9e57-1837d56b94ce"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/9dbec91f-177f-4b18-9e57-1837d56b94ce/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/9dbec91f-177f-4b18-9e57-1837d56b94ce/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/9dbec91f-177f-4b18-9e57-1837d56b94ce/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/9dbec91f-177f-4b18-9e57-1837d56b94ce/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/9dbec91f-177f-4b18-9e57-1837d56b94ce/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/9dbec91f-177f-4b18-9e57-1837d56b94ce/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/9dbec91f-177f-4b18-9e57-1837d56b94ce/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/9dbec91f-177f-4b18-9e57-1837d56b94ce/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/9dbec91f-177f-4b18-9e57-1837d56b94ce/shipping-address"
                  }
                }
              }
  /carts/{cartId}/order:
    post:
      tags:
      - carts
      summary: Order Cart
      description: ""
      operationId: cart-order
      consumes:
      - application/json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_order1787038009'
        x-examples:
          application/json: |-
            {"customerComment": "send it fast please",
              "salesChannel": "DifferentChannel",
              "marketingChannel": "Google",
              "marketingSubchannel": "Search page 2",
              "testOrder": false,
              "termsAndConditionsExplicitlyAccepted": true
            }
      responses:
        202:
          description: ""
          examples: {}
          headers:
            Location:
              type: string
              description: the link to access the order once it is created
  /carts/{cartId}/payment-methods:
    get:
      tags:
      - carts
      summary: Get Payment Methods of Cart
      description: ""
      operationId: cart-get-payment-methods
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_embedded" : {
                  "payment-methods" : [ {
                    "lineItemPrice" : {
                      "taxModel" : "GROSS",
                      "currency" : "EUR",
                      "amount" : 2
                    },
                    "selectable" : true,
                    "_embedded" : {
                      "payment-method" : {
                        "_id" : "e428ab33-8995-470c-ad26-2026564197fe",
                        "name" : "Converge",
                        "description" : "Pay with Converge",
                        "officialName" : "Converge",
                        "officialDescription" : "Pay with Converge",
                        "taxClass" : "REGULAR",
                        "discountOrFee" : {
                          "type" : "ABSOLUTE",
                          "absoluteValue" : {
                            "taxModel" : "GROSS",
                            "currency" : "EUR",
                            "amount" : 2
                          },
                          "percentageValue" : null
                        },
                        "position" : 1,
                        "serviceableCountries" : [ "DE" ],
                        "minimumOrderValue" : null,
                        "activated" : true,
                        "activeLogoSet" : null,
                        "onlinePayment" : false,
                        "_links" : {
                          "self" : {
                            "href" : "https://yourshop.api.urn/payment-methods/e428ab33-8995-470c-ad26-2026564197fe"
                          },
                          "payment-method" : {
                            "href" : "https://yourshop.api.urn/payment-methods/e428ab33-8995-470c-ad26-2026564197fe"
                          },
                          "deactivate-payment-method" : {
                            "href" : "https://yourshop.api.urn/payment-methods/e428ab33-8995-470c-ad26-2026564197fe/deactivate"
                          },
                          "payment-method-definition" : {
                            "href" : "https://yourshop.api.urn/payment-methods/e428ab33-8995-470c-ad26-2026564197fe/payment-method-definition"
                          }
                        }
                      }
                    }
                  } ]
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/23966303-95d8-47b4-ac28-f9348f5a0b07/payment-methods"
                  }
                }
              }
          schema:
            $ref: '#/definitions/apps-663923302'
  /carts/{cartId}/shipping-address:
    put:
      tags:
      - carts
      summary: Set Shipping Address
      description: ""
      operationId: cart-set-shipping-address
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_shipping-address-1619008865'
        x-examples:
          application/json: '{"salutation":"Mrs","gender":"FEMALE","title":"","firstName":"Astrid","middleName":"Agnes","lastName":"Alster","street":"Alsterwasserweg","houseNumber":"2","street2":"Erdgeschoss","doorCode":"0185","addressExtension":"Hinterhof","postalCode":"20999","city":"Alsterwasser","country":"DE","state":"Hamburg","email":"a.alsterh@example.com","phone":"(800)
            555-0102","mobile":"(800) 555-0103"}'
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "74a49d83-6eab-4f48-a82f-5f8430be0dcf",
                "lineItems" : [ ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "6bebe645-31f9-4484-b53e-911c54f7479a",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/917c438e-64c9-461a-96d9-89b9dee2f309/shipping-methods/6bebe645-31f9-4484-b53e-911c54f7479a"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "7c78ae25-5705-4799-b31f-d6017e7e12ae",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7c78ae25-5705-4799-b31f-d6017e7e12ae"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7c78ae25-5705-4799-b31f-d6017e7e12ae"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7c78ae25-5705-4799-b31f-d6017e7e12ae/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7c78ae25-5705-4799-b31f-d6017e7e12ae/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : {
                  "salutation" : "Mrs",
                  "gender" : "FEMALE",
                  "company" : null,
                  "title" : "",
                  "firstName" : "Astrid",
                  "middleName" : "Agnes",
                  "lastName" : "Alster",
                  "street" : "Alsterwasserweg",
                  "houseNumber" : "2",
                  "street2" : "Erdgeschoss",
                  "addressExtension" : "Hinterhof",
                  "postalCode" : "20999",
                  "city" : "Alsterwasser",
                  "country" : "DE",
                  "state" : "Hamburg",
                  "email" : "a.alsterh@example.com",
                  "phone" : "(800) 555-0102",
                  "mobile" : "(800) 555-0103",
                  "displayAddressLines" : [ "Astrid Agnes Alster", "Alsterwasserweg 2", "Erdgeschoss", "Hinterhof", "20999 Alsterwasser", "DEUTSCHLAND" ],
                  "doorCode" : "0185"
                },
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 0,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/74a49d83-6eab-4f48-a82f-5f8430be0dcf"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/74a49d83-6eab-4f48-a82f-5f8430be0dcf/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/74a49d83-6eab-4f48-a82f-5f8430be0dcf/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/74a49d83-6eab-4f48-a82f-5f8430be0dcf/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/74a49d83-6eab-4f48-a82f-5f8430be0dcf/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/74a49d83-6eab-4f48-a82f-5f8430be0dcf/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/74a49d83-6eab-4f48-a82f-5f8430be0dcf/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/74a49d83-6eab-4f48-a82f-5f8430be0dcf/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/74a49d83-6eab-4f48-a82f-5f8430be0dcf/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/74a49d83-6eab-4f48-a82f-5f8430be0dcf/shipping-address"
                  }
                }
              }
  /carts/{cartId}/shipping-methods:
    get:
      tags:
      - carts
      summary: Get Shipping Methods of Cart
      description: ""
      operationId: cart-get-shipping-methods
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_embedded" : {
                  "shipping-methods" : [ {
                    "lineItemPrice" : {
                      "taxModel" : "GROSS",
                      "currency" : "EUR",
                      "amount" : 19.99
                    },
                    "selectable" : true,
                    "_embedded" : {
                      "shipping-method" : {
                        "_id" : "20967f4e-5032-47d7-baff-d78900b404e0",
                        "name" : "Standard Shipping 2",
                        "description" : "Standard Shipping",
                        "taxClass" : "REGULAR",
                        "position" : 0,
                        "freeShippingValue" : null,
                        "fixedPrice" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 19.99
                        },
                        "weightBasedPrice" : null,
                        "_links" : {
                          "self" : {
                            "href" : "https://yourshop.api.urn/shipping-zones/25d0801f-94b5-45a3-ac4d-7270a4f38e46/shipping-methods/20967f4e-5032-47d7-baff-d78900b404e0"
                          }
                        }
                      }
                    }
                  } ]
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/4506448e-4474-4b36-b424-8cc1ce82c9a7/shipping-methods"
                  }
                }
              }
          schema:
            $ref: '#/definitions/google-shopping_taxonomy-309252030'
  /carts/{cartId}/line-items/{lineItemId}:
    put:
      tags:
      - carts
      summary: Replace Line Items
      description: ""
      operationId: cart-replace-line-item
      consumes:
      - application/json
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - name: lineItemId
        in: path
        description: ""
        required: true
        type: string
      - in: body
        name: ""
        required: false
        schema:
          $ref: '#/definitions/carts_cartId_line-items_lineItemId1982122337'
        x-examples:
          application/json: '{"_type":"PRODUCT","_ref":"554725c2-de37-4f61-beaf-9bb7c119c620","quantityInt":2}'
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "d521e147-9e48-4bc3-8c29-5ab36e5f272f",
                "lineItems" : [ {
                  "_type" : "PRODUCT",
                  "_id" : "a13157a0-c4aa-4d56-b1aa-25830dc17829",
                  "_ref" : "554725c2-de37-4f61-beaf-9bb7c119c620",
                  "name" : "Power & Vanilla Coconut Protein Bar (Pack of 5)",
                  "quantity" : {
                    "value" : 2,
                    "unit" : "PIECE"
                  },
                  "singleItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 4.95
                  },
                  "lineItemPrice" : {
                    "taxModel" : "NET",
                    "currency" : "EUR",
                    "amount" : 9.9
                  },
                  "quantityInt" : 2,
                  "lineItemTax" : {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.19,
                    "currency" : "EUR",
                    "amount" : 1.881
                  },
                  "_embedded" : {
                    "product" : {
                      "_id" : "554725c2-de37-4f61-beaf-9bb7c119c620",
                      "sku" : "EB001",
                      "essentialFeatures" : "Preservative-free. No added sweeteners. Vegan.",
                      "_links" : {
                        "product" : {
                          "href" : "https://yourshop.api.urn/product-view/products/554725c2-de37-4f61-beaf-9bb7c119c620?locale=de-DE"
                        },
                        "default-image-data" : {
                          "href" : "https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png"
                        }
                      }
                    }
                  },
                  "_links" : {
                    "self" : {
                      "href" : "https://yourshop.api.urn/carts/d521e147-9e48-4bc3-8c29-5ab36e5f272f/line-items/a13157a0-c4aa-4d56-b1aa-25830dc17829"
                    }
                  }
                } ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "ce69548a-784d-4fa3-a236-cf4af1410a43",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/283399ce-8fe5-4634-91dd-954b8b03e3da/shipping-methods/ce69548a-784d-4fa3-a236-cf4af1410a43"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ {
                    "taxClass" : "REGULAR",
                    "taxRate" : 0.0,
                    "currency" : "EUR",
                    "amount" : 0
                  } ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "7dca6148-c77d-4155-9112-e999aaa67542",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7dca6148-c77d-4155-9112-e999aaa67542"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7dca6148-c77d-4155-9112-e999aaa67542"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7dca6148-c77d-4155-9112-e999aaa67542/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/7dca6148-c77d-4155-9112-e999aaa67542/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 9.9
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 31.89
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 31.89
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 31.89
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ {
                  "taxClass" : "REGULAR",
                  "taxRate" : 0.0,
                  "currency" : "EUR",
                  "amount" : 0
                } ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 380,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/d521e147-9e48-4bc3-8c29-5ab36e5f272f"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/d521e147-9e48-4bc3-8c29-5ab36e5f272f/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/d521e147-9e48-4bc3-8c29-5ab36e5f272f/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/d521e147-9e48-4bc3-8c29-5ab36e5f272f/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/d521e147-9e48-4bc3-8c29-5ab36e5f272f/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/d521e147-9e48-4bc3-8c29-5ab36e5f272f/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/d521e147-9e48-4bc3-8c29-5ab36e5f272f/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/d521e147-9e48-4bc3-8c29-5ab36e5f272f/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/d521e147-9e48-4bc3-8c29-5ab36e5f272f/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/d521e147-9e48-4bc3-8c29-5ab36e5f272f/shipping-address"
                  }
                }
              }
    delete:
      tags:
      - carts
      summary: Delete Line Items
      description: ""
      operationId: cart-delete-line-item
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      - name: lineItemId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "06879c50-0596-4c01-a2f5-5b0a6a37caeb",
                "lineItems" : [ ],
                "shippingLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 19.99
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "shipping-method" : {
                      "_id" : "be6b0ebb-351e-400c-b91f-32f789ec815c",
                      "name" : "Standard Shipping 2",
                      "description" : "Standard Shipping",
                      "taxClass" : "REGULAR",
                      "position" : 0,
                      "freeShippingValue" : null,
                      "fixedPrice" : {
                        "taxModel" : "GROSS",
                        "currency" : "EUR",
                        "amount" : 19.99
                      },
                      "weightBasedPrice" : null,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/shipping-zones/bc9ffdd0-f6f9-4813-81d4-8a9173fcb759/shipping-methods/be6b0ebb-351e-400c-b91f-32f789ec815c"
                        }
                      }
                    }
                  }
                },
                "paymentLineItem" : {
                  "lineItemPrice" : {
                    "taxModel" : "GROSS",
                    "currency" : "EUR",
                    "amount" : 2
                  },
                  "lineItemTaxes" : [ ],
                  "_embedded" : {
                    "payment-method" : {
                      "_id" : "6a7a6ef4-b7ed-43a9-9d83-33e5fba90411",
                      "name" : "Converge",
                      "description" : "Pay with Converge",
                      "officialName" : "Converge",
                      "officialDescription" : "Pay with Converge",
                      "taxClass" : "REGULAR",
                      "discountOrFee" : {
                        "type" : "ABSOLUTE",
                        "absoluteValue" : {
                          "taxModel" : "GROSS",
                          "currency" : "EUR",
                          "amount" : 2
                        },
                        "percentageValue" : null
                      },
                      "position" : 1,
                      "serviceableCountries" : [ "DE" ],
                      "minimumOrderValue" : null,
                      "activated" : true,
                      "activeLogoSet" : null,
                      "onlinePayment" : false,
                      "_links" : {
                        "self" : {
                          "href" : "https://yourshop.api.urn/payment-methods/6a7a6ef4-b7ed-43a9-9d83-33e5fba90411"
                        },
                        "payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/6a7a6ef4-b7ed-43a9-9d83-33e5fba90411"
                        },
                        "deactivate-payment-method" : {
                          "href" : "https://yourshop.api.urn/payment-methods/6a7a6ef4-b7ed-43a9-9d83-33e5fba90411/deactivate"
                        },
                        "payment-method-definition" : {
                          "href" : "https://yourshop.api.urn/payment-methods/6a7a6ef4-b7ed-43a9-9d83-33e5fba90411/payment-method-definition"
                        }
                      }
                    }
                  }
                },
                "billingAddress" : null,
                "shippingAddress" : null,
                "subtotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "grandTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "balanceDue" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "netTotal" : {
                  "currency" : "EUR",
                  "amount" : 21.99
                },
                "taxTotal" : {
                  "currency" : "EUR",
                  "amount" : 0
                },
                "taxes" : [ ],
                "taxable" : true,
                "minimumOrderValue" : {
                  "currency" : "EUR",
                  "amount" : 12
                },
                "mustAcceptTermsAndConditions" : false,
                "weight" : 0,
                "checkoutState" : {
                  "shippingMethodValid" : true,
                  "shippingMethodSelectable" : true,
                  "paymentMethodValid" : true,
                  "paymentMethodSelectable" : true,
                  "billingAddressSet" : false,
                  "priceValidToOrder" : true,
                  "paymentTransactionStatus" : "NO_APPROVAL_NEEDED",
                  "readyToOrder" : false
                },
                "_links" : {
                  "self" : {
                    "href" : "https://yourshop.api.urn/carts/06879c50-0596-4c01-a2f5-5b0a6a37caeb"
                  },
                  "line-items" : {
                    "href" : "https://yourshop.api.urn/carts/06879c50-0596-4c01-a2f5-5b0a6a37caeb/line-items"
                  },
                  "shipping-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/06879c50-0596-4c01-a2f5-5b0a6a37caeb/shipping-methods"
                  },
                  "shipping-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/06879c50-0596-4c01-a2f5-5b0a6a37caeb/shipping-methods/default"
                  },
                  "shipping-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/06879c50-0596-4c01-a2f5-5b0a6a37caeb/shipping-methods/current"
                  },
                  "payment-method-available" : {
                    "href" : "https://yourshop.api.urn/carts/06879c50-0596-4c01-a2f5-5b0a6a37caeb/payment-methods"
                  },
                  "payment-method-default" : {
                    "href" : "https://yourshop.api.urn/carts/06879c50-0596-4c01-a2f5-5b0a6a37caeb/payment-methods/default"
                  },
                  "payment-method-current" : {
                    "href" : "https://yourshop.api.urn/carts/06879c50-0596-4c01-a2f5-5b0a6a37caeb/payment-methods/current"
                  },
                  "billing-address" : {
                    "href" : "https://yourshop.api.urn/carts/06879c50-0596-4c01-a2f5-5b0a6a37caeb/billing-address"
                  },
                  "shipping-address" : {
                    "href" : "https://yourshop.api.urn/carts/06879c50-0596-4c01-a2f5-5b0a6a37caeb/shipping-address"
                  }
                }
              }
  /carts/{cartId}/payment-methods/current:
    get:
      tags:
      - carts
      summary: Get Payment Method of Cart
      description: ""
      operationId: cart-get-payment-methods-current
      produces:
      - application/hal+json
      parameters:
      - name: cartId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: ""
          examples:
            application/hal+json: |-
              {
                "_id" : "6b852833-84b6-4240-92c3-062a1f9f7ebe",
                "name" : "Converge",
                "description" : "Pay with Converge",
                "officialName" : "Converge",
                "officialDescription" : "Pay with Converge",
                "taxClass" : "REGULAR",
                "discountOrFee" : {
[...]
