---
swagger: "2.0"
info:
  version: "1.0.0"
  title: "Beyond REST API"
host: "api-shop.beyondshop.cloud"
basePath: "/api"
schemes:
- "https"
paths:
  /:
    get:
      summary: "Index Unauthorized"
      description: ""
      operationId: "index-unauthorized"
      produces:
      - "application/json"
      responses:
        401:
          description: ""
          examples:
            application/json: "{\"errorId\":\"unauthorized\",\"details\":{},\"message\"\
              :\"Full authentication is required to access this resource\",\"traceId\"\
              :null}"
  /add-ons/installed:
    get:
      tags:
      - "add-ons"
      summary: "List App Installations"
      description: ""
      operationId: "add-on-installations"
      produces:
      - "application/hal+json"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"add-ons\" : [ {\n\
              \      \"_id\" : \"789c8f83-3816-41af-97ef-1e061d5e35c2\",\n      \"\
              name\" : \"Better App\",\n      \"scopes\" : [ \"prod:r\", \"prod:c\"\
              \ ],\n      \"_links\" : {\n        \"self\" : {\n          \"href\"\
              \ : \"https://yourshop.api.urn/add-ons/installed/789c8f83-3816-41af-97ef-1e061d5e35c2\"\
              \n        }\n      }\n    }, {\n      \"_id\" : \"db243fc2-a6a0-4c06-b548-5c5fc78b9be7\"\
              ,\n      \"name\" : \"Awesome App\",\n      \"scopes\" : [ \"prod:r\"\
              \ ],\n      \"_links\" : {\n        \"self\" : {\n          \"href\"\
              \ : \"https://yourshop.api.urn/add-ons/installed/db243fc2-a6a0-4c06-b548-5c5fc78b9be7\"\
              \n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/add-ons/installed\"\
              \n    }\n  },\n  \"page\" : {\n    \"size\" : 10,\n    \"totalElements\"\
              \ : 2,\n    \"totalPages\" : 1,\n    \"number\" : 0\n  }\n}"
          schema:
            $ref: "#/definitions/products_productId_attributes_namespace-1206450827"
      security:
      - oauth2_accessCode:
        - "adon:r"
      - oauth2_application:
        - "adon:r"
  /add-ons/installed/{id}:
    delete:
      tags:
      - "add-ons"
      summary: "Uninstall Official App"
      description: ""
      operationId: "add-on-delete"
      parameters:
      - name: "id"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        204:
          description: ""
          examples: {}
      security:
      - oauth2_accessCode:
        - "adon:m"
      - oauth2_application:
        - "adon:m"
  /carts:
    post:
      tags:
      - "carts"
      summary: "Create Cart"
      description: ""
      operationId: "cart-create"
      produces:
      - "application/hal+json"
      responses:
        201:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ ],\n  \"shippingLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n \
              \   \"lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"shipping-method\"\
              \ : {\n        \"name\" : \"Standard Shipping 2\",\n        \"description\"\
              \ : \"Standard Shipping\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"position\" : 0,\n        \"freeShippingValue\" : null,\n  \
              \      \"fixedPrice\" : {\n          \"taxModel\" : \"GROSS\",\n   \
              \       \"currency\" : \"EUR\",\n          \"amount\" : 19.99\n    \
              \    },\n        \"weightBasedPrice\" : null,\n        \"_id\" : \"\
              6b6aa0f7-da99-46e2-be9c-39d0f99d4202\",\n        \"_links\" : {\n  \
              \        \"self\" : {\n            \"href\" : \"https://yourshop.api.urn/shipping-zones/df0f9d9f-3b03-40fc-a5c3-9358ca1d9113/shipping-methods/6b6aa0f7-da99-46e2-be9c-39d0f99d4202\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"payment-method\"\
              \ : {\n        \"name\" : \"Converge\",\n        \"description\" : \"\
              Pay with Converge\",\n        \"officialName\" : \"Converge\",\n   \
              \     \"officialDescription\" : \"Pay with Converge\",\n        \"taxClass\"\
              \ : \"REGULAR\",\n        \"discountOrFee\" : {\n          \"type\"\
              \ : \"ABSOLUTE\",\n          \"absoluteValue\" : {\n            \"taxModel\"\
              \ : \"GROSS\",\n            \"currency\" : \"EUR\",\n            \"\
              amount\" : 2\n          },\n          \"percentageValue\" : null\n \
              \       },\n        \"position\" : 1,\n        \"serviceableCountries\"\
              \ : [ \"DE\" ],\n        \"minimumOrderValue\" : null,\n        \"activated\"\
              \ : true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/b0165b47-e611-4811-8731-635e9e2fb82d\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/b0165b47-e611-4811-8731-635e9e2fb82d\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/b0165b47-e611-4811-8731-635e9e2fb82d/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/b0165b47-e611-4811-8731-635e9e2fb82d/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"b0165b47-e611-4811-8731-635e9e2fb82d\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 0\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n   \
              \ \"amount\" : 21.99\n  },\n  \"balanceDue\" : {\n    \"currency\" :\
              \ \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"netTotal\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ ],\n  \"taxable\" : true,\n  \"minimumOrderValue\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\"\
              \ : false,\n  \"weight\" : 0,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/044ce7e8-fe0f-4a58-944f-92c4ff71551c\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/044ce7e8-fe0f-4a58-944f-92c4ff71551c/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/044ce7e8-fe0f-4a58-944f-92c4ff71551c/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/044ce7e8-fe0f-4a58-944f-92c4ff71551c/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/044ce7e8-fe0f-4a58-944f-92c4ff71551c/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/044ce7e8-fe0f-4a58-944f-92c4ff71551c/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/044ce7e8-fe0f-4a58-944f-92c4ff71551c/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/044ce7e8-fe0f-4a58-944f-92c4ff71551c/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/044ce7e8-fe0f-4a58-944f-92c4ff71551c/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/044ce7e8-fe0f-4a58-944f-92c4ff71551c/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"044ce7e8-fe0f-4a58-944f-92c4ff71551c\"\n\
              }"
  /carts/{cartId}:
    get:
      tags:
      - "carts"
      summary: "Get Cart"
      description: ""
      operationId: "cart-get"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ {\n    \"_type\" : \"PRODUCT\"\
              ,\n    \"_id\" : \"ed254c62-3e3e-481e-b809-69b8b9098825\",\n    \"_ref\"\
              \ : \"9f3ae4ff-d3dd-470e-abbb-9b18188f0126\",\n    \"name\" : \"Power\
              \ & Vanilla Coconut Protein Bar (Pack of 5)\",\n    \"quantity\" : {\n\
              \      \"value\" : 1,\n      \"unit\" : \"PIECE\"\n    },\n    \"singleItemPrice\"\
              \ : {\n      \"taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n\
              \      \"amount\" : 4.95\n    },\n    \"lineItemPrice\" : {\n      \"\
              taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 4.95\n    },\n    \"_embedded\" : {\n      \"product\" : {\n   \
              \     \"_id\" : \"9f3ae4ff-d3dd-470e-abbb-9b18188f0126\",\n        \"\
              sku\" : \"EB001\",\n        \"essentialFeatures\" : \"Preservative-free.\
              \ No added sweeteners. Vegan.\",\n        \"_links\" : {\n         \
              \ \"product\" : {\n            \"href\" : \"https://yourshop.api.urn/product-view/products/9f3ae4ff-d3dd-470e-abbb-9b18188f0126?locale=de-DE\"\
              \n          },\n          \"default-image-data\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n          }\n        }\n      }\n    },\n    \"quantityInt\" : 1,\n\
              \    \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 0.9405\n    },\n    \"_links\" : {\n      \"self\" : {\n        \"\
              href\" : \"https://yourshop.api.urn/carts/147c6c18-6596-477a-9d02-6a9ea9305c36/line-items/ed254c62-3e3e-481e-b809-69b8b9098825\"\
              \n      }\n    }\n  } ],\n  \"shippingLineItem\" : {\n    \"lineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 19.99\n    },\n    \"lineItemTaxes\" : [ {\n \
              \     \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.0,\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 0\n    } ],\n    \"_embedded\"\
              \ : {\n      \"shipping-method\" : {\n        \"name\" : \"Standard\
              \ Shipping 2\",\n        \"description\" : \"Standard Shipping\",\n\
              \        \"taxClass\" : \"REGULAR\",\n        \"position\" : 0,\n  \
              \      \"freeShippingValue\" : null,\n        \"fixedPrice\" : {\n \
              \         \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\"\
              ,\n          \"amount\" : 19.99\n        },\n        \"weightBasedPrice\"\
              \ : null,\n        \"_id\" : \"1a6ef51d-f421-4cb7-b325-a8c1c5270f41\"\
              ,\n        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/shipping-zones/666a43e9-62b1-45fd-9a7b-87ea8d8426d9/shipping-methods/1a6ef51d-f421-4cb7-b325-a8c1c5270f41\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ {\n      \"taxClass\" : \"REGULAR\",\n      \"taxRate\"\
              \ : 0.0,\n      \"currency\" : \"EUR\",\n      \"amount\" : 0\n    }\
              \ ],\n    \"_embedded\" : {\n      \"payment-method\" : {\n        \"\
              name\" : \"Converge\",\n        \"description\" : \"Pay with Converge\"\
              ,\n        \"officialName\" : \"Converge\",\n        \"officialDescription\"\
              \ : \"Pay with Converge\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"discountOrFee\" : {\n          \"type\" : \"ABSOLUTE\",\n \
              \         \"absoluteValue\" : {\n            \"taxModel\" : \"GROSS\"\
              ,\n            \"currency\" : \"EUR\",\n            \"amount\" : 2\n\
              \          },\n          \"percentageValue\" : null\n        },\n  \
              \      \"position\" : 1,\n        \"serviceableCountries\" : [ \"DE\"\
              \ ],\n        \"minimumOrderValue\" : null,\n        \"activated\" :\
              \ true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/4b30f96e-3e14-4191-bd4e-38108598b631\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/4b30f96e-3e14-4191-bd4e-38108598b631\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/4b30f96e-3e14-4191-bd4e-38108598b631/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/4b30f96e-3e14-4191-bd4e-38108598b631/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"4b30f96e-3e14-4191-bd4e-38108598b631\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : {\n    \"salutation\"\
              \ : \"Mrs\",\n    \"gender\" : \"FEMALE\",\n    \"company\" : null,\n\
              \    \"title\" : \"\",\n    \"firstName\" : \"Astrid\",\n    \"middleName\"\
              \ : \"Agnes\",\n    \"lastName\" : \"Alster\",\n    \"street\" : \"\
              Alsterwasserweg\",\n    \"houseNumber\" : \"2\",\n    \"street2\" :\
              \ \"Erdgeschoss\",\n    \"addressExtension\" : \"Hinterhof\",\n    \"\
              postalCode\" : \"20999\",\n    \"city\" : \"Alsterwasser\",\n    \"\
              country\" : \"DE\",\n    \"state\" : \"Hamburg\",\n    \"email\" : \"\
              a.alsterh@example.com\",\n    \"phone\" : \"(800) 555-0102\",\n    \"\
              mobile\" : \"(800) 555-0103\",\n    \"displayAddressLines\" : [ \"Astrid\
              \ Agnes Alster\", \"Alsterwasserweg 2\", \"Erdgeschoss\", \"Hinterhof\"\
              , \"20999 Alsterwasser\", \"DEUTSCHLAND\" ],\n    \"vatId\" : \"123456789\"\
              ,\n    \"taxNumber\" : \"123-34-6789\",\n    \"birthDate\" : \"1985-03-20\"\
              \n  },\n  \"shippingAddress\" : {\n    \"salutation\" : \"Mrs\",\n \
              \   \"gender\" : \"FEMALE\",\n    \"company\" : null,\n    \"title\"\
              \ : \"\",\n    \"firstName\" : \"Astrid\",\n    \"middleName\" : \"\
              Agnes\",\n    \"lastName\" : \"Alster\",\n    \"street\" : \"Alsterwasserweg\"\
              ,\n    \"houseNumber\" : \"2\",\n    \"street2\" : \"Erdgeschoss\",\n\
              \    \"addressExtension\" : \"Hinterhof\",\n    \"postalCode\" : \"\
              20999\",\n    \"city\" : \"Alsterwasser\",\n    \"country\" : \"DE\"\
              ,\n    \"state\" : \"Hamburg\",\n    \"email\" : \"a.alsterh@example.com\"\
              ,\n    \"phone\" : \"(800) 555-0102\",\n    \"mobile\" : \"(800) 555-0103\"\
              ,\n    \"displayAddressLines\" : [ \"Astrid Agnes Alster\", \"Alsterwasserweg\
              \ 2\", \"Erdgeschoss\", \"Hinterhof\", \"20999 Alsterwasser\", \"DEUTSCHLAND\"\
              \ ],\n    \"doorCode\" : \"0185\"\n  },\n  \"subtotal\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 4.95\n  },\n  \"grandTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 26.94\n  },\n \
              \ \"balanceDue\" : {\n    \"currency\" : \"EUR\",\n    \"amount\" :\
              \ 26.94\n  },\n  \"netTotal\" : {\n    \"currency\" : \"EUR\",\n   \
              \ \"amount\" : 26.94\n  },\n  \"taxTotal\" : {\n    \"currency\" : \"\
              EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\" : [ {\n    \"taxClass\"\
              \ : \"REGULAR\",\n    \"taxRate\" : 0.0,\n    \"currency\" : \"EUR\"\
              ,\n    \"amount\" : 0\n  } ],\n  \"taxable\" : true,\n  \"minimumOrderValue\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"\
              mustAcceptTermsAndConditions\" : false,\n  \"weight\" : 190,\n  \"checkoutState\"\
              \ : {\n    \"shippingMethodValid\" : true,\n    \"shippingMethodSelectable\"\
              \ : true,\n    \"paymentMethodValid\" : true,\n    \"paymentMethodSelectable\"\
              \ : true,\n    \"billingAddressSet\" : true,\n    \"priceValidToOrder\"\
              \ : true,\n    \"paymentTransactionStatus\" : \"NO_APPROVAL_NEEDED\"\
              ,\n    \"readyToOrder\" : true\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/carts/147c6c18-6596-477a-9d02-6a9ea9305c36\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/147c6c18-6596-477a-9d02-6a9ea9305c36/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/147c6c18-6596-477a-9d02-6a9ea9305c36/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/147c6c18-6596-477a-9d02-6a9ea9305c36/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/147c6c18-6596-477a-9d02-6a9ea9305c36/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/147c6c18-6596-477a-9d02-6a9ea9305c36/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/147c6c18-6596-477a-9d02-6a9ea9305c36/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/147c6c18-6596-477a-9d02-6a9ea9305c36/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/147c6c18-6596-477a-9d02-6a9ea9305c36/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/147c6c18-6596-477a-9d02-6a9ea9305c36/shipping-address\"\
              \n    },\n    \"place-order\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/147c6c18-6596-477a-9d02-6a9ea9305c36/order\"\
              \n    }\n  },\n  \"_id\" : \"147c6c18-6596-477a-9d02-6a9ea9305c36\"\n\
              }"
          schema:
            $ref: "#/definitions/carts_cartId476401674"
    delete:
      tags:
      - "carts"
      summary: "Delete Cart"
      description: ""
      operationId: "cart-delete"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        204:
          description: ""
          examples: {}
  /carts/{cartId}/billing-address:
    put:
      tags:
      - "carts"
      summary: "Set Billing Address"
      description: ""
      operationId: "cart-set-billing-address"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_billing-address281122046"
        x-examples:
          application/json: "{\"salutation\":\"Mrs\",\"gender\":\"FEMALE\",\"title\"\
            :\"\",\"firstName\":\"Astrid\",\"middleName\":\"Agnes\",\"lastName\":\"\
            Alster\",\"street\":\"Alsterwasserweg\",\"houseNumber\":\"2\",\"street2\"\
            :\"Erdgeschoss\",\"doorCode\":\"0185\",\"addressExtension\":\"Hinterhof\"\
            ,\"postalCode\":\"20999\",\"city\":\"Alsterwasser\",\"country\":\"DE\"\
            ,\"state\":\"Hamburg\",\"email\":\"a.alsterh@example.com\",\"phone\":\"\
            (800) 555-0102\",\"mobile\":\"(800) 555-0103\",\"vatId\":\"123456789\"\
            ,\"taxNumber\":\"123-34-6789\",\"birthDate\":\"1985-03-20\"}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ ],\n  \"shippingLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n \
              \   \"lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"shipping-method\"\
              \ : {\n        \"name\" : \"Standard Shipping 2\",\n        \"description\"\
              \ : \"Standard Shipping\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"position\" : 0,\n        \"freeShippingValue\" : null,\n  \
              \      \"fixedPrice\" : {\n          \"taxModel\" : \"GROSS\",\n   \
              \       \"currency\" : \"EUR\",\n          \"amount\" : 19.99\n    \
              \    },\n        \"weightBasedPrice\" : null,\n        \"_id\" : \"\
              f2d594ad-bb2b-48c9-9495-19621e181f85\",\n        \"_links\" : {\n  \
              \        \"self\" : {\n            \"href\" : \"https://yourshop.api.urn/shipping-zones/7f528d56-2c00-4658-a402-60658e3342c1/shipping-methods/f2d594ad-bb2b-48c9-9495-19621e181f85\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"payment-method\"\
              \ : {\n        \"name\" : \"Converge\",\n        \"description\" : \"\
              Pay with Converge\",\n        \"officialName\" : \"Converge\",\n   \
              \     \"officialDescription\" : \"Pay with Converge\",\n        \"taxClass\"\
              \ : \"REGULAR\",\n        \"discountOrFee\" : {\n          \"type\"\
              \ : \"ABSOLUTE\",\n          \"absoluteValue\" : {\n            \"taxModel\"\
              \ : \"GROSS\",\n            \"currency\" : \"EUR\",\n            \"\
              amount\" : 2\n          },\n          \"percentageValue\" : null\n \
              \       },\n        \"position\" : 1,\n        \"serviceableCountries\"\
              \ : [ \"DE\" ],\n        \"minimumOrderValue\" : null,\n        \"activated\"\
              \ : true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/ae36efc0-06c6-43d2-a4f0-875dd3ec6773\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/ae36efc0-06c6-43d2-a4f0-875dd3ec6773\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/ae36efc0-06c6-43d2-a4f0-875dd3ec6773/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/ae36efc0-06c6-43d2-a4f0-875dd3ec6773/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"ae36efc0-06c6-43d2-a4f0-875dd3ec6773\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : {\n    \"salutation\"\
              \ : \"Mrs\",\n    \"gender\" : \"FEMALE\",\n    \"company\" : null,\n\
              \    \"title\" : \"\",\n    \"firstName\" : \"Astrid\",\n    \"middleName\"\
              \ : \"Agnes\",\n    \"lastName\" : \"Alster\",\n    \"street\" : \"\
              Alsterwasserweg\",\n    \"houseNumber\" : \"2\",\n    \"street2\" :\
              \ \"Erdgeschoss\",\n    \"addressExtension\" : \"Hinterhof\",\n    \"\
              postalCode\" : \"20999\",\n    \"city\" : \"Alsterwasser\",\n    \"\
              country\" : \"DE\",\n    \"state\" : \"Hamburg\",\n    \"email\" : \"\
              a.alsterh@example.com\",\n    \"phone\" : \"(800) 555-0102\",\n    \"\
              mobile\" : \"(800) 555-0103\",\n    \"displayAddressLines\" : [ \"Astrid\
              \ Agnes Alster\", \"Alsterwasserweg 2\", \"Erdgeschoss\", \"Hinterhof\"\
              , \"20999 Alsterwasser\", \"DEUTSCHLAND\" ],\n    \"vatId\" : \"123456789\"\
              ,\n    \"taxNumber\" : \"123-34-6789\",\n    \"birthDate\" : \"1985-03-20\"\
              \n  },\n  \"shippingAddress\" : null,\n  \"subtotal\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 0\n  },\n  \"grandTotal\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"balanceDue\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n \
              \ \"netTotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 21.99\n\
              \  },\n  \"taxTotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 0\n  },\n  \"taxes\" : [ ],\n  \"taxable\" : true,\n  \"minimumOrderValue\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"\
              mustAcceptTermsAndConditions\" : false,\n  \"weight\" : 0,\n  \"checkoutState\"\
              \ : {\n    \"shippingMethodValid\" : true,\n    \"shippingMethodSelectable\"\
              \ : true,\n    \"paymentMethodValid\" : true,\n    \"paymentMethodSelectable\"\
              \ : true,\n    \"billingAddressSet\" : true,\n    \"priceValidToOrder\"\
              \ : true,\n    \"paymentTransactionStatus\" : \"NO_APPROVAL_NEEDED\"\
              ,\n    \"readyToOrder\" : true\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/carts/7f18b24a-6740-4aad-972e-cdd594366135\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7f18b24a-6740-4aad-972e-cdd594366135/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/7f18b24a-6740-4aad-972e-cdd594366135/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7f18b24a-6740-4aad-972e-cdd594366135/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7f18b24a-6740-4aad-972e-cdd594366135/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/7f18b24a-6740-4aad-972e-cdd594366135/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7f18b24a-6740-4aad-972e-cdd594366135/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7f18b24a-6740-4aad-972e-cdd594366135/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7f18b24a-6740-4aad-972e-cdd594366135/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7f18b24a-6740-4aad-972e-cdd594366135/shipping-address\"\
              \n    },\n    \"place-order\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7f18b24a-6740-4aad-972e-cdd594366135/order\"\
              \n    }\n  },\n  \"_id\" : \"7f18b24a-6740-4aad-972e-cdd594366135\"\n\
              }"
  /carts/{cartId}/create-payment:
    post:
      tags:
      - "carts"
      summary: "Create Payment"
      description: ""
      operationId: "cart-create-payment"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_create-payment2079035476"
        x-examples:
          application/json: "{\n  \"returnUri\" : \"http://some.com/return\",\n  \"\
            cancelUri\" : \"http://some.com/cancel\"\n}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"approvalUri\" : \"http://some.com/approval\"\
              \n}"
          schema:
            $ref: "#/definitions/carts_cartId_create-payment1985146425"
  /carts/{cartId}/create-payment-and-order:
    post:
      tags:
      - "carts"
      summary: "Create Payment and Order"
      description: ""
      operationId: "cart-create-payment-and-order"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_create-payment-and-order-473412872"
        x-examples:
          application/json: "{\n  \"returnUri\" : \"http://some.com/return\",\n  \"\
            cancelUri\" : \"http://some.com/cancel\",\n  \"customerComment\" : \"\
            Send it fast please!\",\n  \"salesChannel\" : \"Storefront\",\n  \"marketingChannel\"\
            \ : \"Google\",\n  \"marketingSubchannel\" : \"Search page 2\",\n  \"\
            testOrder\" : false\n}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"approvalUri\" : \"http://some.com/approval\"\
              \n}"
          schema:
            $ref: "#/definitions/carts_cartId_create-payment1985146425"
  /carts/{cartId}/line-items:
    post:
      tags:
      - "carts"
      summary: "Add Line Item"
      description: ""
      operationId: "cart-add-line-item"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_line-items-1723673610"
        x-examples:
          application/json: "{\"_type\":\"PRODUCT\",\"_ref\":\"398cac08-3a35-4e18-8ab0-a08499638112\"\
            ,\"quantityInt\":1}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ {\n    \"_type\" : \"PRODUCT\"\
              ,\n    \"_id\" : \"19fa873f-e76d-4e5f-8ff6-568e942be27b\",\n    \"_ref\"\
              \ : \"398cac08-3a35-4e18-8ab0-a08499638112\",\n    \"name\" : \"Power\
              \ & Vanilla Coconut Protein Bar (Pack of 5)\",\n    \"quantity\" : {\n\
              \      \"value\" : 1,\n      \"unit\" : \"PIECE\"\n    },\n    \"singleItemPrice\"\
              \ : {\n      \"taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n\
              \      \"amount\" : 4.95\n    },\n    \"lineItemPrice\" : {\n      \"\
              taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 4.95\n    },\n    \"_embedded\" : {\n      \"product\" : {\n   \
              \     \"_id\" : \"398cac08-3a35-4e18-8ab0-a08499638112\",\n        \"\
              sku\" : \"EB001\",\n        \"essentialFeatures\" : \"Preservative-free.\
              \ No added sweeteners. Vegan.\",\n        \"_links\" : {\n         \
              \ \"product\" : {\n            \"href\" : \"https://yourshop.api.urn/product-view/products/398cac08-3a35-4e18-8ab0-a08499638112?locale=de-DE\"\
              \n          },\n          \"default-image-data\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n          }\n        }\n      }\n    },\n    \"quantityInt\" : 1,\n\
              \    \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 0.9405\n    },\n    \"_links\" : {\n      \"self\" : {\n        \"\
              href\" : \"https://yourshop.api.urn/carts/2e74d928-913f-448c-ba28-f325f195ef98/line-items/19fa873f-e76d-4e5f-8ff6-568e942be27b\"\
              \n      }\n    }\n  } ],\n  \"shippingLineItem\" : {\n    \"lineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 19.99\n    },\n    \"lineItemTaxes\" : [ {\n \
              \     \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.0,\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 0\n    } ],\n    \"_embedded\"\
              \ : {\n      \"shipping-method\" : {\n        \"name\" : \"Standard\
              \ Shipping 2\",\n        \"description\" : \"Standard Shipping\",\n\
              \        \"taxClass\" : \"REGULAR\",\n        \"position\" : 0,\n  \
              \      \"freeShippingValue\" : null,\n        \"fixedPrice\" : {\n \
              \         \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\"\
              ,\n          \"amount\" : 19.99\n        },\n        \"weightBasedPrice\"\
              \ : null,\n        \"_id\" : \"1967f3ab-b135-4ada-b9b0-88b49dc29ae4\"\
              ,\n        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/shipping-zones/d69d5720-e130-4791-98a7-5ad48a606290/shipping-methods/1967f3ab-b135-4ada-b9b0-88b49dc29ae4\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ {\n      \"taxClass\" : \"REGULAR\",\n      \"taxRate\"\
              \ : 0.0,\n      \"currency\" : \"EUR\",\n      \"amount\" : 0\n    }\
              \ ],\n    \"_embedded\" : {\n      \"payment-method\" : {\n        \"\
              name\" : \"Converge\",\n        \"description\" : \"Pay with Converge\"\
              ,\n        \"officialName\" : \"Converge\",\n        \"officialDescription\"\
              \ : \"Pay with Converge\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"discountOrFee\" : {\n          \"type\" : \"ABSOLUTE\",\n \
              \         \"absoluteValue\" : {\n            \"taxModel\" : \"GROSS\"\
              ,\n            \"currency\" : \"EUR\",\n            \"amount\" : 2\n\
              \          },\n          \"percentageValue\" : null\n        },\n  \
              \      \"position\" : 1,\n        \"serviceableCountries\" : [ \"DE\"\
              \ ],\n        \"minimumOrderValue\" : null,\n        \"activated\" :\
              \ true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/a129fc6c-e8b8-4384-a0d8-143f1331e955\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/a129fc6c-e8b8-4384-a0d8-143f1331e955\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/a129fc6c-e8b8-4384-a0d8-143f1331e955/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/a129fc6c-e8b8-4384-a0d8-143f1331e955/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"a129fc6c-e8b8-4384-a0d8-143f1331e955\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 4.95\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 26.94\n  },\n  \"balanceDue\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 26.94\n  },\n  \"netTotal\" : {\n   \
              \ \"currency\" : \"EUR\",\n    \"amount\" : 26.94\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ {\n    \"taxClass\" : \"REGULAR\",\n    \"taxRate\" : 0.0,\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 0\n  } ],\n  \"taxable\"\
              \ : true,\n  \"minimumOrderValue\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\" : false,\n\
              \  \"weight\" : 190,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2e74d928-913f-448c-ba28-f325f195ef98\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2e74d928-913f-448c-ba28-f325f195ef98/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/2e74d928-913f-448c-ba28-f325f195ef98/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2e74d928-913f-448c-ba28-f325f195ef98/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2e74d928-913f-448c-ba28-f325f195ef98/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/2e74d928-913f-448c-ba28-f325f195ef98/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2e74d928-913f-448c-ba28-f325f195ef98/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2e74d928-913f-448c-ba28-f325f195ef98/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2e74d928-913f-448c-ba28-f325f195ef98/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2e74d928-913f-448c-ba28-f325f195ef98/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"2e74d928-913f-448c-ba28-f325f195ef98\"\n\
              }"
    put:
      tags:
      - "carts"
      summary: "Set Line Items"
      description: ""
      operationId: "cart-set-line-items"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_line-items2074878981"
        x-examples:
          application/json: "[{\"_type\":\"PRODUCT\",\"_ref\":\"38ea231b-7ae0-4a18-aea1-87be4d2c7cea\"\
            ,\"quantityInt\":1}]"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ {\n    \"_type\" : \"PRODUCT\"\
              ,\n    \"_id\" : \"b8020df7-9753-4491-a1b4-ce39a9ad8c04\",\n    \"_ref\"\
              \ : \"38ea231b-7ae0-4a18-aea1-87be4d2c7cea\",\n    \"name\" : \"Power\
              \ & Vanilla Coconut Protein Bar (Pack of 5)\",\n    \"quantity\" : {\n\
              \      \"value\" : 1,\n      \"unit\" : \"PIECE\"\n    },\n    \"singleItemPrice\"\
              \ : {\n      \"taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n\
              \      \"amount\" : 4.95\n    },\n    \"lineItemPrice\" : {\n      \"\
              taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 4.95\n    },\n    \"_embedded\" : {\n      \"product\" : {\n   \
              \     \"_id\" : \"38ea231b-7ae0-4a18-aea1-87be4d2c7cea\",\n        \"\
              sku\" : \"EB001\",\n        \"essentialFeatures\" : \"Preservative-free.\
              \ No added sweeteners. Vegan.\",\n        \"_links\" : {\n         \
              \ \"product\" : {\n            \"href\" : \"https://yourshop.api.urn/product-view/products/38ea231b-7ae0-4a18-aea1-87be4d2c7cea?locale=de-DE\"\
              \n          },\n          \"default-image-data\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n          }\n        }\n      }\n    },\n    \"quantityInt\" : 1,\n\
              \    \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 0.9405\n    },\n    \"_links\" : {\n      \"self\" : {\n        \"\
              href\" : \"https://yourshop.api.urn/carts/c410407e-fdaa-45b2-b79f-1d85cc808c36/line-items/b8020df7-9753-4491-a1b4-ce39a9ad8c04\"\
              \n      }\n    }\n  } ],\n  \"shippingLineItem\" : {\n    \"lineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 19.99\n    },\n    \"lineItemTaxes\" : [ {\n \
              \     \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.0,\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 0\n    } ],\n    \"_embedded\"\
              \ : {\n      \"shipping-method\" : {\n        \"name\" : \"Standard\
              \ Shipping 2\",\n        \"description\" : \"Standard Shipping\",\n\
              \        \"taxClass\" : \"REGULAR\",\n        \"position\" : 0,\n  \
              \      \"freeShippingValue\" : null,\n        \"fixedPrice\" : {\n \
              \         \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\"\
              ,\n          \"amount\" : 19.99\n        },\n        \"weightBasedPrice\"\
              \ : null,\n        \"_id\" : \"28a9082a-4585-42f5-bcd0-13cc575397e1\"\
              ,\n        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/shipping-zones/74bd7482-f4bb-4a36-b453-9be8efc79553/shipping-methods/28a9082a-4585-42f5-bcd0-13cc575397e1\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ {\n      \"taxClass\" : \"REGULAR\",\n      \"taxRate\"\
              \ : 0.0,\n      \"currency\" : \"EUR\",\n      \"amount\" : 0\n    }\
              \ ],\n    \"_embedded\" : {\n      \"payment-method\" : {\n        \"\
              name\" : \"Converge\",\n        \"description\" : \"Pay with Converge\"\
              ,\n        \"officialName\" : \"Converge\",\n        \"officialDescription\"\
              \ : \"Pay with Converge\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"discountOrFee\" : {\n          \"type\" : \"ABSOLUTE\",\n \
              \         \"absoluteValue\" : {\n            \"taxModel\" : \"GROSS\"\
              ,\n            \"currency\" : \"EUR\",\n            \"amount\" : 2\n\
              \          },\n          \"percentageValue\" : null\n        },\n  \
              \      \"position\" : 1,\n        \"serviceableCountries\" : [ \"DE\"\
              \ ],\n        \"minimumOrderValue\" : null,\n        \"activated\" :\
              \ true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/a73e893b-5bca-42ce-90f7-ba957d51715a\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/a73e893b-5bca-42ce-90f7-ba957d51715a\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/a73e893b-5bca-42ce-90f7-ba957d51715a/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/a73e893b-5bca-42ce-90f7-ba957d51715a/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"a73e893b-5bca-42ce-90f7-ba957d51715a\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 4.95\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 26.94\n  },\n  \"balanceDue\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 26.94\n  },\n  \"netTotal\" : {\n   \
              \ \"currency\" : \"EUR\",\n    \"amount\" : 26.94\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ {\n    \"taxClass\" : \"REGULAR\",\n    \"taxRate\" : 0.0,\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 0\n  } ],\n  \"taxable\"\
              \ : true,\n  \"minimumOrderValue\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\" : false,\n\
              \  \"weight\" : 190,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/c410407e-fdaa-45b2-b79f-1d85cc808c36\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/c410407e-fdaa-45b2-b79f-1d85cc808c36/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/c410407e-fdaa-45b2-b79f-1d85cc808c36/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/c410407e-fdaa-45b2-b79f-1d85cc808c36/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/c410407e-fdaa-45b2-b79f-1d85cc808c36/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/c410407e-fdaa-45b2-b79f-1d85cc808c36/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/c410407e-fdaa-45b2-b79f-1d85cc808c36/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/c410407e-fdaa-45b2-b79f-1d85cc808c36/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/c410407e-fdaa-45b2-b79f-1d85cc808c36/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/c410407e-fdaa-45b2-b79f-1d85cc808c36/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"c410407e-fdaa-45b2-b79f-1d85cc808c36\"\n\
              }"
  /carts/{cartId}/order:
    post:
      tags:
      - "carts"
      summary: "Order Cart"
      description: ""
      operationId: "cart-order"
      consumes:
      - "application/json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_order-317831487"
        x-examples:
          application/json: "{\"customerComment\": \"send it fast please\",\n  \"\
            salesChannel\": \"DifferentChannel\",\n  \"marketingChannel\": \"Google\"\
            ,\n  \"marketingSubchannel\": \"Search page 2\",\n  \"testOrder\": false,\n\
            \  \"termsAndConditionsExplicitlyAccepted\": true\n}"
      responses:
        202:
          description: ""
          examples: {}
          headers:
            Location:
              type: "string"
              description: "the link to access the order once it is created"
  /carts/{cartId}/payment-methods:
    get:
      tags:
      - "carts"
      summary: "Get Payment Methods of Cart"
      description: ""
      operationId: "cart-get-payment-methods"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"payment-methods\"\
              \ : [ {\n      \"lineItemPrice\" : {\n        \"taxModel\" : \"GROSS\"\
              ,\n        \"currency\" : \"EUR\",\n        \"amount\" : 2\n      },\n\
              \      \"selectable\" : true,\n      \"_embedded\" : {\n        \"payment-method\"\
              \ : {\n          \"name\" : \"Converge\",\n          \"description\"\
              \ : \"Pay with Converge\",\n          \"officialName\" : \"Converge\"\
              ,\n          \"officialDescription\" : \"Pay with Converge\",\n    \
              \      \"taxClass\" : \"REGULAR\",\n          \"discountOrFee\" : {\n\
              \            \"type\" : \"ABSOLUTE\",\n            \"absoluteValue\"\
              \ : {\n              \"taxModel\" : \"GROSS\",\n              \"currency\"\
              \ : \"EUR\",\n              \"amount\" : 2\n            },\n       \
              \     \"percentageValue\" : null\n          },\n          \"position\"\
              \ : 1,\n          \"serviceableCountries\" : [ \"DE\" ],\n         \
              \ \"minimumOrderValue\" : null,\n          \"activated\" : true,\n \
              \         \"activeLogoSet\" : null,\n          \"onlinePayment\" : false,\n\
              \          \"_links\" : {\n            \"self\" : {\n              \"\
              href\" : \"https://yourshop.api.urn/payment-methods/2ad56757-79ab-49f5-b2e7-7d6cda7ebca8\"\
              \n            },\n            \"payment-method\" : {\n             \
              \ \"href\" : \"https://yourshop.api.urn/payment-methods/2ad56757-79ab-49f5-b2e7-7d6cda7ebca8\"\
              \n            },\n            \"deactivate-payment-method\" : {\n  \
              \            \"href\" : \"https://yourshop.api.urn/payment-methods/2ad56757-79ab-49f5-b2e7-7d6cda7ebca8/deactivate\"\
              \n            },\n            \"payment-integration\" : {\n        \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/2ad56757-79ab-49f5-b2e7-7d6cda7ebca8/payment-integration\"\
              \n            }\n          },\n          \"_id\" : \"2ad56757-79ab-49f5-b2e7-7d6cda7ebca8\"\
              \n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/carts/74cf4a89-5a43-450f-86e0-5ef7c1fb923b/payment-methods\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/carts_cartId_payment-methods-663923302"
  /carts/{cartId}/shipping-address:
    put:
      tags:
      - "carts"
      summary: "Set Shipping Address"
      description: ""
      operationId: "cart-set-shipping-address"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_shipping-address608469255"
        x-examples:
          application/json: "{\"salutation\":\"Mrs\",\"gender\":\"FEMALE\",\"title\"\
            :\"\",\"firstName\":\"Astrid\",\"middleName\":\"Agnes\",\"lastName\":\"\
            Alster\",\"street\":\"Alsterwasserweg\",\"houseNumber\":\"2\",\"street2\"\
            :\"Erdgeschoss\",\"doorCode\":\"0185\",\"addressExtension\":\"Hinterhof\"\
            ,\"postalCode\":\"20999\",\"city\":\"Alsterwasser\",\"country\":\"DE\"\
            ,\"state\":\"Hamburg\",\"email\":\"a.alsterh@example.com\",\"phone\":\"\
            (800) 555-0102\",\"mobile\":\"(800) 555-0103\"}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ ],\n  \"shippingLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n \
              \   \"lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"shipping-method\"\
              \ : {\n        \"name\" : \"Standard Shipping 2\",\n        \"description\"\
              \ : \"Standard Shipping\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"position\" : 0,\n        \"freeShippingValue\" : null,\n  \
              \      \"fixedPrice\" : {\n          \"taxModel\" : \"GROSS\",\n   \
              \       \"currency\" : \"EUR\",\n          \"amount\" : 19.99\n    \
              \    },\n        \"weightBasedPrice\" : null,\n        \"_id\" : \"\
              d4bfbf8e-9d07-42ed-b4f4-6901df43f71a\",\n        \"_links\" : {\n  \
              \        \"self\" : {\n            \"href\" : \"https://yourshop.api.urn/shipping-zones/1d87c297-d2f3-4d02-9e67-4206d12085e4/shipping-methods/d4bfbf8e-9d07-42ed-b4f4-6901df43f71a\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"payment-method\"\
              \ : {\n        \"name\" : \"Converge\",\n        \"description\" : \"\
              Pay with Converge\",\n        \"officialName\" : \"Converge\",\n   \
              \     \"officialDescription\" : \"Pay with Converge\",\n        \"taxClass\"\
              \ : \"REGULAR\",\n        \"discountOrFee\" : {\n          \"type\"\
              \ : \"ABSOLUTE\",\n          \"absoluteValue\" : {\n            \"taxModel\"\
              \ : \"GROSS\",\n            \"currency\" : \"EUR\",\n            \"\
              amount\" : 2\n          },\n          \"percentageValue\" : null\n \
              \       },\n        \"position\" : 1,\n        \"serviceableCountries\"\
              \ : [ \"DE\" ],\n        \"minimumOrderValue\" : null,\n        \"activated\"\
              \ : true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/d022c9a7-359e-4aa9-93f0-69dd8b2ada51\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/d022c9a7-359e-4aa9-93f0-69dd8b2ada51\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/d022c9a7-359e-4aa9-93f0-69dd8b2ada51/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/d022c9a7-359e-4aa9-93f0-69dd8b2ada51/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"d022c9a7-359e-4aa9-93f0-69dd8b2ada51\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : {\n    \"salutation\" : \"Mrs\",\n    \"gender\" : \"FEMALE\",\n\
              \    \"company\" : null,\n    \"title\" : \"\",\n    \"firstName\" :\
              \ \"Astrid\",\n    \"middleName\" : \"Agnes\",\n    \"lastName\" : \"\
              Alster\",\n    \"street\" : \"Alsterwasserweg\",\n    \"houseNumber\"\
              \ : \"2\",\n    \"street2\" : \"Erdgeschoss\",\n    \"addressExtension\"\
              \ : \"Hinterhof\",\n    \"postalCode\" : \"20999\",\n    \"city\" :\
              \ \"Alsterwasser\",\n    \"country\" : \"DE\",\n    \"state\" : \"Hamburg\"\
              ,\n    \"email\" : \"a.alsterh@example.com\",\n    \"phone\" : \"(800)\
              \ 555-0102\",\n    \"mobile\" : \"(800) 555-0103\",\n    \"displayAddressLines\"\
              \ : [ \"Astrid Agnes Alster\", \"Alsterwasserweg 2\", \"Erdgeschoss\"\
              , \"Hinterhof\", \"20999 Alsterwasser\", \"DEUTSCHLAND\" ],\n    \"\
              doorCode\" : \"0185\"\n  },\n  \"subtotal\" : {\n    \"currency\" :\
              \ \"EUR\",\n    \"amount\" : 0\n  },\n  \"grandTotal\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"balanceDue\" : {\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"netTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n \
              \ \"taxTotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n\
              \  },\n  \"taxes\" : [ ],\n  \"taxable\" : true,\n  \"minimumOrderValue\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"\
              mustAcceptTermsAndConditions\" : false,\n  \"weight\" : 0,\n  \"checkoutState\"\
              \ : {\n    \"shippingMethodValid\" : true,\n    \"shippingMethodSelectable\"\
              \ : true,\n    \"paymentMethodValid\" : true,\n    \"paymentMethodSelectable\"\
              \ : true,\n    \"billingAddressSet\" : false,\n    \"priceValidToOrder\"\
              \ : true,\n    \"paymentTransactionStatus\" : \"NO_APPROVAL_NEEDED\"\
              ,\n    \"readyToOrder\" : false\n  },\n  \"_links\" : {\n    \"self\"\
              \ : {\n      \"href\" : \"https://yourshop.api.urn/carts/7b273a30-b7bb-46d2-8029-e1cfb384ad43\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7b273a30-b7bb-46d2-8029-e1cfb384ad43/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/7b273a30-b7bb-46d2-8029-e1cfb384ad43/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7b273a30-b7bb-46d2-8029-e1cfb384ad43/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7b273a30-b7bb-46d2-8029-e1cfb384ad43/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/7b273a30-b7bb-46d2-8029-e1cfb384ad43/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7b273a30-b7bb-46d2-8029-e1cfb384ad43/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7b273a30-b7bb-46d2-8029-e1cfb384ad43/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7b273a30-b7bb-46d2-8029-e1cfb384ad43/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/7b273a30-b7bb-46d2-8029-e1cfb384ad43/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"7b273a30-b7bb-46d2-8029-e1cfb384ad43\"\n\
              }"
  /carts/{cartId}/shipping-methods:
    get:
      tags:
      - "carts"
      summary: "Get Shipping Methods of Cart"
      description: ""
      operationId: "cart-get-shipping-methods"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"_embedded\" : {\n    \"shipping-methods\"\
              \ : [ {\n      \"lineItemPrice\" : {\n        \"taxModel\" : \"GROSS\"\
              ,\n        \"currency\" : \"EUR\",\n        \"amount\" : 19.99\n   \
              \   },\n      \"selectable\" : true,\n      \"_embedded\" : {\n    \
              \    \"shipping-method\" : {\n          \"name\" : \"Standard Shipping\
              \ 2\",\n          \"description\" : \"Standard Shipping\",\n       \
              \   \"taxClass\" : \"REGULAR\",\n          \"position\" : 0,\n     \
              \     \"freeShippingValue\" : null,\n          \"fixedPrice\" : {\n\
              \            \"taxModel\" : \"GROSS\",\n            \"currency\" : \"\
              EUR\",\n            \"amount\" : 19.99\n          },\n          \"weightBasedPrice\"\
              \ : null,\n          \"_id\" : \"3c493175-6fad-4762-b664-9383c21bf00e\"\
              ,\n          \"_links\" : {\n            \"self\" : {\n            \
              \  \"href\" : \"https://yourshop.api.urn/shipping-zones/6e616512-2d70-40f1-83c7-013ad51b0001/shipping-methods/3c493175-6fad-4762-b664-9383c21bf00e\"\
              \n            }\n          }\n        }\n      }\n    } ]\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/077f5adf-2cb5-45f3-9449-04a3bab66498/shipping-methods\"\
              \n    }\n  }\n}"
          schema:
            $ref: "#/definitions/carts_cartId_payment-methods-663923302"
  /carts/{cartId}/line-items/{lineItemId}:
    put:
      tags:
      - "carts"
      summary: "Replace Line Items"
      description: ""
      operationId: "cart-replace-line-item"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - name: "lineItemId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_line-items_lineItemId-433402869"
        x-examples:
          application/json: "{\"_type\":\"PRODUCT\",\"_ref\":\"9123538c-a061-4e80-9a7d-00879c634d24\"\
            ,\"quantityInt\":2}"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ {\n    \"_type\" : \"PRODUCT\"\
              ,\n    \"_id\" : \"b24b6b36-8425-4e66-8cb6-02cb4bdce756\",\n    \"_ref\"\
              \ : \"9123538c-a061-4e80-9a7d-00879c634d24\",\n    \"name\" : \"Power\
              \ & Vanilla Coconut Protein Bar (Pack of 5)\",\n    \"quantity\" : {\n\
              \      \"value\" : 2,\n      \"unit\" : \"PIECE\"\n    },\n    \"singleItemPrice\"\
              \ : {\n      \"taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n\
              \      \"amount\" : 4.95\n    },\n    \"lineItemPrice\" : {\n      \"\
              taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 9.9\n    },\n    \"_embedded\" : {\n      \"product\" : {\n    \
              \    \"_id\" : \"9123538c-a061-4e80-9a7d-00879c634d24\",\n        \"\
              sku\" : \"EB001\",\n        \"essentialFeatures\" : \"Preservative-free.\
              \ No added sweeteners. Vegan.\",\n        \"_links\" : {\n         \
              \ \"product\" : {\n            \"href\" : \"https://yourshop.api.urn/product-view/products/9123538c-a061-4e80-9a7d-00879c634d24?locale=de-DE\"\
              \n          },\n          \"default-image-data\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n          }\n        }\n      }\n    },\n    \"quantityInt\" : 2,\n\
              \    \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 1.881\n    },\n    \"_links\" : {\n      \"self\" : {\n        \"\
              href\" : \"https://yourshop.api.urn/carts/2345badf-3929-4901-b760-c199d5079461/line-items/b24b6b36-8425-4e66-8cb6-02cb4bdce756\"\
              \n      }\n    }\n  } ],\n  \"shippingLineItem\" : {\n    \"lineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 19.99\n    },\n    \"lineItemTaxes\" : [ {\n \
              \     \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.0,\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 0\n    } ],\n    \"_embedded\"\
              \ : {\n      \"shipping-method\" : {\n        \"name\" : \"Standard\
              \ Shipping 2\",\n        \"description\" : \"Standard Shipping\",\n\
              \        \"taxClass\" : \"REGULAR\",\n        \"position\" : 0,\n  \
              \      \"freeShippingValue\" : null,\n        \"fixedPrice\" : {\n \
              \         \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\"\
              ,\n          \"amount\" : 19.99\n        },\n        \"weightBasedPrice\"\
              \ : null,\n        \"_id\" : \"06d25166-d4d1-46d4-8d36-10c4d42fe16c\"\
              ,\n        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/shipping-zones/136b9665-b68e-41ef-966c-b5fd080b063d/shipping-methods/06d25166-d4d1-46d4-8d36-10c4d42fe16c\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ {\n      \"taxClass\" : \"REGULAR\",\n      \"taxRate\"\
              \ : 0.0,\n      \"currency\" : \"EUR\",\n      \"amount\" : 0\n    }\
              \ ],\n    \"_embedded\" : {\n      \"payment-method\" : {\n        \"\
              name\" : \"Converge\",\n        \"description\" : \"Pay with Converge\"\
              ,\n        \"officialName\" : \"Converge\",\n        \"officialDescription\"\
              \ : \"Pay with Converge\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"discountOrFee\" : {\n          \"type\" : \"ABSOLUTE\",\n \
              \         \"absoluteValue\" : {\n            \"taxModel\" : \"GROSS\"\
              ,\n            \"currency\" : \"EUR\",\n            \"amount\" : 2\n\
              \          },\n          \"percentageValue\" : null\n        },\n  \
              \      \"position\" : 1,\n        \"serviceableCountries\" : [ \"DE\"\
              \ ],\n        \"minimumOrderValue\" : null,\n        \"activated\" :\
              \ true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/26185c70-b4fe-4e61-a64c-b5390a4717ce\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/26185c70-b4fe-4e61-a64c-b5390a4717ce\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/26185c70-b4fe-4e61-a64c-b5390a4717ce/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/26185c70-b4fe-4e61-a64c-b5390a4717ce/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"26185c70-b4fe-4e61-a64c-b5390a4717ce\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 9.9\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n \
              \   \"amount\" : 31.89\n  },\n  \"balanceDue\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 31.89\n  },\n  \"netTotal\" : {\n   \
              \ \"currency\" : \"EUR\",\n    \"amount\" : 31.89\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ {\n    \"taxClass\" : \"REGULAR\",\n    \"taxRate\" : 0.0,\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 0\n  } ],\n  \"taxable\"\
              \ : true,\n  \"minimumOrderValue\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\" : false,\n\
              \  \"weight\" : 380,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2345badf-3929-4901-b760-c199d5079461\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2345badf-3929-4901-b760-c199d5079461/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/2345badf-3929-4901-b760-c199d5079461/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2345badf-3929-4901-b760-c199d5079461/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2345badf-3929-4901-b760-c199d5079461/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/2345badf-3929-4901-b760-c199d5079461/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2345badf-3929-4901-b760-c199d5079461/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2345badf-3929-4901-b760-c199d5079461/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2345badf-3929-4901-b760-c199d5079461/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/2345badf-3929-4901-b760-c199d5079461/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"2345badf-3929-4901-b760-c199d5079461\"\n\
              }"
    delete:
      tags:
      - "carts"
      summary: "Delete Line Items"
      description: ""
      operationId: "cart-delete-line-item"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - name: "lineItemId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"lineItems\" : [ ],\n  \"shippingLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n \
              \   \"lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"shipping-method\"\
              \ : {\n        \"name\" : \"Standard Shipping 2\",\n        \"description\"\
              \ : \"Standard Shipping\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"position\" : 0,\n        \"freeShippingValue\" : null,\n  \
              \      \"fixedPrice\" : {\n          \"taxModel\" : \"GROSS\",\n   \
              \       \"currency\" : \"EUR\",\n          \"amount\" : 19.99\n    \
              \    },\n        \"weightBasedPrice\" : null,\n        \"_id\" : \"\
              b489ca6e-1c73-4037-ab12-3bac20a671d0\",\n        \"_links\" : {\n  \
              \        \"self\" : {\n            \"href\" : \"https://yourshop.api.urn/shipping-zones/fd645f96-b286-48b5-bbbc-65125072f70b/shipping-methods/b489ca6e-1c73-4037-ab12-3bac20a671d0\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"payment-method\"\
              \ : {\n        \"name\" : \"Converge\",\n        \"description\" : \"\
              Pay with Converge\",\n        \"officialName\" : \"Converge\",\n   \
              \     \"officialDescription\" : \"Pay with Converge\",\n        \"taxClass\"\
              \ : \"REGULAR\",\n        \"discountOrFee\" : {\n          \"type\"\
              \ : \"ABSOLUTE\",\n          \"absoluteValue\" : {\n            \"taxModel\"\
              \ : \"GROSS\",\n            \"currency\" : \"EUR\",\n            \"\
              amount\" : 2\n          },\n          \"percentageValue\" : null\n \
              \       },\n        \"position\" : 1,\n        \"serviceableCountries\"\
              \ : [ \"DE\" ],\n        \"minimumOrderValue\" : null,\n        \"activated\"\
              \ : true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/13f5f6f0-cd05-419c-953b-d9cc3ae3e279\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/13f5f6f0-cd05-419c-953b-d9cc3ae3e279\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/13f5f6f0-cd05-419c-953b-d9cc3ae3e279/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/13f5f6f0-cd05-419c-953b-d9cc3ae3e279/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"13f5f6f0-cd05-419c-953b-d9cc3ae3e279\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 0\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n   \
              \ \"amount\" : 21.99\n  },\n  \"balanceDue\" : {\n    \"currency\" :\
              \ \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"netTotal\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ ],\n  \"taxable\" : true,\n  \"minimumOrderValue\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\"\
              \ : false,\n  \"weight\" : 0,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/91dbee86-12ba-427c-bc48-e623222194b4\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/91dbee86-12ba-427c-bc48-e623222194b4/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/91dbee86-12ba-427c-bc48-e623222194b4/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/91dbee86-12ba-427c-bc48-e623222194b4/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/91dbee86-12ba-427c-bc48-e623222194b4/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/91dbee86-12ba-427c-bc48-e623222194b4/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/91dbee86-12ba-427c-bc48-e623222194b4/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/91dbee86-12ba-427c-bc48-e623222194b4/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/91dbee86-12ba-427c-bc48-e623222194b4/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/91dbee86-12ba-427c-bc48-e623222194b4/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"91dbee86-12ba-427c-bc48-e623222194b4\"\n\
              }"
  /carts/{cartId}/payment-methods/current:
    get:
      tags:
      - "carts"
      summary: "Get Payment Method of Cart"
      description: ""
      operationId: "cart-get-payment-methods-current"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"name\" : \"Converge\",\n  \"description\"\
              \ : \"Pay with Converge\",\n  \"officialName\" : \"Converge\",\n  \"\
              officialDescription\" : \"Pay with Converge\",\n  \"taxClass\" : \"\
              REGULAR\",\n  \"discountOrFee\" : {\n    \"type\" : \"ABSOLUTE\",\n\
              \    \"absoluteValue\" : {\n      \"taxModel\" : \"GROSS\",\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"percentageValue\"\
              \ : null\n  },\n  \"position\" : 1,\n  \"serviceableCountries\" : [\
              \ \"DE\" ],\n  \"minimumOrderValue\" : null,\n  \"activated\" : true,\n\
              \  \"activeLogoSet\" : null,\n  \"onlinePayment\" : false,\n  \"_links\"\
              \ : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/payment-methods/6437ab77-dcc4-4b12-a811-fa0ed01ef503\"\
              \n    },\n    \"payment-method\" : {\n      \"href\" : \"https://yourshop.api.urn/payment-methods/6437ab77-dcc4-4b12-a811-fa0ed01ef503\"\
              \n    },\n    \"deactivate-payment-method\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/payment-methods/6437ab77-dcc4-4b12-a811-fa0ed01ef503/deactivate\"\
              \n    },\n    \"payment-integration\" : {\n      \"href\" : \"https://yourshop.api.urn/payment-methods/6437ab77-dcc4-4b12-a811-fa0ed01ef503/payment-integration\"\
              \n    }\n  },\n  \"_id\" : \"6437ab77-dcc4-4b12-a811-fa0ed01ef503\"\n\
              }"
    put:
      tags:
      - "carts"
      summary: "Set Payment Method of Cart"
      description: ""
      operationId: "cart-set-payment-methods-current"
      consumes:
      - "text/uri-list"
      produces:
      - "application/json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      - in: "body"
        name: ""
        required: false
        schema:
          $ref: "#/definitions/carts_cartId_payment-methods_current1622166108"
        x-examples:
          text/uri-list: "https://yourshop.api.urn/payment-methods/4274f403-581b-4f22-b8ea-b971e1c0f685"
      responses:
        200:
          description: ""
          examples:
            application/json: "{\n  \"lineItems\" : [ {\n    \"_type\" : \"PRODUCT\"\
              ,\n    \"_id\" : \"3eb7b706-3d31-46f7-b4c5-960a89576652\",\n    \"_ref\"\
              \ : \"4109b224-97c6-4084-bf60-8106090c1d27\",\n    \"name\" : \"Power\
              \ & Vanilla Coconut Protein Bar (Pack of 5)\",\n    \"quantity\" : {\n\
              \      \"value\" : 1,\n      \"unit\" : \"PIECE\"\n    },\n    \"singleItemPrice\"\
              \ : {\n      \"taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n\
              \      \"amount\" : 4.95\n    },\n    \"lineItemPrice\" : {\n      \"\
              taxModel\" : \"NET\",\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 4.95\n    },\n    \"_embedded\" : {\n      \"product\" : {\n   \
              \     \"_id\" : \"4109b224-97c6-4084-bf60-8106090c1d27\",\n        \"\
              sku\" : \"EB001\",\n        \"essentialFeatures\" : \"Preservative-free.\
              \ No added sweeteners. Vegan.\",\n        \"_links\" : {\n         \
              \ \"product\" : {\n            \"href\" : \"https://yourshop.api.urn/product-view/products/4109b224-97c6-4084-bf60-8106090c1d27?locale=de-DE\"\
              \n          },\n          \"default-image-data\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/http:/your.image.hoster.com/randomimage.png\"\
              \n          }\n        }\n      }\n    },\n    \"quantityInt\" : 1,\n\
              \    \"lineItemTax\" : {\n      \"taxClass\" : \"REGULAR\",\n      \"\
              taxRate\" : 0.19,\n      \"currency\" : \"EUR\",\n      \"amount\" :\
              \ 0.9405\n    },\n    \"_links\" : {\n      \"self\" : {\n        \"\
              href\" : \"https://yourshop.api.urn/carts/e2cde72c-6dfa-4465-95ff-6eb9b65f4617/line-items/3eb7b706-3d31-46f7-b4c5-960a89576652\"\
              \n      }\n    }\n  } ],\n  \"shippingLineItem\" : {\n    \"lineItemPrice\"\
              \ : {\n      \"taxModel\" : \"GROSS\",\n      \"currency\" : \"EUR\"\
              ,\n      \"amount\" : 19.99\n    },\n    \"lineItemTaxes\" : [ {\n \
              \     \"taxClass\" : \"REGULAR\",\n      \"taxRate\" : 0.0,\n      \"\
              currency\" : \"EUR\",\n      \"amount\" : 0\n    } ],\n    \"_embedded\"\
              \ : {\n      \"shipping-method\" : {\n        \"name\" : \"Standard\
              \ Shipping 2\",\n        \"description\" : \"Standard Shipping\",\n\
              \        \"taxClass\" : \"REGULAR\",\n        \"position\" : 0,\n  \
              \      \"freeShippingValue\" : null,\n        \"fixedPrice\" : {\n \
              \         \"taxModel\" : \"GROSS\",\n          \"currency\" : \"EUR\"\
              ,\n          \"amount\" : 19.99\n        },\n        \"weightBasedPrice\"\
              \ : null,\n        \"_id\" : \"b4797d31-1032-44b7-8ba9-063a36cec21b\"\
              ,\n        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/shipping-zones/afdc79e8-67f9-40ff-9262-a358160bb151/shipping-methods/b4797d31-1032-44b7-8ba9-063a36cec21b\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"NET\",\n  \
              \    \"currency\" : \"EUR\",\n      \"amount\" : 0.4988\n    },\n  \
              \  \"lineItemTaxes\" : [ {\n      \"taxClass\" : \"REGULAR\",\n    \
              \  \"taxRate\" : 0.0,\n      \"currency\" : \"EUR\",\n      \"amount\"\
              \ : 0\n    } ],\n    \"_embedded\" : {\n      \"payment-method\" : {\n\
              \        \"name\" : \"Credit Card\",\n        \"description\" : \"Pay\
              \ with CreditCard\",\n        \"officialName\" : \"Credit Card\",\n\
              \        \"officialDescription\" : \"Pay with CreditCard\",\n      \
              \  \"taxClass\" : \"REGULAR\",\n        \"discountOrFee\" : {\n    \
              \      \"type\" : \"PERCENTAGE\",\n          \"absoluteValue\" : null,\n\
              \          \"percentageValue\" : 0.02\n        },\n        \"position\"\
              \ : 2,\n        \"serviceableCountries\" : [ \"DE\", \"GB\" ],\n   \
              \     \"minimumOrderValue\" : {\n          \"currency\" : \"EUR\",\n\
              \          \"amount\" : 20\n        },\n        \"activated\" : true,\n\
              \        \"activeLogoSet\" : null,\n        \"onlinePayment\" : false,\n\
              \        \"_links\" : {\n          \"self\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/4274f403-581b-4f22-b8ea-b971e1c0f685\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/4274f403-581b-4f22-b8ea-b971e1c0f685\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/4274f403-581b-4f22-b8ea-b971e1c0f685/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/4274f403-581b-4f22-b8ea-b971e1c0f685/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"4274f403-581b-4f22-b8ea-b971e1c0f685\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 4.95\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 25.4388\n  },\n  \"balanceDue\" : {\n    \"currency\"\
              \ : \"EUR\",\n    \"amount\" : 25.4388\n  },\n  \"netTotal\" : {\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 25.4388\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ {\n    \"taxClass\" : \"REGULAR\",\n    \"taxRate\" : 0.0,\n \
              \   \"currency\" : \"EUR\",\n    \"amount\" : 0\n  } ],\n  \"taxable\"\
              \ : true,\n  \"minimumOrderValue\" : {\n    \"currency\" : \"EUR\",\n\
              \    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\" : false,\n\
              \  \"weight\" : 190,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : false,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e2cde72c-6dfa-4465-95ff-6eb9b65f4617\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e2cde72c-6dfa-4465-95ff-6eb9b65f4617/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/e2cde72c-6dfa-4465-95ff-6eb9b65f4617/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e2cde72c-6dfa-4465-95ff-6eb9b65f4617/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e2cde72c-6dfa-4465-95ff-6eb9b65f4617/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/e2cde72c-6dfa-4465-95ff-6eb9b65f4617/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e2cde72c-6dfa-4465-95ff-6eb9b65f4617/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e2cde72c-6dfa-4465-95ff-6eb9b65f4617/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e2cde72c-6dfa-4465-95ff-6eb9b65f4617/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/e2cde72c-6dfa-4465-95ff-6eb9b65f4617/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"e2cde72c-6dfa-4465-95ff-6eb9b65f4617\"\n\
              }"
  /carts/{cartId}/payment-methods/default:
    put:
      tags:
      - "carts"
      summary: "Set Default Payment Method"
      description: ""
      operationId: "cart-set-payment-methods-default"
      produces:
      - "application/json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/json: "{\n  \"lineItems\" : [ ],\n  \"shippingLineItem\" :\
              \ {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n  \
              \    \"currency\" : \"EUR\",\n      \"amount\" : 19.99\n    },\n   \
              \ \"lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"shipping-method\"\
              \ : {\n        \"name\" : \"Standard Shipping 2\",\n        \"description\"\
              \ : \"Standard Shipping\",\n        \"taxClass\" : \"REGULAR\",\n  \
              \      \"position\" : 0,\n        \"freeShippingValue\" : null,\n  \
              \      \"fixedPrice\" : {\n          \"taxModel\" : \"GROSS\",\n   \
              \       \"currency\" : \"EUR\",\n          \"amount\" : 19.99\n    \
              \    },\n        \"weightBasedPrice\" : null,\n        \"_id\" : \"\
              3256fb37-c9bf-4d60-ab34-f479dcf38b7b\",\n        \"_links\" : {\n  \
              \        \"self\" : {\n            \"href\" : \"https://yourshop.api.urn/shipping-zones/d890f566-1dc6-478f-ac10-d89016752d1e/shipping-methods/3256fb37-c9bf-4d60-ab34-f479dcf38b7b\"\
              \n          }\n        }\n      }\n    }\n  },\n  \"paymentLineItem\"\
              \ : {\n    \"lineItemPrice\" : {\n      \"taxModel\" : \"GROSS\",\n\
              \      \"currency\" : \"EUR\",\n      \"amount\" : 2\n    },\n    \"\
              lineItemTaxes\" : [ ],\n    \"_embedded\" : {\n      \"payment-method\"\
              \ : {\n        \"name\" : \"Converge\",\n        \"description\" : \"\
              Pay with Converge\",\n        \"officialName\" : \"Converge\",\n   \
              \     \"officialDescription\" : \"Pay with Converge\",\n        \"taxClass\"\
              \ : \"REGULAR\",\n        \"discountOrFee\" : {\n          \"type\"\
              \ : \"ABSOLUTE\",\n          \"absoluteValue\" : {\n            \"taxModel\"\
              \ : \"GROSS\",\n            \"currency\" : \"EUR\",\n            \"\
              amount\" : 2\n          },\n          \"percentageValue\" : null\n \
              \       },\n        \"position\" : 1,\n        \"serviceableCountries\"\
              \ : [ \"DE\" ],\n        \"minimumOrderValue\" : null,\n        \"activated\"\
              \ : true,\n        \"activeLogoSet\" : null,\n        \"onlinePayment\"\
              \ : false,\n        \"_links\" : {\n          \"self\" : {\n       \
              \     \"href\" : \"https://yourshop.api.urn/payment-methods/227bafbc-d0bf-4356-abc0-0a1bcada75cd\"\
              \n          },\n          \"payment-method\" : {\n            \"href\"\
              \ : \"https://yourshop.api.urn/payment-methods/227bafbc-d0bf-4356-abc0-0a1bcada75cd\"\
              \n          },\n          \"deactivate-payment-method\" : {\n      \
              \      \"href\" : \"https://yourshop.api.urn/payment-methods/227bafbc-d0bf-4356-abc0-0a1bcada75cd/deactivate\"\
              \n          },\n          \"payment-integration\" : {\n            \"\
              href\" : \"https://yourshop.api.urn/payment-methods/227bafbc-d0bf-4356-abc0-0a1bcada75cd/payment-integration\"\
              \n          }\n        },\n        \"_id\" : \"227bafbc-d0bf-4356-abc0-0a1bcada75cd\"\
              \n      }\n    }\n  },\n  \"billingAddress\" : null,\n  \"shippingAddress\"\
              \ : null,\n  \"subtotal\" : {\n    \"currency\" : \"EUR\",\n    \"amount\"\
              \ : 0\n  },\n  \"grandTotal\" : {\n    \"currency\" : \"EUR\",\n   \
              \ \"amount\" : 21.99\n  },\n  \"balanceDue\" : {\n    \"currency\" :\
              \ \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"netTotal\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 21.99\n  },\n  \"taxTotal\"\
              \ : {\n    \"currency\" : \"EUR\",\n    \"amount\" : 0\n  },\n  \"taxes\"\
              \ : [ ],\n  \"taxable\" : true,\n  \"minimumOrderValue\" : {\n    \"\
              currency\" : \"EUR\",\n    \"amount\" : 12\n  },\n  \"mustAcceptTermsAndConditions\"\
              \ : false,\n  \"weight\" : 0,\n  \"checkoutState\" : {\n    \"shippingMethodValid\"\
              \ : true,\n    \"shippingMethodSelectable\" : true,\n    \"paymentMethodValid\"\
              \ : true,\n    \"paymentMethodSelectable\" : true,\n    \"billingAddressSet\"\
              \ : false,\n    \"priceValidToOrder\" : true,\n    \"paymentTransactionStatus\"\
              \ : \"NO_APPROVAL_NEEDED\",\n    \"readyToOrder\" : false\n  },\n  \"\
              _links\" : {\n    \"self\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/82cdabe8-f78c-4949-b12e-0b96e4346ff3\"\
              \n    },\n    \"line-items\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/82cdabe8-f78c-4949-b12e-0b96e4346ff3/line-items\"\
              \n    },\n    \"shipping-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/82cdabe8-f78c-4949-b12e-0b96e4346ff3/shipping-methods\"\
              \n    },\n    \"shipping-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/82cdabe8-f78c-4949-b12e-0b96e4346ff3/shipping-methods/default\"\
              \n    },\n    \"shipping-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/82cdabe8-f78c-4949-b12e-0b96e4346ff3/shipping-methods/current\"\
              \n    },\n    \"payment-method-available\" : {\n      \"href\" : \"\
              https://yourshop.api.urn/carts/82cdabe8-f78c-4949-b12e-0b96e4346ff3/payment-methods\"\
              \n    },\n    \"payment-method-default\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/82cdabe8-f78c-4949-b12e-0b96e4346ff3/payment-methods/default\"\
              \n    },\n    \"payment-method-current\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/82cdabe8-f78c-4949-b12e-0b96e4346ff3/payment-methods/current\"\
              \n    },\n    \"billing-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/82cdabe8-f78c-4949-b12e-0b96e4346ff3/billing-address\"\
              \n    },\n    \"shipping-address\" : {\n      \"href\" : \"https://yourshop.api.urn/carts/82cdabe8-f78c-4949-b12e-0b96e4346ff3/shipping-address\"\
              \n    }\n  },\n  \"_id\" : \"82cdabe8-f78c-4949-b12e-0b96e4346ff3\"\n\
              }"
  /carts/{cartId}/shipping-methods/current:
    get:
      tags:
      - "carts"
      summary: "Get Shipping Method of Cart"
      description: ""
      operationId: "cart-get-shipping-methods-current"
      produces:
      - "application/hal+json"
      parameters:
      - name: "cartId"
        in: "path"
        description: ""
        required: true
        type: "string"
      responses:
        200:
          description: ""
          examples:
            application/hal+json: "{\n  \"name\" : \"Standard Shipping 2\",\n  \"\
              description\" : \"Standard Shipping\",\n  \"taxClass\" : \"REGULAR\"\
              ,\n  \"position\" : 0,\n  \"freeShippingValue\" : null,\n  \"fixedPrice\"\
              \ : {\n    \"taxModel\" : \"GROSS\",\n    \"currency\" : \"EUR\",\n\
[...]
